[2017-08-30 15:56] stefanocovino opened #580 "problem in centroid_com"
I have just installed photutils 0.3.2 under python 3.6.1 as provided by anaconda on Mac OS X.

However, running my code, I get this error:

File "/Users/covino/miniconda3/lib/python3.6/site-packages/photutils-0.3.2-py3.6-macosx-10.7-x86_64.egg/photutils/centroids/core.py", line 101, in centroid_com
    from skimage.measure import moments
ModuleNotFoundError: No module named 'skimage'

Thanks a lot

[2017-08-30 16:04] larrybradley commented on #580
The `scikit-image` (aka `skimage`) package is required to run the `centroid_com` function.  You can install it with conda:  `conda install scikit-image`.

[2017-08-30 16:09] stefanocovino commented on #580
Yes, I discovered it just after having written. I was surprised that after the installation there was no mention of missing packets.

Thanks anyway,

	Stefano

[2017-08-30 16:27] #580 closed

[2017-09-02 20:56] #478 closed

[2017-09-05 16:17] iskren-y-g opened #581 "Is there a class or a function to build PSF model from the stars in an image?"
Hi,

I am heavily using the IRAF's psf task in the daophot package to build a PSF model from the stars in an image. This gives the power to create a spatially variable PSF model that I can use with allstar. Is there a way to do the exact same thing within photutils? I understand that prepare_psf_model can be used to create the model, but as far as I understand you don't use stars to fit moffat or

[2017-09-05 16:50] mirca commented on #581
Hi @iskreng,

We don't have this exact feature implemented yet. But you can definitely fit analytical models to stars:

Please, let us know whether or not that helps!

[2017-09-05 16:56] iskreng commented on #581
Thanks @mirca for the ipynb link. That will be useful. It will be great if in the future one could have the possibility to create/use spatially variable PSF. Looking forward to that.

Cheers,
Iskren

[2017-09-19 14:33] bsipocz opened #582 "Timeline for python2 removal"
Is there a decision on the timeline of the python2 removal?

[2017-09-19 15:00] larrybradley commented on #582
I would like to have a `photutils` right after the `astropy 3.0` release (i.e. Jan 2018) that is python3 only.  Sound reasonable?

[2017-09-19 15:33] bsipocz commented on #582
Sounds great!

[2017-09-25 16:22] larrybradley opened #585 "Cannot get parameters for each model when there are multiple stars per group"
Followup to #577.

[2017-09-26 20:13] astrofrog opened #586 "Astropy Affiliated Package Review"
This package has been re-reviewed by the Astropy coordination committee in relation to the Astropy affiliated package ecosystem.

We have adopted a review process for affiliated package that includes assigning quantitative ‘scores’ (red/orange/green) for different categories of review. You can read up more about this process [here](https://docs.google.com/document/d/15PJf2PROXMa7xwTDvWnjXB_9KNuO2I

[2017-09-26 20:16] bsipocz commented on #586
Congratulations @larrybradley, this looks very good indeed!

[2017-09-26 22:26] #586 closed

[2017-10-08 16:52] ysBach opened #593 "Suggestion on the improvements on centroiding functions"
Currently, the centroiding functions, which are designed to find the centroid of a single source image, calculates the centroid by using input ``data`` and ``mask``.
It does suffice all the needs, but it is possible to improve it slightly and gain much convenience. **In short, I think it will be helpful if we put some "semi-automatic" masking functionality into the centroiding functions.**

This c

[2017-10-09 14:54] larrybradley commented on #593
@ysBach Many thanks for your detailed report!  I really appreciate the time you've taken to evaluate the centroiding functions!

My first impression is that adding three new keywords to all new and current centroiding functions to effectively add one line of code to modify the mask (i.e. `mask |= data < (noise_mean + thresh_sigma * noise_std)`) isn't the best approach from a developer or a user pe

[2017-10-10 16:53] mirca opened #594 "Add default values for RectangularAperture?"
I think it would make sense to give some sane default values for the attributes of some aperture classes. For instance, I think it's often the case where ``theta=0`` for ``RectangularAperture``.

What y'all think? @larrybradley @bsipocz  @eteq :)

[2017-10-10 17:29] larrybradley commented on #594
I think it's fine to set the default `theta=0` for both rectangular and elliptical apertures.  I'm inclined not to set defaults for other parameters (e.g. radius, etc.), but I'll let others weigh in.

[2017-10-10 23:14] mirca commented on #594
@larrybradley I was mostly thinking about ``theta=0`` as well

[2017-10-12 22:16] eteq opened #596 "Convert the photutils.psf photometry tools to a more flexible version"
This issue is prompted by discussion at workshop held at STScI Oct 3/4.  We settled on some modifications to the PSF photometry machinery that we think end up covering most, if not all, of the PSF photometry use cases considered by the participants at this workshop (including crowded-field HST imaging, AO, LSST/survey image deblending, galaxy model-fitting photometry, and probably some other cases

[2017-10-12 22:31] mirca commented on #596
Awesome, Erik!

[2017-10-13 16:58] ysBach commented on #593
@larrybradley Thanks for the reply and the suggestion!
Now that I hear it, I also think it's better to make an enhanced document to show the importance of the ``mask``, rather than put some additional lines to the original code.
Do you think it is better to add to the contents to the official documents or add a link to, e.g., a notebook? (I will make a separate notebook then).

[2017-10-13 17:17] bsipocz opened #599 "Example failure for mpl 2.1 and np 1.12"
A new failure started to show up on travis, and I can reproduce it with using the combination of numpy 1.12 with matplotlib 2.1.

Exact same install, but with mpl 2.0.2 does pass as does the combination of np 1.13 with mpl 2.1.

As this looks much like an upstream issue, as a quick and dirty workaround I suggest to use the 2.0.2 version in the travis job. If that sounds good, I can included that i

[2017-10-13 17:20] bsipocz commented on #599
Actually this is a false positive, the issue is detailed and fixed in #598.

[2017-10-13 17:23] larrybradley commented on #599
Yep, this the astropy table column format bug showing up again.

[2017-10-13 17:24] #599 closed

[2017-10-13 17:25] bsipocz commented on #599
It really badly tricked me, correlated so well with the local version numbers...

[2017-10-14 00:02] mjperson opened #600 "installation trouble?"
After following the installation procedures on:
http://photutils.readthedocs.io/en/stable/photutils/install.html
and testing that all needed packages were installed, I ran

[code]
It's throwing errors, but I'm unsure how to interpret the error statements...  Any thoughts on what is wrong?

The install page said to post questions here....

Thanks for any help you can provide.

[code]

[2017-10-14 00:25] bsipocz commented on #600
Hello @mjperson!

This has been fixed in the development version. The good news that this was an issue with the testing infrastructure, and was totally unrelated to photutils' functionality.

Your local workarounds could be either to downgrade pytest version to <3.2, or to install the development version of photutils.

[2017-10-14 00:25] #600 closed

[2017-10-14 00:26] mjperson commented on #600
Thank you for your quick response!

-Michael

-------------------------------------
Michael J. Person
Research Scientist, MIT Planetary Astronomy Laboratory
Director, MIT Wallace Astrophysical Observatory

MIT Bldg 54-418
77 Massachusetts Ave.
Cambridge, MA 02139

Office: 617-452-2304
Email: mjperson@mit.edu

[2017-10-20 19:28] #443 closed

[2017-10-20 19:30] larrybradley opened #605 "Document how to get uncertainties from PSF fitting"
Uncertainties from PSF fitting was added in #516, but this feature needs to be added to the narrative documentation.

cc: @mirca

[2017-10-23 14:21] larrybradley commented on #593
@ysBach If you are going to show several examples, then it is probably better to put in a notebook.
 If you do a notebook, please submit it to the `photutils-datasets` github repo and then another PR here updating the docs with the link (after the notebook is merged).  Thanks.

[2017-10-25 09:21] HBarker13 opened #606 "PSF: stars outside the image"
Hi,

I'm trying to construct a psf to make a star subtracted image. Daofind and pstselect are working fine, but when I run psf, there's an error flagged for every star saying its outside the image. Below is a snippet. I'm definitely giving psf the same filepath as the other tasks, and I've plotted the coordinates of the stars in the pstselect output list to check they are in my (4100, 2048) size i

[2017-10-25 18:57] rachel3834 opened #607 "Accessing photometric uncertainties"
I'm developing a function to perform photometry on my imaging data, along the lines of the [CrowdedFieldPSFPhotometry python notebook.](http://photutils.readthedocs.io/en/stable/photutils/psf.html)  It worked smoothly, but in examining the tabular photometry output, I was not sure how to access or compute the photometric uncertainties on the flux_fit measurements, using the objects from your packa

[2017-10-25 20:29] larrybradley commented on #607
@rachel3834 Ah!  The PSF-fitting uncertainties were added after the `0.3.2` release (https://github.com/astropy/photutils/pull/516; I should have asked you that before!).  This feature will appear in the next release, `0.4`, which will be very soon (by Oct 31).  If you don't want to wait, you could try out the photutils `dev` version (see http://photutils.readthedocs.io/en/latest/photutils/install

[2017-10-25 20:29] #607 closed

[2017-10-25 21:17] mirca commented on #606
Hi @HBarker13,

Sorry, but, can you remind me (with a piece of python code, for example) where this output come from? I don't recognize any photutils tool with this output.

Thanks!

[2017-10-26 10:07] HBarker13 commented on #606
Sorry!!! I had multiple tabs open when looking for a solution to this and posted in the wrong one. Please ignore this post - sorry again for bothering you.

[2017-10-26 11:04] #606 closed

[2017-10-30 15:19] pllim opened #612 "Enable astropy-bot in photutils"
Let's welcome our new overlord! 🤖

[2017-10-31 15:08] larrybradley commented on #552
`0.4` was released yesterday.  Thanks to everyone who contributed! 👻

[2017-10-31 15:08] #552 closed

[2017-10-31 17:17] mirca commented on #552
Awesome!! 🎉 🎉 🎉 🎉 👻👻👻👻

[2017-11-02 17:15] bsipocz commented on #345
Btw this seems to be fixed in the photutils docs in the meantime (but not astropy core). I yet to figure out what have fixed it, but if you have any recollection please let me know.

[2017-11-06 12:30] Gabriel-p opened #613 "Reasonable box_size for Background2D?"
The [2D Background and Noise Estimation](https://photutils.readthedocs.io/en/stable/background.html#d-background-and-noise-estimation) states that:

All other parameters have some reasonable default values that can be used, but not `box_size`.

Is there a reasonable rule of thumb for selecting this value? I've found that (for some frames I'm processing) a value of ~7xFWHM produces reasonably clean

[2017-11-06 16:20] larrybradley commented on #613
@Gabriel-p  I don't think this can be generalized into a universal recommendation (other than the one about source size).  The problem is that the distribution of object sizes can vary greatly between various images.  7xFWHM may work for your scene, but may not work, for example, on a galaxy cluster image with many large cluster galaxies.  If the `box_size` is less than a typical source size, then

[2017-11-06 16:25] larrybradley commented on #345
@bsipocz  Interesting!  I wasn't trying to fix this issue, but I think I did so inadvertently with this PR:
https://github.com/astropy/photutils/pull/610.  I simply moved the docs up one level from `docs/photutils` to `docs`.  😄

[2017-11-06 17:29] bsipocz commented on #345
Ohh, I see. But then it means this is seriously broken for astropy as we need to keep the subdirs around for it.

[2017-11-06 18:51] larrybradley commented on #345
Yes, my guess is that an upstream fix is really still required.

[2017-11-06 21:08] Gabriel-p commented on #613
Thanks for the answer @larrybradley. Would you say that a "general box size" is possible if we limit the cases to non-crowded frames containing only stars with reasonably similar FWHM's (for example, a standard field used for calibration)?

[2017-11-07 22:25] larrybradley commented on #613
Yes, for that particular case one could probably define a reasonable box size.  Without doing a lot of tests, I'm not sure what that size is though.  Is that your case where `7 * FWHM` gave good results?  If there is a good box size recommendation for that particular case, I'd be happy to include it in the docs.

[2017-11-08 13:05] Gabriel-p commented on #613
What I found is that for a box size < `~6*FWHM` (not 7, the FWHM is ~4.8 in the image) there are some artifacts left in the background subtracted image, and that for sizes larger than that there were no apparent changes in the subtracted image.

You can see the results in these images: https://photos.app.goo.gl/PUIgfktKwsOgHzTV2

I'm not sure if this can be generalized to all similar (ie: non crow

[2017-11-08 15:03] larrybradley commented on #613
Thanks, @Gabriel-p.  If you think there is some good recommendation that can be added to the docs for the `box_size` of non-crowded stellar-only fields, then feel free to submit a PR.

[2017-11-08 16:24] Gabriel-p commented on #613
I honestly don't know. I was hoping the issue would be more clear-cut to resolve, but it clearly is not. Please feel free to close this issue and thank you very much for your comments.

[2017-11-08 19:23] larrybradley commented on #613
Thanks, @Gabriel-p.  I tried to be descriptive as possible for recommended values, but I think this is one parameter that does require some trial and error on the part of the user for their particular scene.

[2017-11-08 19:23] #613 closed

[2017-11-10 11:14] saimn opened #616 "Deblending error"
Trying the detection & deblending code I have the following error:
[code]
I cannot share the image but will try to make a reproductible example or identify the issue. A first hint with the `source_deblended.data` and `source_segm.data` arrays below, it seems that the source in the bottom left corner appeared while deblending the big blob:

![image](https://user-images.githubusercontent.com/311639/

[2017-11-10 11:25] saimn commented on #616
I update the images to show the input image, and use the correct orientation, so the extra source is now on the bottom left ;)

Otherwise it seems to do a good job!

[2017-11-10 21:18] panossk opened #618 "issue with aperture photometry on faint sources - missing flux?"
Hi,
I'm doing some simple measurements on faint sources in HST data, using CircularAperture().
When I compare my photometry to a reference catalog I have, I notice that in the wavelengths where my sources are pretty faint, I end up missing up to 0.5 mag of flux, whereas in the longer wavelengths where my sources are bright, I find the expected values.
Being that I'm no expert in measuring photomet

[2017-11-10 21:46] larrybradley commented on #618
The `aperture_photometry` function assumes that the input `data` is properly background subtracted.  It doesn't alter the `data` in any way, but simply measures the sum of the data within the given aperture.

[2017-11-10 21:50] panossk commented on #618
thanks larry, for this information. I will have to make more tests I guess, to see if I can pinpoint the problem better, and will come back.
As far as I was told, my data are supposed to be ready for use.

[2017-11-13 14:43] Gabriel-p opened #619 "StarFinder combine roundlo & roundhi with an OR instead of an AND"
The docs say that the `roundlo, roundhi` parameters in the `StarFinder` classes are

For what I can tell this is applied with a logical `AND` to combine results from `roundness1` and `roundness2`. I've found this to rather restrictive, and combining them with an `OR` produces more reasonable results.

Am I correct that these parameters are combined with an `AND`? Could an option to combine them wi

[2017-11-14 14:11] Gabriel-p opened #620 "Add datamin & datamax values to StarFinders"
IRAF's [starfind](http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?starfind) algorithm allows to set `datamin` and `datamax` values to filter out detections.

Would be a nice (and relatively simple?) addition for both star finders.

[2017-11-14 20:21] Gabriel-p opened #623 "Why is finder=None not accepted in IterativelySubtractedPSFPhotometry?"
The `BasicPSFPhotometry` class accepts `finder=None`, but `IterativelySubtractedPSFPhotometry` [does not](https://photutils.readthedocs.io/en/stable/_modules/photutils/psf/photometry.html#IterativelySubtractedPSFPhotometry):

Why is this? I could not find an explanation anywhere in the docs.

[2017-11-14 20:48] larrybradley commented on #619
@Gabriel-p Yes, the sources reported in the table must meet *all* of the roundness (and sharpness) constraints.  This mirrors the behavior of the original `DAOFind` task.

Note that these criteria are simply used to filter the output table as the last step of `DAOStarFind`.  You could easily perform an `OR` operation on the roundness parameters in the output table, e.g.

[code]

[2017-11-14 21:30] Gabriel-p commented on #619
Thank you for the confirmation @larrybradley, yes that's exactly what I currently do. Just thought others could find the `OR` option useful. Feel free to close the issue if it doesn't sound reasonable.

[2017-11-14 22:31] mirca commented on #623
The concept behind ``IterativelySubtractedPSFPhotometry`` is that it would iterate over the residual image (i.e., the image generated by subtracting the PSFs estimated in the first iteration) in a attempt to find previously undetected sources.

[2017-11-14 22:40] Gabriel-p commented on #623
I understand, but what about the first iteration? Why couldn't it make use of already detected sources?

[2017-11-14 22:48] Gabriel-p opened #626 "Add 'verbose' mode to PSFPhotometry classes"
I'm doing PSF photometry on some crowded frames and I've been staring at a screen that shows no changes for well over 10 min now.

Could a `verbose` mode be added to these classes that would print some relevant information regarding the process as it moves forward?

[2017-11-14 23:39] mirca commented on #623
Sorry, what exactly do you mean by ``already detected sources``?

In the first iteration you can provide initial guesses in case you already know a rough estimate of the positions of the sources of interest.

For the next iterations though, a finder is needed.

If it's the case that you don't want to perform further iterations, then you might want to check out [BasicPSFPhotometry](https://photutil

[2017-11-14 23:41] mirca commented on #626
I like that idea! What you all think @eteq @bsipocz @hamogu?

[2017-11-14 23:49] Gabriel-p commented on #623
I'm sorry, I misunderstood the idea behind `finder=None` not being accepted. I thought (don't know why) that meant *initial guesses* were also not accepted for this class. I see now what you mean so I'm closing this issue. Thank you!

[2017-11-14 23:49] #623 closed

[2017-11-15 13:48] bsipocz commented on #626
Yes, this sounds sensible to me, like the rolling beachball for the terminal ;)
Can we maybe use the astropy progress bar for this?

[2017-11-15 13:55] Gabriel-p commented on #626
I was actually thinking of printing relevant information about the state of the process, rather than a progressbar. Of course, this is more complicated since those messages need to be written first.

In any case, anything beats staring at a blank screen for an hour.

[2017-11-15 14:00] #616 closed

[2017-11-15 14:12] larrybradley commented on #626
If this gets implemented, please use the astropy logger (i.e. `log.info()`) and not `print()` calls.

[2017-11-28 21:29] Gabriel-p opened #629 "Reproduce IRAF's phot task 'merr' value with aperture_photometry"
The [`phot`](http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?phot) task performs aperture photometry, returning (among many other things) the magnitude and magnitude uncertainty for each star. This uncertainty is called `merr` and is obtained as:

    merr = 1.0857 * error / flux
where

    error = sqrt(flux / epadu + area * stdev**2 +  area**2 * stdev**2 / nsky)
with

[code]

How can I reproduce this

[2017-11-29 21:11] Gabriel-p opened #630 "The source coordinates do not sample all sub-pixel positions. Reduce the value of the subsampling parameter"
I'm trying to generate a model PRF from some ~30 sources using the [DiscretePRF](http://photutils.readthedocs.io/en/stable/api/photutils.psf.sandbox.DiscretePRF.html) class, given an observed frame (`hdu_data`) and source coords (`coords`):

    prf_discrete = DiscretePRF.create_from_image(hdu_data, coords, size=15, subsampling=5)

I get:

    ValueError: The source coordinates do not sample all s

[2017-11-29 22:20] Gabriel-p commented on #581
If I understand correctly, the `create_from_image` method from the [DiscretePRF](http://photutils.readthedocs.io/en/stable/api/photutils.psf.sandbox.DiscretePRF.html) class should allow you to generate a PRF model from observed sources to use as a PSF model, as described here https://github.com/astropy/photutils-datasets/blob/master/notebooks/PSFPhotometrySpitzer.ipynb

Note that the above noteboo

[2017-12-01 22:03] Gabriel-p opened #631 "PSFPhotometry classes are really slow"
I'm testing the `DAOPhotPSFPhotometry` class with a single iteration, which as far as I understand should equal a single run of the [allstar](http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?allstar) IRAF task.

Even with fixed coordinates (obtained with a previous run of the star finder) in the IntegratedGaussianPRF `psf_model` I use, `DAOPhotPSFPhotometry` takes around 10 min to complete for ~900 sta

[2017-12-04 21:23] Gabriel-p opened #632 "Offset between IRAF and DAOPhotPSFPhotometry"
*(I'm sorry for flooding the issues with questions. Please let me know if I should give it a rest*)

I'm testing the DAOPhotPSFPhotometry class against IRAF's usual tasks for CCD PSF photometry.

Given an observed frame I first run the IRAF tasks:

1. detect sources (`daofind`)
1. aperture photometry on the sources (`phot`) to use as initial estimates of the fluxes
1. creation of the PSF model (`n

[2017-12-05 17:34] eteq commented on #632
@Gabriel-p - this is a useful comparison.  Do you have the exact syntax required to reproduce this in IRAF, or better yet, pyraf?  It might be we want to include this in the docs somewhere. I'm actually interested that it's as close as it is, given how many parameters *could* be different!

I'm not sure I'd expect it to be that close using the *IRAF* version of DAOPHOT, as the `photutils` implemen

[2017-12-05 17:37] eteq commented on #631
I expect it to be a bit slower since we haven't really done an optimizing run (and the DAOPHOT fitter is optimized for that particular problem in a way the `scipy` fitters are not), but that does seem particularly slow to me.  Could you have a very large cutout area so that it's doing a lot of simultaneous fits instead of separating out into many individual groups?  That's what I've generally seen

[2017-12-05 17:46] eteq commented on #630
`DiscretePRF` is in the sandbox because it pre-dates the most recent set of updates to `photutils.psf`.  So I'm not really sure much about the implementation details, and it's not clear when that's going to get the TLC needed to bring it out of the "sandbox".  Have you tried `FittableImageModel` though, @Gabriel-p ?  Does it not fit your needs?

[2017-12-05 18:02] eteq commented on #632
Oh and re:

Some of these are quite reasonable feature requests or possible issues (e.g. #620, #626). But in generally when you have a *question* you'll have better luck trying an environment like the facebook group, the astropy mailing list, or the astropy slack channel (e.g. http://www.astropy.org/help.html).

Admittedly, some are ambiguous - like this particular one *might* be a code issue, so

[2017-12-05 18:08] Gabriel-p commented on #630
I started using `DiscretePRF` because it seemed like the natural replacement of the old `create_prf` class used in the [PSF/PRF Photometry on Spitzer Data](https://github.com/astropy/photutils-datasets/blob/master/notebooks/PSFPhotometrySpitzer.ipynb) notebook.

I have not tried `FittableImageModel`, is there an example of its use anywhere?

[2017-12-05 18:18] Gabriel-p commented on #631
Yes, I would expect Python to be a bit slower too but this is *a lot* slower. I tried again for ~7000 sources: `DAOPhotPSFPhotometry` took almost 35 min to complete, while `allstar` again finished in just a few seconds (definitely less than a minute).

The number of groups (`group_id` column) is ~6600, so I don't think this is the reason?

[2017-12-05 20:22] Gabriel-p commented on #632
Thank you @eteq, I'll try to keep the posts here to actual issues or feature requests from now on.

I'd be happy to repeat the full IRAF vs photutils analysis but I'd need some *test* fits file to work on. That way we can all reproduce the results (also, the fits file I'm working on is part of a not-yet published set and I can't share it for now) Is there some publicly available (preferably crowde

[2017-12-07 09:10] stefanocovino opened #633 "import error for DAOStarFinder and IRAFStarFinder"
I have just updated photutils to version 0.4 (astropy is version 2.0.2) with python3.6 (anaconda).

Now, if I try to execute something like:

from photutils import DAOStarFinder

I get:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/anaconda3/lib/python3.6/site-packages/photutils-0.4-py3.6-linux-x86_64.egg/photutils/__init__.py", line 17, in <module>

[2017-12-07 10:13] stefanocovino commented on #633
Actually, it is not a problem of photutils but it seems related to different astropy installations.

  S.

[2017-12-07 14:09] larrybradley commented on #633
Yes, `photutils 0.4` requires `astropy >= 2.0`.  Make sure you have updated `astropy` in your current environment.

[2017-12-07 14:09] #633 closed

[2018-01-16 19:29] mirca commented on #632
@Gabriel-p might be something with the way that IRAF estimates the background level perhaps?

[2018-01-18 22:04] NiallMac commented on #616
Hi guys, I'm seeing this error and I'm guessing it's because I installed using conda install (from the astropy channel), and this fix hasn't made it into the release version yet? If this is the case, do you have an idea of when this will make it into the conda version? Thanks!

[2018-01-18 22:09] bsipocz commented on #616
@NiallMac - Indeed, the fix is in the development version, but not yet released.

The initial plan for the 0.5 release was a little bit after astropy 3.0 is out (it's not yet released), so I would guess it will be out in at least a few more weeks, 1-2 month time.

[2018-01-18 22:15] bsipocz commented on #616
In the meantime you can install the development version following the docs here: https://photutils.readthedocs.io/en/stable/install.html#installing-the-latest-development-version

[2018-01-20 14:00] Gabriel-p commented on #632
@mirca I have zero time right now but as soon as I can I'll re-do the test paying attention to this kind of details. Sorry I can't help more at the time.

[2018-01-22 20:15] Gabriel-p opened #637 "Unexpected behavior in aperture_photometry"
I need to process a list of sources with `aperture_photometry`. To maintain the order of the elements (used by my code somewhere else), some of these sources have `(-999.9, -999.9)` center coordinates. This value positions these sources way outside the data frame, which has minimum values of `(0, 0)`.

When I run `aperture_photometry` for my list of sources (using some fixed aperture value), I wou

[2018-01-22 20:55] larrybradley commented on #637
@Gabriel-p  If there is no intersection of the aperture with the data, then the `aperture_sum` should return `nan`.  I checked this for all of the apertures and all of the `method` options and I couldn't reproduce your issue.  Can you provide example code where this fails?

[2018-01-22 22:41] Vb2341 commented on #629
To get IRAF's `merr` nearly exactly, you actually need to do local background computation, with local background error estimation as well.  This is tricky using PhotUtils alone, but I've actually implemented it rather recently (though it seems @larrybradley also did it very recently [here](https://github.com/astropy/astropy-workshop/blob/master/09-Photutils/photutils_local_backgrounds.ipynb).  Any

[2018-01-22 23:01] Vb2341 commented on #473
Since this is an important topic for HST users/the instrument teams, I have went ahead and created some functions that are basically what are described here.  I discovered today, however, that you've also recently written the code (for the AAS231 workshop example notebooks) to some of the local background estimation using functions that **aren't** just the mean of an annulus.

I've went slightly f

[2018-01-22 23:22] Gabriel-p commented on #637
I tried reproducing this with some artificial data:

[code]

but I could not:

[code]

So I used one of my own [files](https://drive.google.com/file/d/1mx4HuRWKgF45kHcn5fFmPZe-UIcGsvxp/view?usp=sharing) (~64Mb, other than erasing the header I did not modify it):

[code]

and this is the result:

[code]

Is there something happening with my .fits files or am I not understanding something?

[2018-01-23 04:22] larrybradley commented on #637
Thanks.  I found the bug...fix coming.

[2018-01-23 11:37] Gabriel-p commented on #629
Thank you very much for your answer @Vb2341. One small note: your `compute_phot_error` function seems to assume an `epadu` (Gain) of 1. with no possibility to pass a different value from `iraf_style_photometry`. Is this for a reason or you just forgot to add the `epadu` parameter to `iraf_style_photometry`?

[2018-01-23 17:22] Vb2341 commented on #629
The reason I didn't really think about it was mainly because I was developing these tools for HST photometry, where our images are already typically in electrons rather than DN.  I can easily add it as a parameter, but I'm not sure if I'll have to apply the gain factor anywhere else.  If the image is in DN, then I _think_ it should just be the error, but I could be wrong.  I suppose if the results

[2018-01-23 23:46] Gabriel-p commented on #629
Thanks again @Vb2341! I'll check this out, compare with IRAF, and report back. If the results are close enough, I'll close the issue.

[2018-01-29 20:43] bsipocz opened #638 "Test failures due to numpy 1.14"
There are a couple of test failure due to changes in numpy 1.14, see e.g. here:

https://travis-ci.org/astropy/photutils/jobs/333608051#L1552

[2018-01-29 21:33] larrybradley commented on #638
Do you know how to fix the formatting issues in such a way that it will pass for all numpy versions?  I assume this was an output formatting change in `numpy 1.14`?

[2018-01-29 21:35] bsipocz commented on #638
I can look into a fix around the weekend or next week.

[2018-02-01 00:08] #638 closed

[2018-02-01 16:13] larrybradley opened #644 "Aperture photometry bug for subpixel mode on 32-bit"
Recent updates to the CircleCI config revealed an aperture photometry bug with `method='subpixel'` on 32-bit machines.  Example:

[code]

On 64-bit, the aperture sum result is 27.96.  On 32-bit, the aperture sum is 28.12.  The difference is due a bug somewhere in the low-level geometry `Cython` functions.

The 64-bit aperture mask is:
[code]

The 32-bit aperture mask is:
[code]

The biggest differ

[2018-02-01 16:24] astrofrog commented on #644
Thanks for figuring this out! We should update the CircleCI config in the regions package too, and we really should switch over to using the Cython code from regions to avoid having to maintain two parallel sets of Cython code.

[2018-02-01 16:31] larrybradley commented on #644
Yes, I'll submit a PR to `regions`.

Yes, I agree.  I was waiting for the geometry functions to make their way to astropy (i.e after `regions` went into `astropy`).  Using `regions` means yet another "optional-but-really-required" dependency for `photutils`.

[2018-02-01 16:38] astrofrog commented on #644
@larrybradley - it might be a while before regions makes its way into astropy core, so I wouldn't wait on that. I think it's fine to have another dependency - most users won't notice with pip/conda.

[2018-02-05 17:44] larrybradley commented on #644
Closing as @astrofrog reports this really isn't a bug (https://github.com/astropy/regions/pull/155#issuecomment-362566144).

[2018-02-05 17:44] #644 closed

[2018-02-05 20:19] abeelen opened #645 "Sources order in BasicPSFPhotometry"
When using `BasicPSFPhotometry` with Fixed Centroids the returned list of sources do not follow the same order as the input `init_guesses`, but rather the grouping order (thanks to the `hstack` at the end of the function), this could lead to confusion.

I would suggest returning the results using the same order, or to place a clear warning in the documentation and/or docstring.

[2018-02-06 00:44] #637 closed

[2018-02-06 21:08] moustakas opened #647 "generating an average surface brightness profile?"
Forgive me if this information is readily available in the documentation, but I was encouraged by @larrybradley to post this as an issue.

I'd like to take the intensity profile from ellipse-fitting and turn it into a surface brightness profile, but I'm not finding the appropriate `area` measurement within which the mean intensity has been estimated.  I thought the [`sarea` or "sector area"](http:

[2018-02-07 19:49] larrybradley commented on #647
@ibusko Can you take a look at this?

[2018-02-11 01:36] rankinstudio opened #649 "How do you install V0.4 on Ubuntu for python3?"
apt-get only installs 0.2

Thanks!

[2018-02-12 19:29] larrybradley commented on #649
@olebole do you make the `apt-get` packages for affiliated packages?

[2018-02-12 19:43] olebole commented on #649
Short answer: yes.
But it is a bit more complicated. What I currently do is to package the latest version of photutils for the next versions of Debian (and also implicitly Ubuntu). This version gets fixed when the distribution goes into a freeze (~1,5 months for Ubuntu, ~6 months for Debian). After that, the version that is directly in the distribution remains unchanged. Only bug fixes are possibl

[2018-02-12 20:13] bsipocz commented on #649
I naively ask, whether there is much benefit in doing the backports while users can easily do a `pip install photutils --user`?

[2018-02-12 20:23] rankinstudio commented on #649
On Ubuntu 16.04 I was able to get it installed by using pip3.

[2018-02-12 21:01] larrybradley commented on #649
Thanks, @olebole.  I don't see the need to backport here when `pip` can be used.

@rankinstudio Glad you got it installed.

[2018-02-12 21:01] #649 closed

[2018-02-15 01:46] typpo commented on #443
Could someone please point me to a resource that explains what level of uncertainty is considered typical for PSF photometry, and/or how to tune the input parameters to reduce uncertainty?  My residual image looks good but `flux_fit_unc` is quite large in proportion to the overall flux and I'm looking for ways to improve it.

[2018-02-15 03:09] hamogu commented on #443
@typpo I don't think there is a "typical" uncertainty. That depends a lot on what you are observing and what instrument you use. E.g. an object observed in an older, 1 m telescope with hardware that needs more love and software that was written by a grad-student in IDL long ago and has never been upgraded, might give you 50% error, while the same star observed with HST might have 1 % errors. But t

[2018-02-27 18:53] jctello opened #653 "scikit-image not specified in dependencies"
I was just attempting this tutorial: http://photutils.readthedocs.io/en/stable/psf.html
And as a consequence the file  photutils/photutils/detection/findstars.py  tries to import skimage.morphology, that error disappears by installing scikit-image

I'm new here, but should this be specified in photutils or astropy's setup.py?

[2018-02-27 19:02] larrybradley commented on #653
@jctello  Thanks for trying out the PSF tutorial.  `scikit-image` is an optional dependency of `photutils` (see http://photutils.readthedocs.io/en/stable/install.html).  We don't require installation of the optional dependencies to be able to `import photutils`, but they are needed for various functionality within `photutils` (as you've found).

`astropy` follows the same approach:  http://docs.as

[2018-03-01 09:37] jctello commented on #653
Thanks for the clarification.

I imagine it could be out of form, but it could be useful to include an exception pointing out that skimage is part of scikit-image.

[2018-03-11 21:55] astropatel opened #654 "Installing in Windows"
I am trying to install photutils on windows, with a canopy environment.

After manually downloading and running "python setup.py install", I get the following errors:

[code]

I don't understand what is going wrong. After this, I try to import photutils and I get the following error:

[code]

I don't know if those two are related. Any help would be appreciated.

I am running python 2.7.

[2018-03-12 16:14] larrybradley commented on #654
`Photutils` requires a C compiler and `Cython` to be installed.  I don't have a Windows machine, but your error message seems to indicate a problem with your C complier.  This may help (from a quick Google):

https://stackoverflow.com/questions/6228112/link-fatal-error-lnk1104-cannot-open-file-msvcrtd-lib

As an alternative, I would suggest using the `conda` package manager:  https://conda.io/mini

[2018-03-15 08:03] abeelen opened #655 "Performance issue with centroid"
I have been trying to use  `photutils.detection.find_peaks` function with the `subpixel=True` option and ran into a performance issue which prevent me to use it in a Monte Carlo simulation. I tracked this down to the `photutils.centroid.fit_2dgaussian` which use `astropy.modeling` to fit a custom 2d gaussian + constant model at each of the peaks.

Looking at `photutils.centroid.GaussianConst2D` cl

[2018-03-18 15:20] moustakas commented on #647
I think it would be generally useful for others to have an answer to this question. However, in the meantime I was able to deal with the problem by simply converting my input images to surface brightness *before* performing ellipse-fitting.

@larrybradley feel free to close this issue.

[2018-03-19 13:28] ibusko commented on #647
The mean intensity that is extracted by the 'ellipse' algorithm is already expressed as a per-unit-area quantity, in units of 'whatever per pixel'. To convert from the raw values extracted by the algorithm, to surface brightness values, all that needs to be accounted for is the conversion from pixel to whatever units you want your areas expressed in, such as arcsec-squared or similar.

I believe t

[2018-03-19 23:16] larrybradley commented on #655
@abeelen Thanks for reporting this issue.  Yes the compound model fit can be slow.   I submitted a PR (#656) to allow the `find_peaks` function to accept any centroiding function/callable, which will make it more flexible (i.e. you can pass your own fast centroid function).  One small change is that the fitted peak values are no longer returned, because the user-defined centroid function may simpl

[2018-03-22 19:43] larrybradley commented on #655
I've merged #656.  You can use the development version to try it out prior to the next release.

The fastest method would be to use the `photutils.centroids.centroid_com` function as the input `centroid_func`.  It's ~100x faster than using `photutils.centroids.centroid_2dg` (essentially the same function used for `subpixel=True`).  If you actually need a fast fitting routine, you can now input a c

[2018-03-22 19:43] #655 closed

[2018-03-26 19:28] larrybradley commented on #647
@moustakas I fixed the `sarea` unit in the documention (see #657).  Thanks!

[2018-03-26 19:28] #647 closed

[2018-04-04 21:26] rmquimby opened #660 "Inconsistent handling of apertures with negative coordinates"
How should `aperture_photometry` handle apertures with negative coordinates? I thought such positions were treated as being off the image before, but it seems that **some** negative coordinates now indicate the number of pixels to count back from the upper limit. For example, if I run the following code:
<pre>
from astropy.io import fits
from photutils import CircularAperture, RectangularAperture

[2018-04-04 22:38] larrybradley commented on #660
@rmquimby  As you suspected, this issue was fixed in #646.  A new version of `photutils` will be released soon with this fix, but in the meantime you could use the development version (see http://photutils.readthedocs.io/en/latest/install.html#installing-the-latest-development-version for installation instructions).

Here's the output with the dev version:

[code]

[2018-04-04 23:16] rmquimby commented on #660
Great, thank you for checking on this @larrybradley

[2018-04-06 06:07] ysBach opened #661 "detect_sources detects sources with npixel < npixels"
I was about to extract a large source with ``npixels > 500`` in a FITS file, but somehow ``detect_sources`` detected smaller objects (area smaller than ``npixels``).
I uploaded the test fits file [here](https://drive.google.com/open?id=1zjdbmo03KXC1A3uLQgQGv68NMZ89zU1D).
The code snippet:
[code]
As can be seen, the last three objects have 1, 14, and 1 pixels only, while I set ``npixels = 500``.
Al

[2018-04-06 21:07] larrybradley commented on #661
@ysBach Many thanks for reporting this bug.  I'm working on a fix.

[2018-04-07 02:31] #661 closed

[2018-04-11 14:52] abeelen opened #667 "find_peaks and wcs"
When `find_peaks` find no sources given a threshold, and one pass a `wcs` object, `pixel_to_skycoord` raise an `InconsistentAxisTypesError` as `x_peaks`, `y_peaks` are empy

[code]

[2018-04-11 14:59] larrybradley commented on #667
@abeelen Thanks for reporting this.  I'm working on a fix.

[2018-04-11 16:21] panossk opened #669 "how to properly deal with the warning about SIP and WCS"
Hi,
I'm working on photometry extraction of HST data (drizzled), and I have this warning/info that is printed on screen each time WCS from astropy.wcs is called, as is mentioned on this page:
[Note about SIP and WCS](http://docs.astropy.org/en/stable/wcs/note_sip.html#)

I can't figure out if it does apply coefficients that mess up the coordinates or not. It doesn't appear to be the case at the le

[2018-04-11 16:41] larrybradley commented on #669
@panossk This is an `astropy` issue with `WCS` objects, not a `photutils` issue.

You appear to have a FITS file with an inconsistent header where you have SIP coefficients, but the CTYPES do not have the -SIP suffix.  If you *want* to apply the SIP coefficients, simply update header CTYPES to include the -SIP suffix.  If you *don't want* to apply the SIP coefficients, then remove them from the he

[2018-04-11 16:43] #667 closed

[2018-04-11 16:46] #669 closed

[2018-04-11 16:48] panossk commented on #669
oh, I'm so sorry for posting this at the wrong section, I didn't pay attention on this :/
thanks for your answer.
Ok now I see them in the header.
I will consult the responsible of the data on whether we must apply them or not.
My apertures are defined on the pixel coordinates (having used wcs_world2pix before),
does what you say apply to this too?

[2018-04-11 16:59] larrybradley commented on #669
Note that `wcs_world2pix` applies only the core transformation (no distortions, including SIP).  I don't know if that is correct for your data.  If you need the SIP transforms, then your (sky) -> (x, y) transformation will be wrong.  In that case you need to use `all_world2pix` instead.

If your WCS header info is consistent, then `wcs_world2pix` and `all_world2pix` will give the same results for

[2018-04-11 17:04] panossk commented on #669
Ok, thanks for that last precision, that will come up very handy actually, in terms of double-checking.
The `all_world2pix` had skipped my mind, previously.
Many thanks for your assistance :)

[2018-04-11 20:09] panossk commented on #669
Ok, I hope I'm not spamming at this point, but in case it might be of use by future visitors,
it turns out that the difference between using  `wcs_world2pix` and `all_world2pix` is strong enough that it's impossible to miss.
So without making changes in the header, the former does the correct transformation as it does land on the target I'm interested in, whereas the other ends up in a significant

[2018-04-16 22:30] yoachim commented on #473
Ah, I was looking to see if there was a way to get medians in an aperture. Would be nice to have these folded back into `photutils`.

[2018-04-16 23:35] larrybradley commented on #473
@yoachim You can easily get the median of the pixel values in an aperture by converting the aperture to an `ApertureMask` object and then applying the mask to the data:

[code]

You need to use `method='center'` in the `to_mask()` method to extract full pixels.  The other methods produce partial-pixel masks, which then require the use of weighted statistics (which you can do).

A tutorial notebook

[2018-04-19 09:33] hujh08 opened #670 "shape of numpy ndarray"
It seems some treatments of ndarray's shape in isophote package are not right.
For example, in ellipse.py, line 183
[code]
which should be
[code]
similar sentences also exist in many other source files

[2018-04-20 17:46] yoachim commented on #473
Great example notebook, thanks!

[2018-04-25 19:46] larrybradley commented on #670
@hujh08 Thanks for reporting this.  I've fixed it in #673.

I'm also CCing the original developer:  @ibusko.

[2018-04-25 21:30] #670 closed

[2018-04-25 23:34] larrybradley commented on #654
Please reopen if you are still having issues.

[2018-04-25 23:34] #654 closed

[2018-04-25 23:36] #618 closed

[2018-04-27 13:13] #594 closed

[2018-05-15 18:58] steveehlert opened #676 "Allow for PSF_Sigma to be array of values in BasicPSFPhotometry/IntegratedGaussianPRF"
I have a project where I need to perform PSF photometry in one image (at fixed x-y positions) and fit for the psf_sigma, and then apply those same psfs to photometric measurements in another image at the same coordinates. Is there an elegant way to do this in BasicPSFPhotometry? It looks like my PSF sigma can only be a scalar.

[2018-06-06 08:12] olebole opened #677 "New version?"
The current version (0.4) has a number of test failures with numpy 1.14. They seem to be fixed in the git repository (36b1f6a6a9802d0d49d34837434630b9136cf0b2, 397bdbe11e53a1893168a92d640cc9c4d201820e, a4ec8afcd1bad1b3cc3f29223682d867ac24694c, and fbc518f41888f610b5cc5e730b750f3e4455ed99); however it would be nice to have a new proper release here that we can use for packaging in Debian & Co.
Is t

[2018-06-06 18:32] larrybradley commented on #677
@olebole  I do plan to release a new version soon (before 6/29).  I'm currently finishing up some new tools for ePSF building that I want to put in the new release.

[2018-06-15 14:08] conornally commented on #558
I have a different error using Moffat2D that i was hoping someone could give me some insight as to its origin or repair.
Initialising the fitter with:
`fitter = Moffat(alpha=2.5)`

And i have created a DiscretePRF instance (from images) to use as a psfmodel.
I get this error straight:
[log.txt](https://github.com/astropy/photutils/files/2106290/log.txt)

When using the default fitter, i dont seem

[2018-06-15 14:17] larrybradley commented on #558
@conornally `Moffat2D` is a *model* not a fitter.  Did you mean to set the `psf_model`?

Here are the astropy fitters:  http://docs.astropy.org/en/stable/modeling/#module-astropy.modeling.fitting

[2018-06-15 14:43] conornally commented on #558
ah wonderful! i must have gotten mixed up

[2018-06-19 18:12] hcferguson opened #679 "Option to feed aperture photometry a table of positions"
Given the design of the PSF-fitting routines, which accept initial guesses for the positions as a table with columns 'x_0' and 'y_0', and return a table with columns named 'x_fit' and 'y_fit' it seems like it would be convenient to users to have the aperture photometry routines accept input positions in tabular format and be able to designate which columns correspond to x and y, perhaps defaulting

[2018-06-19 19:54] whitmore999 commented on #679
Yes - This is a key capability so people can do "forced" photometry, e.g., they know there is a source at a location based on, for example, other wavelength images and they want to get a measurement  (or upper limit) at the position even if they cannot centroid on it.

[2018-06-19 20:01] hcferguson commented on #679
@whitmore999 That you can do already. In the case of aperture photometry it doesn't modify the positions anyway. In the case of psf-fitting photometry, you can set your psf_model to keep the position fixed, e.g.:
[code]

[2018-06-20 19:16] larrybradley commented on #679
@hcferguson You can pass the positions from the table directly, e.g. `aper = CircularAperture((tbl['x'], tbl['y']), r=3.)`.  As you note, the issue with the Table input is that x and y will be stored in various column names, so either you need to enforce particular names or allow a mapping -- both of those options seemed unnecessary to me when `(tbl['x'], tbl['y'])` is trivial and explicit.

From

[2018-06-21 13:16] conornally opened #680 "PSFPhotometry: roundness and sharpness not in return table"
Hi there, I was wondering if it is possible to retrieve the sharpness and roundness (1 and 2) from the sources detected by the DAOPhotPSFPhotometry class. The output table doesnt contain them, and i couldnt see a way of extracting it from your source code. These values are going to be of some importance to my results so i am looking for a way of getting them.
(I could match the data from DAOStarFi

[2018-06-25 19:11] Mawgui1956 opened #681 "No Module Named PhotUtils"
I have installed Photutils on Windows 10.  The prerequisite programs are in place.  Clang is installed.  Photutils appears to install.  On running a simple test program, I receive a traceback:

from astropy.stats import sigma_clipped_stats
from photutils import datasets
hdu = datasets.load_star_image()
data = hdu.data[0:400, 0:400]
mean, median, std = sigma_clipped_stats(data, sigma=3.0, iters=5)

[2018-06-28 14:53] sushobhana opened #684 "Deprecating Apertures"
Since the `Regions` is getting matured , we can talk about possibilities of how we can replace the `Aperture` s with it.
I think they share a lot in common and would be easy to integrate.
I would like to know which would be the best place to start and what are the possible difficulties which we may be facing?

[2018-06-28 14:55] sushobhana commented on #684
I have gathered some comments in this doc
https://docs.google.com/document/d/1v72eCOo2qb8bcHEmPUBY3YxIyUuOTKUvTIujAdfHgHI/edit?usp=sharing

[2018-06-30 20:01] Mawgui1956 commented on #681
Additional infor:  If I try to pip install photutils, I receive the message:
"Requirement already satisfied: photutils in c:\...(path name)

[2018-07-02 14:20] larrybradley commented on #681
@Mawgui1956 You can try to uninstall and then reinstall using `pip`:

[code]

Note that you need a C compiler (e.g. gcc or clang) to be installed for the installation to succeed (see https://photutils.readthedocs.io/en/stable/install.html).

I highly recommend using `conda` (i.e. download Anaconda or Miniconda) for python package management (https://conda.io/docs/).

[2018-07-02 20:43] larrybradley commented on #684
Thanks, @sushobhana.  Yes, the plan has been to migrate the general features of aperture-photometry functionality from `photutils` to `regions` (and then `regions` to `astropy` core).  This has been on my to-do list, but hasn't been high priority (I've also been hoping `regions` would go into `astropy` sooner than later).  Thanks for your work on improving `regions`!

I think all of the general fu

[2018-07-03 13:56] ysBach opened #688 "centroid_com has problems with mask and/or x, y order"
After spending a day to figure out why my pipeline gives wrong values all the time, I found this problem in `centroid_com`.

Summary first:
* `centroid_com` of current stable (v 0.4): The order is `yx`, not `xy`.
* `centroid_com` of current latest (v 0.5.dev): Masking is not working properly.
* For testing, I used `scipy.ndimage.center_of_mass` and made a short centroiding function.

Example code:

[2018-07-03 14:18] conornally commented on #558
Hi again, i have a more related question this time,
A picture generated psf seems to cause flux calculation problems in my daophot run through, so im experimenting using moffat2d as the psf instead.
After running the `Moffat2D(alpha=2.5)` through `prepare_psf_model()`, i get the same errors as above when  try to set the names to `x_0, y_0, flux`.

    return function(*args, **kwargs)
  File "/usr/

[2018-07-03 14:48] larrybradley commented on #688
@ysBach  Thanks.  The issue with the `centroid_com` (v0.4) xy order was unfortunately caused by an upstream change in `scikit-image 0.14`.  If you revert to `scikit-image 0.13.1` you should get the correct answer.  I fixed this last week in https://github.com/astropy/photutils/pull/685 (removing the `scikit-image` moments dependency), so the dev version is correct.

I need to look into the mask is

[2018-07-03 17:22] larrybradley commented on #688
Thanks, @ysBach.  The issue is that `centroid_com` expects a boolean mask.  I modified the code in #689 to also allow an integer mask since that could silently give a wrong result (e.g. instead of raising a `TypeError`).

[2018-07-03 18:00] #688 closed

[2018-07-03 22:12] astrofrog commented on #684
I agree that we shouldn't deprecate the aperture classes, just rework them so that behind the scenes they use classes from regions. I think photutils has enough users that we wouldn't want to break something so fundamental.

[2018-07-04 09:31] conornally commented on #558
Hi again, i have a more related question this time,
A picture generated psf seems to cause flux calculation problems in my daophot run through, so im experimenting using moffat2d as the psf instead.
After running the `Moffat2D(alpha=2.5)` through `prepare_psf_model()`, i get the same errors as above when  try to set the names to `x_0, y_0, flux`.

    return function(*args, **kwargs)
  File "/usr/

[2018-07-04 15:40] sushobhana commented on #684
I understand how breaking things will be difficult for users. Also, the major problem would be handling multiple apertures as @larrybradley says.
So, the plan would be to remove the overlapping classes such as masks, bounding box and geometry functions
once `regions` matures?

[2018-07-08 10:20] lupinix commented on #677
Any news on this? I also need this for Fedora packaging as we have failures due to newer numpy (as @olebole) mentioned and especially scikit-image (seems to be fixed with #685). A new release would help :)

If this still takes some time: Is it safe to package a current git snapshot? This will land in Fedora Rawhide (development tree) only, to be replaced by the release later.

[2018-07-08 13:56] bsipocz commented on #677
@lupinix - The master branch is not feature complete, but aimed to be self consistent and to have no test failures. So I suspect you can use it as a placeholder for development trees while waiting for a release. As it was mentioned before, more features are coming as well as potential fixes while we iron out e.g python 3.7 compatibility (first upstream in astropy, then in the affiliated packages).

[2018-07-09 17:11] lupinix commented on #677
Thanks, then I'll package a snapshot in meantime.

[2018-07-13 06:09] ysBach opened #691 "Reason for deprecating exclude_border in DAOStarFinder?"
I am using DAOStarFinder for finding sources, and found `exclude_border` option quite helpful. After updated to photutils v 0.4, I see Deprecation warnings.

Is there any reason for deprecating this option? I couldn't find any issue here.

[2018-07-15 12:09] mirca commented on #558
@conornally Thanks for reporting this issue! How exactly are you using ``Moffat2D`` into ``prepare_psf_model``?

[2018-07-18 01:04] shiaki opened #692 "Failed to create sky apertures using source properties"
**Issue at:**
https://github.com/astropy/photutils/blob/6dd2739dc93caa058179ab4e9dacf82c9c1f8c21/photutils/utils/wcs_helpers.py#L74

**Environment:**
Ubuntu 16.04,
Python (via Anaconda): `3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 13:51:32) \n[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]`
astropy: v3.0.3
numpy: v1.14.5
photutils: v0.4

**Sample code to reproduce the problem:**
https://gist.

[2018-07-18 17:05] shiaki commented on #692
I think a simple fix would be `if q.unit.physical_type == 'angle' or 'pix' in q.unit.name: `

This is probably a problem of astropy. We can reproduce the problem in a fairly easy way:
[code]

When `SkyEllipticalAperture` calculates the semi-major/minor axes, it takes the square root of the first/second eigenvalues of the covariance matrix (which has units like `pix2`). The units are correctly prop

[2018-07-18 19:31] larrybradley commented on #692
@shiaki On second thought, I don't think this is an upstream bug.  Instead of using `is`, the correct test should simply be the `==` operator, i.e. `x.unit == u.kpc` in your above example.  I'll fix the unit test in `photutils`.

[2018-07-18 20:04] larrybradley commented on #691
@ysBach  Since you find it useful, I'll remove the deprecation.  Thanks.

[2018-07-19 18:37] shiaki commented on #692
Hi @larrybradley , thanks for your reply and rapid fix! I have further investigated into the problem. This is probably an expected behavior of python (object identity vs. equality). After taking the square root, the derived unit `pix` (from `pix2`) has a different identity with object `u.pixel` in the module. I did not see official recommendation in astropy docs, but I have tested that `==` operat

[2018-07-24 04:00] #692 closed

[2018-07-26 03:21] #691 closed

[2018-07-26 03:21] #681 closed

[2018-08-01 22:28] eteq opened #696 "should `Background2D` yield a unit-ful background?"
The title is suggestive since of course I think the answer is "yes" :wink: ... But I noticed the following:

[code]

wouldn't it be more natural in that case for the background to have units of `ct/s`?  This is desirable because then it can be passed directly into ``d.subtract(bkg.background)``.

An alternative, if doing this is "too API-breaking", might be to have `qbackground`.  But then everyth

[2018-08-02 13:20] larrybradley opened #699 "RTD builds are consistently timing out"
It's typically taking between 600 and 800 s just to create the environment (i.e. before the `build_docs` command is even started).  Unfortunately, the RTD timeout is 900 s.

Note that many years back RTD granted `astropy` an extended timeout of 1500 s, and I see that recently those RTD builds are also failing rather frequently due to timeouts.

Nothing I've tried has fixed the issue.  Does anyone

[2018-08-02 13:42] saimn commented on #699
That's one of the downside of having conda reinstalling so many system libraries, and using conda-forge, creating a new environment is slow. I'm giving a try with pip to see if it is better. Also it seems that the doc build use several external resources and is also quite long (it took 5 minutes on my laptop).

[2018-08-02 14:04] bsipocz commented on #699
I've directly added in master `nomlk` to the RTD dependencies, it may have some effects of fastening up the download/build.

[2018-08-02 14:08] bsipocz commented on #699
Actually. Have a look at the bottom of the latest run, is that a red herring?
https://readthedocs.org/api/v2/build/7580181.txt

[code]

[2018-08-02 14:12] saimn commented on #699
@bsipocz - You mean about the memory consumption ? I thought the same but @larrybradley is right, the issue is that the build takes too long (on the top of the build pages there is a message 'the build took 900 seconds' or so).

[2018-08-02 14:13] larrybradley commented on #699
The emails I get from RTD say "Error: Build exited due to time out" and the build page using gives build times of ~903 s, so I assumed that timeouts were the issue.

[2018-08-02 14:14] saimn commented on #699
I could build with pip :  :slightly_smiling_face:
( 831 sec so not a lot of margin, but following builds should use pip's cache I guess)
https://readthedocs.org/projects/photutils-test/builds/7580522/
https://photutils-test.readthedocs.io/en/latest/epsf.html

[2018-08-02 14:27] bsipocz commented on #699
wow @saimn, that's better than what we have now.

[2018-08-02 14:29] larrybradley commented on #699
Thanks, @saimn!  Want to open an PR changing RTD from conda to pip?

BTW, I noticed an issue in the ePSF docs from your page, fixed in #700.  :)

[2018-08-02 19:12] astrofrog commented on #699
The main part of the docs still take 525s to build which seems excessive.

[2018-08-06 19:06] #699 closed, assigned to nobody

[2018-08-06 19:07] larrybradley commented on #582
Removed (finally!) in #703.

[2018-08-06 19:07] #582 closed

[2018-08-07 02:35] larrybradley commented on #677
Photutils 0.5 was released today.  It requires Python 3.5+.

I'm also considering making a 0.4.1 bugfix release for those still using Python 2.7.

[2018-08-07 02:35] #677 closed

[2018-08-07 07:51] olebole commented on #677
Thanks, I pulled the package and just uploaded it to Debian (dropping Python 2 package).

[2018-08-07 17:13] hcferguson opened #704 "Table format when a list of apertures is provided"
It is handy to be able to do photometry with multiple aperture radii with one call, but not so handy that the output is recorded in separate columns, and the radii aren't recorded in the output.

For my typical workflow I would prefer to have the radius as a column name and have the photometry all in a single column. Then I can just filter the output on the aperture radius (and that radius is reco

[2018-08-07 17:39] eteq opened #705 "Aperture photometry tables act like scalar apertures with length-1 list"
Some behavior pointed out to me by @hcferguson that I think is counter-intuitive and should change.  First, the part that *does* make sense:

[code]
So far so good. But then the following:
[code]
`aperture_sum` does not have an ``_0``!  This is very counter-intuitive, as normally a distinction is drawn between "scalar" and "list/array/whatever of length 1".

I'd classify this as a bug and can just

[2018-08-07 17:44] eteq commented on #704
I agree that there are some workflows where this is desirable.  However for some workflows it makes sense to have the current output.  For example, if I have a set of apertures where the order has meaning (i.e., derived from some other table in priority order or something), I want the output table to obey that ordering.

I think we can have our cake and eat it too, though.  What @hcferguson propos

[2018-08-07 17:44] larrybradley commented on #705
Yes, I agree that we should fix that.

[2018-08-07 18:09] hcferguson commented on #704
The current output doesn't have the aperture radii even in the metadata, so I would suggest adding that to the existing table, as well as providing the alternative format.

[2018-08-07 18:26] larrybradley commented on #704
@hcferguson I agree the aperture shape parameters should be recorded in the metadata (I thought they were already, but I see they're not there).

For a `multi_aperture` table format, we'd have to think carefully about how to name the columns, because only the `CircularAperture` can be defined with a single shape parameter (radius).  For example, an `EllipticalAnnulus` has 4 shape parameters (`a_in

[2018-08-07 18:29] larrybradley commented on #704
Does it make sense to have a table column named:
[code]

[2018-08-07 19:16] hcferguson commented on #704
@larrybradley Good point!

I had forgotten that apertures can be quite general. Storing the info somehow in the metadata rather than column names seems cleaner for the general case. Sounds to me sort of like the same problem as ```regions```, but I'm not sure how that package is serializing the regions.

Wanting to do photometry with circular apertures of different radii is common enough that it w

[2018-08-13 02:38] rjavila opened #706 "Definitions of alpha and gamma in Moffat functions"
The documentation in the Moffat1D and Moffat2D models use alpha and gamma, but as far as I can tell, everywhere else these two parameters are defined as beta and alpha, respectively. For example equation 1 in this paper https://arxiv.org/pdf/astro-ph/0109067.pdf

Can we change the code and documentation to reflect this? It has confused me bit while using the models. Thanks.

[2018-08-13 11:14] bsipocz commented on #706
The Moffat models are not defined in photutils, but in astropy. The documentation clearly states what each parameters mean, as well as provides the equations.

I guess it's very unlikely to go through a deprecation cycle to rename one of them, but either way the issue should be raised in the main astropy repo rather than here.

[2018-08-13 11:14] #706 closed

[2018-08-13 15:44] rjavila commented on #706
Sorry, I was using both packages on something and got things confused. I shouldn't open issues late at night.

[2018-08-13 16:08] bsipocz commented on #706
No worries.

[2018-08-17 20:08] HSouch opened #707 "Input Issue Resulting in Infinite Loop"
On extremely rare occasions, (3 in ~16000 iterations for my own work), the fitting routine in photutils.isophote.fitter results in an infinite loop. My own code that uses the fitting routine is below.
[code]

When this infinite loop occurs, it continuously logs the following:
[code]
which appears to be a result of the code on lines 151-155. Perhaps changing the way this exception is handled to a w

[2018-08-17 20:26] larrybradley commented on #707
CC: @ibusko

[2018-08-21 16:33] pllim opened #708 "Performance: Faster aperture photometry"
Taken from Astropy project performance survey.

<hr/>

Loading FITS files (e.g., Herschel) and doing aperture photometry (`photutils`) takes a few seconds for each aperture.

[2018-09-11 19:50] eteq opened #713 "Determine if the `EPSFFitter` can be a regular astropy fitter"
Right now the `EPSFFitter` is not a sub-class of `astropy.modeling.fitting.Fitter`.  It would be better if it were, as it could then simply be treated as sort of a "drop-in replacement" for other fitters (or vice versa).

It *seems* like this should be straightforward - just change the subclass and make sure any missing `abstractmethod`s are implemented. But that's famous last words there...

cc @

[2018-09-11 20:15] eteq opened #714 "Should the epsf_stars classes be in the public API?"
#695 added the ePSF builder.  But it also looks like it added all of the stuff in `epsf_stars` to the public API.  I think those classes are rather dangerous because they have overly-generic and somewhat ambiguous names - e.g. `Star` / `Stars`, which are actually narrowly focused on the problem of building the ePSFs.

So while it's nominally a backwards-incompatible change, I think we should remov

[2018-09-11 20:36] larrybradley commented on #714
I'm open to changing the names (I did call them `PSFStar`/`PSFStars` at one point), but these classes are fairly generic for holding cutout images.

These classes need to be public for the use case where you already have the cutout images or perhaps *only* have access to cutout images (e.g. from a cutout service).  For example, see this example Kepler notebook:
 https://gist.github.com/larrybradle

[2018-09-11 20:41] moustakas commented on #714
Indeed, I'm playing around with the new `ePSF` tools the same way, i.e., by passing it my own set of cutouts from stars in [Legacy Surveys](http://legacysurvey.org) imaging.

[2018-09-13 19:48] eteq commented on #714
Ah, ok, given @moustakas example and @larrybradley's comment (and some in-person discussion I had with him), now I see the point of the class being public.

I still think it's overly-generic of a name right now though.  @larrybradley and I discussed and I think settled on `EPSFStar`/`EPSFStars`? That makes it clearer that they are for this use case while still keeping them public.

(The idea would

[2018-09-22 13:39] steveschulze opened #719 "r.m.s. of a local background"
Hi,

To estimate the local background, I defined an annulus encircling the source region. Is it possible to extract the r.m.s. from the region (not only the sum)?

Cheers,

Steve

[2018-09-24 15:00] kobe90 opened #720 "Perform photometry only on certain sources"
Hello, I was wondering if it is possible, in photutils, performing PSF photometry only on certain sources, providing their positions on the frame (without asking 'IterativelySubtractedPSFPhotometry' to find the sources).

Thank you in advance

[2018-09-24 22:36] larrybradley commented on #719
@steveschulze Yes, you can use Aperture masks (https://photutils.readthedocs.io/en/stable/aperture.html#aperture-masks) to do this.  Essentially the aperture mask gives you access to the pixels in the aperture, from which you can use any statistic that you like.

I plan to soon update the docs with examples of this feature.  In the meantime, please see this tutorial notebook that I gave at the AAS

[2018-09-24 22:43] larrybradley commented on #720
@kobe90 You can use the `BasicPSFPhotometry` class (https://photutils.readthedocs.io/en/stable/api/photutils.psf.BasicPSFPhotometry.html#photutils.psf.BasicPSFPhotometry) and set `finder=None`.  In that case, you will need to input an astropy Table of the initial guesses for the positions (see `https://photutils.readthedocs.io/en/stable/api/photutils.psf.BasicPSFPhotometry.html#photutils.psf.Basic

[2018-09-25 08:29] steveschulze commented on #719
Thanks! It worked nicely.

Cheers,

Steve

[2018-09-25 08:29] #719 closed

[2018-09-26 17:47] #714 closed

[2018-09-27 04:48] sailoryf opened #728 "About PSF model"
Hi,
When I got the PSF model from EPSFBuilder. Could the model be used as the parameter in IterativelySubtractedPSFPhotometry: psf_model? It raise the error lile:
File "/home/yf/.conda/envs/python3/lib/python3.6/site-packages/photutils/aperture/circle.py", line 124, in __init__
    if r < 0:
TypeError: '<' not supported between instances of 'NoneType' and 'int'
Is that mean the EPSFBuilder does no

[2018-09-27 09:27] kobe90 commented on #720
Thank you for your suggestion. The problem is that I don't know how I could specify the list of sources on which BasicPSFPhotometry is asked to perform Photometry on.
Could you help me?
Thank you in advance.

[2018-10-03 14:36] Onoddil opened #731 "'IterativelySubtractedPSFPhotometry' assigns all IDs in a subtraction loop starting from 1."
The way IterativelySubtractedPSFPhotometry is defined ``sources = self.finder(self._residual_image)`` always produces a list starting from 1. Thus two sources found in two separate loops (such as a fainter source hidden behind a brighter source, revealed by its subtraction) will have ID=1, when they presumably should have unique IDs = [1, 2]. A simple fix to add a tracker ``max_id`` of the largest

[2018-10-03 18:13] mjrfringes commented on #728
I have the same issue. I am trying to get the PSF model from EPSBuilder, and feed that as a psf model to IterativelySubtractedPSFPhotometry, and it gives me the following error:

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-49-71ea0706c6a7> in <module>()
     24

[2018-10-04 15:29] Onoddil opened #734 "ePSF weights are passed as data.uncertainty"
When creating ``EPSFStar`` instance in ``extract_stars`` weights can be pulled from ``data.uncertainty.array`` but are never converted to weights, with ``weights`` simply being the quoted uncertainty. This is then propagated into ``EPSFFitter._fit_star`` where weights can be passed to ``fitter``, which would lead to the case that lower quality data would receive a higher relative weighting than hi

[2018-10-04 21:05] Vb2341 opened #736 "IterativelySubtractedPSFPhotometry crashes (cannot extract cutouts)"
When running IterativelySubtractedPSFPhotometry, the code fails pretty early on, probably because it tries to use a float position to slice an array.  The relevant/end bits of the traceback are below.  This is occuring when trying to fit an epsf generated from sources found in the data.

I think there just needs to a step where the x_0/y_0 values need to be floored/cast to ints.  Perhaps this shou

[2018-10-04 21:11] Vb2341 opened #737 "PSF photometry hangs, may be bug"
BasicPSFPhotometry has issues running on large numbers of stars (11000), which is expected, due to the large amount of fitting that has to be done.  However, the length of time doesn't seem consistent, sometimes it executes in a few minutes, and sometimes it hangs for 20+ minutes.  There might be a memory issue, or something else, but it might be worth investigating.

[2018-10-05 01:13] cooker33 commented on #467
Any updates on this feature? Arbitrary polygon apertures would be very useful.

[2018-10-05 17:05] larrybradley commented on #467
@cooker33 We first need a polygon region to be implemented in the `regions` package (https://github.com/astropy/regions) before we can add a polygon aperture in `photutils`.

[2018-10-05 18:40] cooker33 commented on #467
@larrybradley That's fair enough. Any advice or tips for performing photometry on fits images inside an HST-WFC3 footprint defined by a ds9 polygon?

[2018-10-08 22:33] Onoddil commented on #713
I don't quite see what this would achieve from a cursory glance. ``EPSFFitter`` is _passed_ an ``astropy.modeling.fitting.Fitter`` which does the actual heavy lifting of the determination of coordinates and flux scaling for each source, all of which is wrapped (i.e., about N-7 lines of the code in ``EPSFFitter``) in code that handles the ``EPSFStar`` functionality. The subarray source extraction,

[2018-10-09 02:03] Onoddil commented on #728
This issue is caused by the calling of ``IterativelySubtractedPSFPhotometry`` with ``aperture_radius`` at its default value ``None``. Thus ``r`` is `NoneType` when the radius is passed into circle.py. The current implementation will only attempt to derive a radius if the PSF model passed has either a FWHM or sigma attribute (typically because the PSF is a Gaussian), but the ePSF is an empirical 2D

[2018-10-09 12:02] HelenUsher opened #742 "Error cannot import name 'NUMPY_LT_1_14_1'"
I'm new to using python for photometry so I'm working through the Photutils tutorial on Background extraction, Aperture photometry etc I'm using a notebook in Python 3 and have downloaded the latest Photutils package using anaconda.
Astropy version 3.0.4 and Photutils 0.5
When I try to do this:

[code]

I get this:
ImportError                               Traceback (most recent call last)
<ipytho

[2018-10-10 14:56] larrybradley commented on #742
@HelenUsher The error you are seeing is actually from the `astropy` package.  Do you possibly have an older version of astropy installed?  Here's how you can check from within python:

[code]

If `astropy` is correctly installed, you shouldn't get an error when doing the following (this is what is causing your reported error):

[code]

If the above gives an error, then something would appear to be

[2018-10-10 16:17] larrybradley commented on #467
@cooker33 You can use the `pyregion` (https://pyregion.readthedocs.io/en/latest/) package to load in a DS9 region file and use its `get_mask` function (https://pyregion.readthedocs.io/en/latest/api/pyregion.get_mask.html#pyregion.get_mask) to convert it to a boolean mask.  You could then put that boolean mask into a photutils `ApertureMask` object (https://photutils.readthedocs.io/en/stable/api/ph

[2018-10-10 17:17] kobe90 commented on #720
Perfect, thank you very much for your help!

Thank you again

Renato

*********************************************************************************************
Renato Martone -
Ph.D. Candidate at Department of Physics and Earth Sciences

University of Ferrara

Via Saragat, 1

44122 Ferrara, Italy

re.martone90@gmail.com

*************************************************************************

[2018-10-11 07:56] dlakaplan opened #748 "Aperture photometry with a different aperture for each object"
`CircularAperture` / `SkyCircularAperture` appear to require that the radius be a single value for all objects.  This is not always desirable.  For instance, for forced photometry on extended objects one wishes to match the prior apertures.  Instead one now has to create individual apertures and iterate over them.

[2018-10-12 18:37] larrybradley commented on #748
@dlakaplan This feature was removed from `photutils` aperture objects many years ago (it was there in the very beginning).  There was a lengthy discussion among the developers 4 years ago about adding it back (https://github.com/astropy/photutils/issues/62 and related issues), but no clear consensus.

It's not as straightforward as simply allowing the circular radius parameter to be a list/array o

[2018-10-13 01:08] dlakaplan commented on #748
I appreciate the information.  I searched open issues for discussions of this, but didn't look through the whole history.  I implemented this for some subset of use cases (and suggested a pull request) but I guess that it can indeed be much more complicated.  For whatever reason I didn't find the doc page that you suggest, which would indeed work in my case.  I tried to loop over all apertures ind

[2018-10-13 01:08] #748 closed

[2018-10-17 15:12] Onoddil opened #752 "Travis-CI returns a build error due to hanging test_aperture_photometry test run"
Occasionally while running Travis-CI builds the entire build returns an error due to one matrix run failing to complete, always failing at ``test_aperture_photometry``. Below is an example test run where this error occurred, full log [here](https://travis-ci.org/astropy/photutils/jobs/439249685). I would guess the error occurs on a specific remote build version, but I don't know enough about Travi

[2018-10-17 15:51] larrybradley commented on #752
It's just a transient travis error.  I restarted the travis test and it passed.

[2018-10-17 15:51] #752 closed

[2018-10-17 17:05] bsipocz commented on #752
@Onoddil - there are several people who can trigger a rebuild, so pinging us on slack in e.g. the ci-issues channel is a quick way to solve these issues (or to double check whether it's a real issue of the package rather than a transient).

[2018-10-29 06:42] mcara opened #757 "Inconsistent tables returned by DAOStarFinder and IRAFStarFinder"
Currently, `DAOStarFinder` and `IRAFStarFinder` says that it returns table containing specific columns. For example, see [this link](https://github.com/astropy/photutils/blob/88d9fbab16fa2d1c59b6529a58ec88c6f66cc720/photutils/detection/findstars.py#L889) for `DAOStarFinder`. However, when there is a problem or no stars are found, instead of returning an empty table with specified columns, these fu

[2018-10-29 14:29] mcara commented on #757
@larrybradley It was fixed in https://github.com/spacetelescope/jwst/pull/2796/files#diff-5224745bd38e8a6b9acd45aadc743da6R61 (awaiting approval).

[2018-10-29 14:31] mcara commented on #757
As long as it agrees with the documentation.

[2018-10-29 14:37] larrybradley commented on #757
One would need to check the length of the output table in any case (except I didn't do it in `tweakreg_catalog`), so adding column names to an empty table adds nothing.

[2018-10-29 14:51] mcara commented on #757
Not totally true: it adds information about expected headers. For example, when writing catalogs to files, see, e.g.,
https://github.com/spacetelescope/jwst/blob/d7daa6c9cc60fc9870add2950ca06a424056db28/jwst/tweakreg/tweakreg_step.py#L84, the headers is quite informative instead of getting an empty file (or not saving a file at all when the table is empty - that would be concerning).

[2018-10-29 20:34] eteq commented on #757
@larrybradley - I think I agree with @mcara that it makes sense to return an empty table with the columns.  I would think many users would do things like:
[code]
and it's useful for them to get an empty table if `table` has a length of 0.  So I think I agree with @mcara's PR here.

[2018-10-29 20:41] eteq opened #761 "Make psf block diagram something that's actually maintainable"
Right now the psf block diagram is basically a screenshot from keynote.  This is obviously un-maintainable in the face of any future changes.  Would be better to instead have it be, say, a `graphviz` diagram (which is easy to integrate into sphinx).

[2018-10-29 20:42] larrybradley commented on #757
@eteq Yes, I've been discussing this and other deep philosophical thoughts on the meaning of emptiness offline with @mcara and he's convinced me.  😄

[2018-10-30 14:59] larrybradley commented on #757
Closed by #758

[2018-10-30 14:59] #757 closed

[2018-11-02 18:54] Onoddil opened #764 "ePSF Builder has no way to pass additional parameters to the ePSF model"
``EPSFBuilder`` calls ``EPSFModel`` multiple times during the creation of an ePSF, with pre-determined parameters, changing things such as ``origin`` or ``data``, and passes a limited number of variables (most importantly ``oversampling``). However, ``EPSFModel`` accepts more parameters than this: ``fill_value`` and ``ikwargs``, and, perhaps most importantly, ``normalization_correction``. If ``nor

[2018-11-05 13:22] mshemuni opened #765 "BasicPSFPhotometry Flux Error"
I am so sorry if I am doing anything wrong but I couldn't find any solution.
Am I missing something? Why there is no Flux Error output in BasicPSFPhotometry?
I'm using it as:
[code]
output:
[code]

and there's nothing about error in columns.
If it's natural to not have any error column, how to calculate the error?

[2018-11-05 13:35] mshemuni commented on #765
I am very sorry.
I think I just found it called flux_unc, "Flux Uncertainty"

[2018-11-28 06:39] mcara opened #770 "roundlo(hi), sharplo(hi) in IRAFStarFinder and DAOStarFinder"
I wonder why default values for `roundlo(hi)` and `sharplo(hi)` are different in `IRAFStarFinder` and `DAOStarFinder`:

[code]
and
[code]

Do these parameters measure different things in the two functions? If so, what is their exact meaning?

[2018-11-28 17:55] mpatir opened #771 "Cannot install --- python 2.7"
Cannot run setup.py when I try to install,
ImportError: No module named configparser python 2.7

File "setup.py", line 8, in <module>
    from configparser import ConfigParser
  File "~/anaconda2/lib/python2.7/site-packages/configparser.py", line 12, in <module>
    from backports.configparser import (
ImportError: No module named configparser

[2018-11-28 17:59] mpatir commented on #771
-- use conda install

[2018-11-28 17:59] #771 closed

[2018-11-28 18:22] larrybradley commented on #771
The latest version of `photutils` is not compatible with python 2.7.  Python 3.5+ is required.

An older version of `photutils` (0.4.1) is compatible with python 2.7 and can be installed with conda.

[2018-12-07 21:23] #705 closed

[2018-12-07 21:23] larrybradley commented on #705
Fixed in #779.

[2018-12-08 00:02] larrybradley commented on #742
We haven't heard back, so assuming it's resolved.  Closing this issue.

[2018-12-08 00:02] #742 closed

[2018-12-08 00:07] larrybradley commented on #653
`skimage` **is**  the package name for `scikit-image`.  They are the same thing.

[2018-12-08 00:07] #653 closed

[2019-01-06 09:29] pllim opened #786 "Cython directive 'language_level' not set"
I see these warnings when installing `photutils` in Python 3.7:

[code]

* photutils\geometry\circular_overlap.pyx
* photutils\geometry\core.pxd
* photutils\geometry\elliptical_overlap.pyx
* photutils\geometry\rectangular_overlap.pyx

[2019-01-06 09:30] pllim commented on #786
I am not familiar with the code here to be sure but probably something like astropy/astropy#8106 would solve this problem.

[2019-01-06 10:26] pllim opened #787 "TST: groupstars tests too senstitive?"
I encountered the following failures when testing `photutils` locally on Windows 10.
[code]

[2019-01-06 22:37] adrn opened #789 "utils of photutils"
I don't know how to make an issue about this without sounding like a :trollface:, but I'm wondering if the `photutils.utils` subpackage is redundant — the double utils could be confusing to users. Do those modules really need to live in another layer of utils?

[2019-01-06 22:41] pllim commented on #789
I propose we rename `misc.py` to `utils.py`, so it becomes `photutils.utils.utils`.

[2019-01-06 23:07] adrn commented on #789
I actually [made a branch to do that](https://github.com/adrn/photutils/tree/fix-module-name), but decided I needed to dial back the troll / snark a little bit :)

[2019-01-06 23:12] pllim commented on #789
FWIW only 3 more months until Apr 1... 😉

[2019-01-07 18:05] Onoddil opened #790 "CircularAperture.plot transposes x, y coordinates when plotting two circles"
When plotting two apertures a ``CircularAperture`` instance will plot the tranpose of the x and y coordinates via its inbuilt plotting routine -- i.e., if my two objects are at ``a, b`` and ``c, d`` then the resultant circles are plotted at ``a, c`` and ``b, d``. The correct behaviour is produced when plotting N != 2 circles. Similar behaviour is seen in ``EllipticalAperture`` as well, so I suspec

[2019-01-07 21:38] #786 closed

[2019-01-08 18:06] larrybradley commented on #790
@Onoddil  Thanks for reporting this.  The code is actually behaving as documented, so it's not technically a bug.  However, I agree that this can be confusing and I'm going to address it in an upcoming PR.

The `positions` argument in `Aperture` objects is currently very flexible in that it can accept:

* a single (x, y) tuple
* a list of (x, y) tuples
* `Nx2` or `2xN` `ndarray` (or `Quantity`)

O

[2019-01-08 19:01] Onoddil commented on #790
Ah, I guess I missed the note in the API, apologies. I agree that a warning added to the output is good to doubly try to inform users of this clash (since they, obviously, fail to read documentation properly as I oh-so-successfully proved...). Removing one of the two options of accepted ``ndarray`` would be one way to solve the problem, but with more rigorous warnings it might not actually be an i

[2019-01-09 16:41] kakirastern opened #791 "Proposal to add an offset crosshair option to Centroids"
I would like to propose adding an offset crosshair feature to highlight some regions of interest in a FITS image, much like the cross used in [Centroids.](https://photutils.readthedocs.io/en/stable/centroids.html) Just would like to double check such feature or option is not already in existence in another name in the Photutils package in the current stable version. The crosshairs would highlight

[2019-01-09 20:34] pllim opened #792 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [x] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [x] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,

[2019-01-10 14:24] astrofrog opened #793 "setup.py file should be compatible with Python 2.7"
In the package template, we've taken the policy that the setup.py file has to remain Python 2-compatible so that users get a nice error message once python_requires is evaluated. Currently, Python 2 users get the obscure error:

[code]

[2019-01-10 17:14] #793 closed

[2019-01-10 17:14] larrybradley commented on #793
Thanks, @astrofrog.  This is fixed.

[2019-01-10 19:31] astrofrog commented on #793
@larrybradley - thanks! Just out of interest, are there plans for a release soon-ish?

[2019-01-10 19:36] larrybradley commented on #793
I just released `0.6` before the holidays.  Do you need a quick bugfix release for this issue?

[2019-01-10 20:09] astrofrog commented on #793
@larrybradley - no don't worry, but once 0.7 is out I'll be able to build some wheels for photutils (more soon on the infrastructure I'm setting up). Due to the tools I'm using, I can't currently build wheels on Windows due to this issue.

[2019-01-18 01:18] johnnygreco commented on #462
Hey @eteq, this issue is pretty old, but I still think having this info in the output would be super useful! Is anyone working on this?

[2019-01-22 16:04] jbodenst commented on #558
I actually have the same question as @mirca, how do I convert Moffat2D into a usable PSF model with prepare_psf_model?

[2019-01-24 14:08] saimn commented on #737
I guess that this is the same as https://github.com/astropy/astropy/issues/8338, which is fixed by https://github.com/astropy/astropy/pull/8349

[2019-01-24 23:31] ewj42 opened #795 "photutils fails to install with conda"
installing photutils fails as follows...
*****************************
(base) C:\WINDOWS\system32>conda install -c astropy photutils
Solving environment: failed
UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda==2018.12=py37_0 -> mkl-service==1.1.2=py37hb782905_5
  - anaconda==2018.12=py37_0 -> numexpr==2.6.8=py37hdce8814_0
  - anaconda==2018.12=py37_0 ->

[2019-01-26 20:13] ewj42 opened #796 "photutil.test() fails with fresh Win10 Anaconda installation"

[2019-01-28 15:27] larrybradley commented on #796
Thanks, @ewj42.  This is probably related to or the same as #787.

[2019-01-31 11:53] prajwel opened #797 "Using exposure map to estimate the error"
Hi,

Is there a way to use an exposure map while carrying out PSF photometry to estimate the errors? I am unable to find this feature inside the existing photutils documentation.

Thank you!

[2019-01-31 17:22] ivastar opened #798 "New algorithm for robust centroiding"
The following is a paper discusses the robustness of algorithms for centroiding stars. Not my area of expertise, but it might be useful to consider if the centroiding algorithm is relevant and if it should be implemented (if it is not already).

[Do fast stellar centroiding methods saturate the Cramér-Rao lower bound?](https://arxiv.org/abs/1610.05873 )
Mohammadjavad Vakili, David W. Hogg
(Submitt

[2019-02-13 18:28] rhandberg opened #799 "How do I estimate the uncertainities on a Background2D?"
Short question: How can I get and estimate of the uncertainties on the estimated background coming out of Background2D?

I am doing the following steps:
1. I have CCD image with a corresponding "uncertainty image" ($\sigma_{img}$; the errors on each pixel in the image).
2. I pass the image through Background2D to give me an estimate of the background.
3. I subtract the estimated background from th

[2019-02-20 22:48] pllim opened #800 "Why does ePSF need user to create a whole new table?"
In https://photutils.readthedocs.io/en/latest/epsf.html , there is this awkward step that seems unnecessary:

[code]

Why can't `photutils` use keyword arguments or something, instead of requiring user to create a whole new table?

cc @eteq and @mcorrenti

[2019-02-28 17:38] larrybradley opened #802 "Improve performance of ellipse fitting where possible"
Creating this issue as a reminder.  CC @moustakas

[2019-03-07 09:33] HeisenbergK opened #803 "Please ensure you used the same pixel connectivity in detect_sources and deblend_sources. If this issue persists, then please inform the developers."
Hello,

I am trying to deblend the sources in an image and I keep stumbling on this error:
`ValueError: Deblending failed for source "512".  Please ensure you used the same pixel connectivity in detect_sources and deblend_sources.  If this issue persists, then please inform the developers.`
I am not doing anything extravagant. This is the code I am using:

[code]

[2019-03-07 18:07] larrybradley commented on #803
@HeisenbergK, thanks for reporting this.  Could you possibly send me a link to your image so that I can debug this issue?

[2019-03-07 18:08] larrybradley commented on #803
Also, what version of `photutils` are you using?

[2019-03-07 18:16] HeisenbergK commented on #803
I am using:
[code]
All installed through pip.
Image:
https://1drv.ms/u/s!AnYZnJwwWhPzh7oyvSu3jcWY1hCgaQ

[2019-03-07 19:58] larrybradley commented on #803
Thanks.  `deblend_sources` worked fine for me with your image.  Can you please also send me what values you are using for `sigma`, `fwhm`, and `threshold` so I can do an exact comparison?

[2019-03-07 20:13] HeisenbergK commented on #803
Yes of course.
I am setting `fwhm=3.`,`sigma=sigma = fwhm * gaussian_fwhm_to_sigma` and threshold comes as:
[code]
Thanks a lot.

[2019-03-07 20:40] larrybradley commented on #803
Thanks!  I can reproduce the error message now.

Only source id=512 has this deblending issue, so if you need a quick workaround you can remove it, i.e. `segm.remove_labels(512)`, before running `deblend_sources`.

Source 512 has a single hot pixel within its source segment, which may be triggering this error.  I need to investigate further.

[2019-03-07 21:26] HeisenbergK commented on #803
Ok. So, for the time being I'll find a way to while-try/except-loop-out the bad sources in all the images I'll have to handle.
In the mean time, I'll try to see whether, if by-hand setting the value of the hot pixel to something reasonable, the problem gets fixed and get back to you on that one (maybe compare our results??).
All that tomorrow onward, when I get to my office.
So, please leave the i

[2019-03-10 05:21] SunilSimha opened #804 "EPSModel has no attribute fwhm or sigma"
I'm using version 0.6 and there is no way I can use `IterativelySubtractedPSFPhotometry` because the `EPSModel` class has no attribute `fwhm`. When I tried using `IterativelySubtractedPSFPhotometry`, it gave an error that said:
[code]
Digging through the code revealed that r or `aperture_radius` wasn't defined properly in this block of code starting from line 235 of `photometry.py`

[code]
Essenti

[2019-03-10 23:00] SunilSimha opened #805 "EPSFStar.register_epsf might be incorrect."
I encountered this bug when trying to use `compute_reidual_image` for an `EPSFStar` object. I noticed the default computed residuals were essentially the same. Looking at `register_epsf` (line 235) of epsf_star.py, I think I see the error. The code currently reads:
[code]
However, `xx` and `yy` already seem to be multiplied by `x_oversamp` and `y_oversamp` factors earlier (lines 230 and 231) and t

[2019-03-11 16:55] mth-gsk opened #808 "source deblending fails for source 256"
We had a few cases of failed deblending of segmentation images; the pixel connectivity warning is triggered for a number of images. Curiously enough, source 256 triggers the error in all of them (4 different images in a pool of about 100). In three of the four cases, removing border region (with relabeling) helps; in one case, removing the border sources maintains the issue, although with relabel

[2019-03-11 17:18] HeisenbergK commented on #803
Hi,
so, I noticed that if I change npixels to 3.*fwhm, the problem goes away.

[2019-03-11 18:00] #803 closed

[2019-03-11 18:03] larrybradley commented on #803
@HeisenbergK  I fixed this issue in #806.  Many thanks for reporting it!

You can install the development version of photutils to use it now:  https://photutils.readthedocs.io/en/latest/install.html#installing-the-latest-development-version

[2019-03-11 18:05] larrybradley commented on #808
@mth-gsk Thanks for reporting this issue.  This issue is actually the same as #803, which I just fixed and merged in #806.  Please install the development version of photutils (https://photutils.readthedocs.io/en/latest/install.html#installing-the-latest-development-version) and let me know if you still see the issue.  Thanks!

[2019-03-11 18:05] #808 closed

[2019-03-15 01:18] larrybradley commented on #631
@Gabriel-p Can you please try this again with astropy 3.1.2?  There was bug with astropy multidimensional compound models that caused a massive slowness.  It was fixed in https://github.com/astropy/astropy/pull/8349.

[2019-03-15 12:47] Gabriel-p commented on #631
@larrybradley honestly, I won't have time to check for a while. I have to go back to some old files I was processing almost 2 years ago, and re-check the code. I promise I will check it as soon as I can.

[2019-03-19 20:21] pllim commented on #631
I am seeing performance issues as well when I run the `BasicPSFPhotometry` step in https://github.com/spacetelescope/da5-notebooks/blob/master/notebooks/psf_grid_simulation_photometry/GriddedPSFModel_simulation_and_photometry.ipynb . I was using 512x512 image with 25 stars and a `fitshape` of `(101, 101)`. Decreasing `fitshape` did not help much as far as performance is concerned. Took about 10 se

[2019-03-19 22:44] larrybradley commented on #631
Thanks, @pllim!

[2019-03-20 17:28] pllim opened #809 "BasicPSFPhotometry table does not list ID as first column"
I am used to seeing ID column first (left-most) but here is what I get:

![Screenshot from 2019-03-20 13-27-49](https://user-images.githubusercontent.com/2090236/54705817-03ff4180-4b14-11e9-92b1-277ad1e5576b.png)

Feature or bug?

[2019-03-20 17:40] larrybradley commented on #809
I would agree that `id` should be first, so I'd say that is a bug.  @eteq?

[2019-03-21 20:35] moustakas commented on #802
Thanks, @larrybradley.  I've done some very basic profiling of the code using `cProfile` and `snakeviz` (see below), but I'm hoping you will have more insight.  One of the biggest bottlenecks appears to be the `geometry.to_polar` method, which is called by `integrate.integrator`, as well as `sample._get_gradient`.  I'll try to dig some more but I'm hopeful this is enough to get things started.

<i

[2019-03-21 20:52] moustakas commented on #802
Digging a bit more, it looks like the `to_polar` method is being called many times *for the same input pixels*.  If the transformed coordinates can be pre-computed and cached that should yield significant compute savings.

[2019-03-29 15:40] bhilbert4 opened #811 "Signal value in evaluated griddedPSFModel is dependent upon oversampling factor"
While working with some griddedPSFModels yesterday, I noticed that the total signal in the evaluated PSF seems to be dependent upon the oversampling factor of the data within the model.

In the example I'm working with, I have a griddedPSFModel where the individual PSFs in the model each have total signal values very close to 1.0. But when I evaluate the model and specify `flux=1`, the resulting P

[2019-03-29 16:06] larrybradley commented on #811
Currently, that is the expected behavior.  Jay Anderson's oversampled ePSFs sum to `oversampling**2` and the `photutils` ePSF machinery emulates Jay's work.  So, `GriddedPSFModel` expects that the input oversampled PSFs are normalized to `oversampling**2`.  This should be better documented.  Also, I'm thinking about adding a normalization check that perhaps issues a warning if the PSFs aren't norm

[2019-04-02 15:25] pllim commented on #787
Note to self: What was I even doing?! Need to state why I was trying to test stuff on Windows next time.

[2019-04-02 15:40] #787 closed

[2019-04-03 06:20] PrayaagKatta opened #814 "ellipse.fit_image() not fitting for the full galaxy"
Hello. I am facing an issue with ellipse.fit() where it is not fitting for the disk of the galaxy, and stops after the bulge/bar portion. If I keep the maxsma as the size of the galaxy, the ellipses still does not fit for the galaxy. What can I do to fix this?
This is my first time posting here, so please tell me if I haven't followed the protocols correctly.
I have attached the image below.
Thank

[2019-04-08 16:50] Onoddil opened #818 "subtract_psf in PSF Photometry fails for fitshape equal in length to input data"
``subtract_psf``, used in ``BasicPSFPhotometry.nstar`` (and thus all classes based off this class) will fail with ``ValueError: Can't add array. Small array too large.`` if ``fitshape`` has shape equal in at least one length to ``data.shape``.

This is due to ``subtract_psf`` using ``astropy.nddata.add_array`` if ``subshape is None`` evaluates false. ``add_array`` fails to check if sizes are great

[2019-04-08 16:56] Onoddil opened #819 "IntegratedGaussianPRF does not update sigma in residual images, and nor will any model which uses parameters other than x, y, flux"
Any model fit in PSF photometry, passed through ``image = subtract_psf(image, self.psf_model, param_table, subshape=self.fitshape)`` will only have its x and y coordinates and flux updated. ``subtract_psf`` -- used to create the fit-subtracted residual images -- will only find the parameter names of x, y, and flux via ``xname, yname, fluxname = _extract_psf_fitting_names(psf)``, updating the PSF t

[2019-04-08 17:42] Onoddil opened #820 "Inconsistency between input/output/uncertainty parameter names in results tables for PSF photometry"
In ``BasicPSFPhotometry`` and all subclasses ``_define_fit_param_names`` and ``_get_uncertainties`` control the names of the parameters, which are used to generate the ``Table`` instance returned, in which the input values, fit values, and corresponding uncertainties are stored. However, there is an inconsistency in these labels across input/output/uncertainty, where ``_pars_to_set`` and ``_pars_t

[2019-04-08 18:19] PrayaagKatta commented on #814
Hello, I am ready to give the image used for this code, if it helps. I also tried increasing the maxrit, and playing with other parameters, but the issue is still persisting.

[2019-04-08 18:55] larrybradley commented on #814
@ibusko Can you please take a look at this?

[2019-04-08 18:57] ibusko commented on #814
@larrybradley yes, I will see what can be done.

[2019-04-08 19:02] ibusko commented on #814
@PrayaagKatta from the looks of the image, I suspect that there is a large jump in the ellipse geometric parameters (basically position angle and ellipticity) at about the point it stops working. It could be that the algorithm, with the settings you used, is unable to follow the rapid change and thus gives up. If you don't mind, I would like to have a copy of the image so I can try it myself. Chal

[2019-04-08 19:25] PrayaagKatta commented on #814
Thanks for the reply! It has not properly for the following images -
[ngc936_gb.fits.zip](https://github.com/astropy/photutils/files/3055935/ngc936_gb.fits.zip) (This is the one in the example.)
And also
[VCC857_g.fits.zip](https://github.com/astropy/photutils/files/3055937/VCC857_g.fits.zip) (Another case)

Please ask me if anything else is needed.
Thank you.

[2019-04-09 15:24] moustakas commented on #802
@larrybradley @ibusko

I wonder if you've been able to take a look at this issue and whether you think there are any low-hanging speed-ups to the `fit_image` method?

[2019-04-09 15:34] ibusko commented on #802
@moustakas you're right that there are bottlenecks in the code. Ages ago I had done a similar cProfile-snakeviz analysis like yours, and came to the conclusion that to significantly speed-up the code we would have to resort to C. I don't recall having python-level bottlenecks as the redundant calls to to_polar(), but I may have just not noticed that. I will take a look as soon as possible into tha

[2019-04-10 12:51] PrayaagKatta commented on #814
@ibusko Thank you for taking time to go through this issue. I will definitely use your suggestions to try and fix the problem. I'll get back to you soon with the results.

[2019-04-11 15:30] ibusko opened #823 "Verbose mode in elliptical isophote fitting"
Elliptical isophote fitting can be slow, depending on the size of the galaxy being fitted. Even relatively small images as provided in the tutorials in `photoutils-datasets` take tens of seconds to complete. In the meantime, no feedback is sent back to the user that sits waiting, thinking that maybe the code is frozen in an infinite loop. This situation seems even more disconcerting when running t

[2019-04-11 19:09] ibusko commented on #802
I can reproduce @moustakas' profiling results, including a surprising very large fraction of the time being taken by the one method, `to_polar`. I don't really recall that being the case when I did run these profiling tests a long ago.

I can also measure a significant degradation in computation speed from the original inception's version of the code. In tutorial `isophote_example4.ipynb` in `phot

[2019-04-11 19:25] larrybradley commented on #802
@ibusko  Hopefully I didn't make things slower by vectorizing `to_polar`!  My apologies if that's the case.  I recall things being faster after removing some `for` loops in favor of vectorization.

[2019-04-11 21:18] ibusko commented on #802
@larrybradley OK, no worries. I will run some experiments and see how we can improve that.

[2019-04-11 21:21] bsipocz commented on #802
I wonder whether there are enough resources to resurrect https://github.com/astropy/photutils-benchmarks and add more benchmarks?

[2019-04-11 22:39] moustakas commented on #802
Great to see so much activity on this thread!

Another suggestion for some of the under-the-hood geometric calculations is to use [https://numba.pydata.org](numba) (in lieu of refactoring to C-code), which could be brought in as an *optional* dependence.

But I agree that we should first track down why the code slowed down by a factor of 5 after it was ostensibly vectorized.

[2019-04-12 15:22] ibusko commented on #802
I run tests with the non-vectorized version of `to_polar`. The bottleneck uncovered by cProfile in `to_polar` went from 40 s to 4.6 s tottime as reported by snakeviz. The overall test was increased in speed by a factor ~5. No specific, easy-to-pin-down bottlenecks remain; the CPU consumption is spread more or less evenly inside the integrator classes, with most of the time spent inside `numpy/ma`

[2019-04-18 14:04] PrayaagKatta commented on #814
@ibusko Hello again! I followed your advice, and it has given positive results. I am attaching the file to show it to you.
![ngc936git](https://user-images.githubusercontent.com/29648524/56365828-64ff5f80-620f-11e9-87de-d409d2fa1b21.png)

This is actually the kind of fitting that we wanted! So, I thank you for guiding me towards it.

[2019-04-18 14:32] ibusko commented on #814
Glad it did work! In case you run into problems again, just ask.

[2019-04-18 16:16] larrybradley commented on #814
Thanks, @ibusko.

[2019-04-18 16:16] #814 closed

[2019-04-18 16:43] ibusko commented on #802
Did some more profiling with @moustakas' test example. We knew already that the use of masked arrays slows down the computations quite a bit. I removed the masked array from the test, running fit_image on the raw image.

In this case, the to_polar calls become a no-issue, with most of the CPU burden now placed in the integrator classes. Replacing the median integrator with the bi-linear one didn't

[2019-04-19 03:11] moustakas commented on #802
Thanks, @ibusko, I'm looking forward to your PR, which I'd be happy to test independently.  And if you have any recommendations for dealing with masked pixels while not compromising performance (presumably not using `numpy.ma` arrays), I'd be grateful.

[2019-04-19 18:06] ibusko commented on #802
Closing after sucessfull resolution.

[2019-04-19 20:04] #802 closed

[2019-04-22 19:23] stsci-hack opened #827 "Aperture method to_pixel fails with multiple radii specified"
One obvious use for photutils turns out to be determination of photometry for multiple apertures in order to determine characteristics of each source for classification or for measuring sky vs source flux.
Unfortunately, specifying multiple circular apertures through use of list as input for the radius parameter in defining the circular apertures causes the conversion through the use of the `.to_p

[2019-04-22 19:35] stsci-hack commented on #827
I realize that the documentation shows how to use the apertures with multiple radii using list comprehension.  My comment then would be to see if it was possible to trap this specific case (r is a list?) and report that multiple values should be provided using list comprehension instead of crashing with an ambiguous error. This at least lets the user know the code will never support this syntax, a

[2019-04-23 21:40] Onoddil opened #829 "TravisCI Build Fails"
There seems to be something broken in the TravisCI build tests. I discovered an issue in test 4 for ``detections.findstars.py`` where suddenly Sphinx didn't like the multiply defined URLs so submitted #828 thinking that was an easy fix to replace the slightly tidier format for referencing ``daofind`` and ``starfind`` with anonymous URLs.

However, that subsequently uncovered an issue with TravisCI

[2019-04-23 21:46] bsipocz commented on #829
@Onoddil - Please post links directly to the failing travis logs, and also copy paste full trace logs. The current description above is very difficult to parse.

[2019-04-23 21:47] bsipocz commented on #829
Also, unexpected CI-failures can be reported to the ci-issues slack channel, there are more people watching it than the individual repos.

[2019-04-23 21:51] Onoddil commented on #829
Sorry @bsipocz - the build link is https://travis-ci.org/astropy/photutils/builds/523570561?utm_source=github_status&utm_medium=notification (specific test https://travis-ci.org/astropy/photutils/jobs/523570567). I can't paste the full traceback as it's too many characters for the comment but an example (I think they're all basically the same) is:

=================================== FAILURES ====

[2019-04-23 21:59] larrybradley commented on #829
Yes, it's due to `https://github.com/astropy/astropy/pull/8408`.  I'm working on a fix.

[2019-04-24 02:38] larrybradley commented on #829
After a lot of digging, I found it's actually due to https://github.com/astropy/astropy/pull/7554.

My PR to fix it (at least for v3.2): https://github.com/astropy/astropy/pull/8624.

[2019-04-24 15:15] pllim commented on #829
It is fixed upstream. I think this can be closed.

[2019-04-24 15:16] #829 closed

[2019-04-29 20:27] eteq opened #838 "Indexing/slicing of apertures"
If I start with this:
[code]
That's all great.  However, what if I just want to look at *one* of the apertures?  The following feels natural, but:
[code]

Maybe apertures should support slicing, which would then be passed into the coordinate arrays?  One could imagine going all the way to supporting `astropy.utils.ShapedLikeNDArray`, although an intermediate option might just be to enable slicing,

[2019-04-29 20:35] larrybradley commented on #838
This is a good idea.

[2019-05-06 12:54] mdcleir opened #839 "Documentation"
In the documentation of the SkyEllipticalAnnulus:
https://photutils.readthedocs.io/en/stable/api/photutils.SkyEllipticalAnnulus.html#photutils.SkyEllipticalAnnulus
is indicated that b_out has to be a float. However, I assume this has to be a Quantity instead?

[2019-05-06 14:22] larrybradley commented on #839
@mdcleir, many thanks for reporting this!  It's fixed in #840.

[2019-05-06 14:33] #839 closed

[2019-05-08 09:42] mdcleir opened #841 "aperture_photometry returns NaN"
I encountered a strange problem when running aperture_photometry on an annulus region.
It returns a perfectly fine value for this annulus:
![Screenshot from 2019-05-08 11-35-52](https://user-images.githubusercontent.com/45097951/57365788-0847f280-7186-11e9-9dca-a045ae62e77b.png)
But for just a slightly bigger annulus, it returns a NaN:
![Screenshot from 2019-05-08 11-36-56](https://user-images.git

[2019-05-08 14:48] larrybradley commented on #841
Thanks, @mdcleir  I discovered this last week too (I think it's the same issue).  I'm working on a fix.

[2019-05-09 03:32] larrybradley commented on #841
@mdcleir This should be fixed by https://github.com/astropy/photutils/pull/843.  Can you try the development version and see if it fixes your issue?  Here are instructions for installing the dev version: https://photutils.readthedocs.io/en/latest/install.html#installing-the-latest-development-version

[2019-05-09 10:08] mdcleir commented on #841
This fix indeed seems to solve my issue. Will this fix be incorporated into the public version soon or do you suggest to keep using the development version for now?

[2019-05-09 13:36] larrybradley commented on #841
It will be in version `0.7`, which I'm planning to release at the end of the month.  In the meantime, you can continue using the development version.

[2019-05-09 13:36] #841 closed

[2019-05-14 15:15] hamogu opened #845 "BUG: photometry fails when several sources are in the same group"
I'm running into a bug where the photometry routine tries to access a model attribute that does not exist. As far as I can tell, that's happening when more than one source is found in the same group, but the naming scheme of the parameters of the combined model is confusing to me, so I don't really know what's going on.

This happens with the current checkout of the master branch and astropy 3.1.2

[2019-05-14 18:08] hamogu commented on #838
:+1:

[2019-05-14 18:18] hamogu commented on #558
@jbodenst : I don't know what @conornally did, but to answer your question:
[code]
should work.

[2019-05-14 19:03] saimn commented on #845
This is the same issue as #558, the Moffat model from Astropy does not work well with `prepare_psf_model`. I fixed a first problem in #577 but it works only when you have one star per group (https://github.com/astropy/photutils/pull/577#issuecomment-319981002). With more than one star you get a compound model which then leads to the error than you have.

[2019-05-14 19:16] hamogu commented on #845
Mmmm. There must be a better way to map (compound) parameters in the psf model to the parameters we want to fit. Looking a the string of the parameter name is obviously brittle. However, that's more than a little fix and I don't have time to work on that now, unfortunately.

Anyway, I looked the #558 and did not realize that this is a dublicate, but with your links I now realize that, so I'll clos

[2019-05-16 01:21] #827 closed

[2019-05-16 02:42] #790 closed

[2019-05-19 19:09] ysBach opened #849 "How to use EPSFModel as psf_model in IterativelySubtractedPSFPhotometry?"
I am relatively new to the PSF photometry (have just finished reading some parts of Stetson 1987 paper) and have no experience in IRAF either (I tried but always failed in PSF...).

Following the [doc](https://photutils.readthedocs.io/en/stable/epsf.html), I succeeded in making the EPSFModel (I also tested it to a globular cluster image that I have). At the end of the doc, there is a comment that

[2019-05-20 02:02] ysBach opened #850 "Separate sky estimation for each stars in IterativelySubtractedPSFPhotometry"
Currently the PSF photometry in photutils accepts the sky estimator as `bkg_estimator`.
But in PSF photometry process, as far as I understand, we have to subtract the sky from regional circular annulus estimation, rather than SEx background estimator, to get the PSF (e.g., Stetson 1987 PASP).
I tried to do something like
[code]
but this modifies the original data frame.

Is there a simple way to m

[2019-05-20 03:28] ysBach commented on #799
If you've used Background2D, e.g., ``bkg`` is a ``Background2D`` object,
you can use ``bkg_rms = bkg.background_rms`` ([doc](https://photutils.readthedocs.io/en/stable/api/photutils.background.Background2D.html#photutils.background.Background2D)).

[2019-05-24 03:53] #838 closed

[2019-05-27 16:10] iskren-y-g opened #855 "Building ellipse model extremely slow"
Hi,

I have a (266,266) image data and it didn't took too long to fit an ellipse to it. All plots look just fine, as I would have expected from the data. However, I tried to build a model with build_ellipse_model as per the example in the docs, however, it is taking ages ... in fact, it hasn't finished yet and it's been probably >30min by now and I have to leave office. I had a quick look at the s

[2019-05-28 18:07] larrybradley commented on #855
CC: @ibusko

[2019-05-28 18:35] ibusko commented on #855
Indeed, you're right that the loop is not the optimal way of doing this. It resulted from a (almost) blind translation from the original SPP (IRAF) code, into Python. It is in the plans to re-work the code so a more pythonic approach could help solve the speed problem.

But your image is too small for the loop slowness effect to be significant. Did you try to run the demo notebook at ` astropy/pho

[2019-05-31 06:53] iskren-y-g commented on #855
Yes, I was following the notebooks, however, what I just noticed is that it seems that the problem arises from using data sections to only fit a given section of an image. One needs to properly slice the data array. When that's fixed, it seemed that it work fine for me.

[2019-05-31 13:49] rhandberg commented on #799
@ysBach - That does not use the known uncertainties on the input image. Doing that would, as far as I understand, just estimate the scatter in the background-subtracted image, and not take the uncertainties in the original image into account. Or have I misunderstood the documentation?

[2019-05-31 14:19] larrybradley commented on #799
@rhandberg The `background_rms` 2D array is a measure of the noise in the input image.  By default, it calculates the standard deviation (`bkgrms_estimator` = `StdBackgroundRMS`) of the input data within each of the defined background meshes and then interpolates the std. values in the meshes (the low-resolution image) to the full-sized image.  It's exactly analogous to how the `background` 2D arr

[2019-06-06 07:54] stefanocovino opened #859 "PSF photometry missing info"
Dear friends,

I have managed to derive reliable (hopefully) PSF photometry building an ePSF, however I think there could be additional pieces of information that could be profitable added to the documentations.

. First of all, unless I am very wrong, I think the total flux reported for the PSF photometry can be related to the real counts on the frame by dividing it with the oversampling factor**

[2019-06-06 15:17] larrybradley commented on #796
Hopefully this was fixed in #787.  @ewj42 Please reopen and report back any failures that are still occurring.  Thanks.

[2019-06-06 15:17] #796 closed

[2019-06-06 17:25] larrybradley commented on #849
@ysBach This is the same issue as #728 (#740 proposed fix) and #804.  A workaround is to input an `aperture_radius` value (https://github.com/astropy/photutils/issues/728#issuecomment-428034935).

[2019-06-06 17:25] #849 closed

[2019-06-06 17:28] larrybradley commented on #804
Thanks, @SunilSimha.  This is the same issue reported in #728 (proposed fix in #740) and #849.

[2019-06-06 17:28] #804 closed

[2019-06-06 17:29] larrybradley commented on #804
In the meantime, a workaround is to input an aperture_radius value (https://github.com/astropy/photutils/issues/728#issuecomment-428034935).

[2019-06-06 18:03] larrybradley commented on #855
@iskren-y-g Glad it's working for you now.

[2019-06-06 18:03] #855 closed

[2019-06-06 18:06] #792 closed

[2019-06-06 18:10] larrybradley commented on #791
@kakirastern I'm not sure what you mean by an "offset" crosshair.  The crosshairs in the centroids example plot were added with `matplotlib`.  `photutils` isn't a plotting package, but perhaps `matplotlib` has a plotting feature that you want.

[2019-06-06 18:10] #791 closed

[2019-06-06 19:42] larrybradley commented on #708
I cannot reproduce this.  With 10,000 apertures, it takes 768 ms (76.8 us per aperture) on my machine.  Including input errors for error propagation, it's 2.5 s (250 us per aperture).  Even in the worst case, this is ~10,000x faster than reported.  I would need a specific example to test further.

[2019-06-06 19:42] #708 closed

[2019-06-07 04:53] gkacprzak opened #860 "Strange patterns in the ePSFs"
Hello,

Thank you for creating this great package as it has been quite easy to use s far. I have been having some troubles understanding the hashed structure seen in the ePSFs. I find great PSFs (oversampling=1) for both space-based and ground-based images. However, as soon as I increase the oversampling, this grid pattern occurs and has this negative grid that appears and this effect increases wi

[2019-06-07 18:06] gregjaffry opened #862 "X and Y centroid is wrong in new versions of anaconda"
I recently updated my code base from anaconda 2.4.1 to Anaconda 5.3.1, both were running with photutils 0.4 since 2.7 is not supported in the latest versions.

The error I am seeing between my two builds is that the old build had the correct x and y centroids, and the new build has the wrong centroids even though it is segmenting the sources correctly. I am running the exact same script in both bu

[2019-06-07 18:16] larrybradley commented on #862
@gregjaffry This is due to a breaking change in `scikit-image 0.14` (specifically they changed the (x, y) order in their moments function).  Soon after this breaking change I removed the `scikit-image` dependency on image moments in `photutils`.

If you revert to scikit-image 0.13.1, it should give the expected results.

Also, python 2 will no longer be supported (end of life) by the Python Softwa

[2019-06-07 18:20] gregjaffry commented on #862
THANK YOU!!!! it works great now.

[2019-06-07 18:20] #862 closed

[2019-06-13 20:28] astrofrog opened #869 "Doctest not marked as using remote data"
If I run the test suite with my internet off I get a failure:

[code]

[2019-06-18 21:45] mattabern commented on #805
I just discovered this same problem. The issue is that the `FittableImageModel.evaluate()` method takes a `use_oversampling` parameter that is defaulted to True to re-scale the x and y coordinates.

In the `register_epsf()` source, the re-scaling is already done in the lines:
[code]
, so it's effectively done twice. This can be fixed by

changing the code quoted by SunilSimha to:

[code]

[2019-06-21 08:37] stephenmwilkins opened #880 "Issue with deblend_sources() in 0.7.dev3641"
Hello,

I switched to 0.7.dev because of something I assume is related with issue #808 (deblending would fail for a source (512, 1024, or 2048 it would seem) however I'm now experiencing a new error:
ValueError: The segmentation image must contain at least one non-zero pixel.

I haven't done any thorough exploration yet, but might be able to later.

Steve

[2019-06-21 16:38] larrybradley commented on #880
Thanks, @stephenmwilkins.  Can you provide an example so that I can take a look?

[2019-06-24 07:07] stephenmwilkins commented on #880
Hey @larrybradley this appears to have been fixed in the most recent release. Thanks for whatever it was and thanks for all the work on the module!

[2019-06-24 07:23] stephenmwilkins commented on #880
Sorry, spoke too soon, another test revealed the same error.

[code]

results in:

Traceback (most recent call last):
  File "test.py", line 19, in <module>
    segm_deblend = deblend_sources(data, segm, npixels=npixels, nlevels=32)
  File "/anaconda3/lib/python3.7/site-packages/photutils/segmentation/deblend.py", line 128, in deblend_sources
    contrast=contrast, mode=mode, connectivity=connecti

[2019-06-24 18:56] larrybradley commented on #880
Many thanks for the example/data.  I should have a fix for this tomorrow.

[2019-06-24 19:37] #805 closed

[2019-06-24 19:38] larrybradley commented on #805
Fixed in #885.  Thanks!

[2019-06-26 03:16] ysBach opened #888 "Making custom apertures by combining existing Apertures"
It's rather a question...

I wanted to make a pillbox-shaped aperture, as in TRIPPY (e.g., [here](https://nbviewer.jupyter.org/github/fraserw/trippy/blob/master/tutorial/trippytutorial.ipynb)), because all the stars in my images are trailed (due to the non-sidereal tracking mode).

I thought it will be easy enough because what I have to do is just combining two circles with a rectangle (overlappin

[2019-07-02 19:55] larrybradley commented on #888
@ysBach Here's an example notebook where I define a pillbox mask and use it to perform photometry.  Hopefully this will help you get started!

 https://gist.github.com/larrybradley/37ea328514abd891ef834eead47e8e81

Combining various shapes is available in the `regions` package (https://github.com/astropy/regions), but the methods needed for photometry aren't defined for compound shapes yet.

[2019-07-03 03:47] #880 closed

[2019-07-13 09:24] ysBach commented on #888
@larrybradley Sorry for this late reply!
So far, I have been trying to make an ``Aperture`` object named ``PillBoxAperture`` (with annulus, skyaperture, skyannulus), and used it for the data reduction of my observational data.

The one I used is in the gist [here](https://gist.github.com/ysBach/4280408a12ea48dec50b03767e2e3cde):
result:
![image](https://user-images.githubusercontent.com/17214293/6

[2019-07-15 04:52] ysBach commented on #860
Had similar issue when I was preparing the lecture note for this spring's TA note ([this note](https://nbviewer.jupyter.org/github/ysbach/AO2019/blob/master/Notebooks/08-PSF_Extraction.ipynb)):

![image](https://user-images.githubusercontent.com/17214293/61196089-4a9e2a80-a707-11e9-8d22-04ab5a462b88.png)
(In the note, I didn't strictly followed Stetson's original PSF extraction technique. Now I th

[2019-07-16 09:21] iskren-y-g opened #891 "Print progress (bar?) during ellipse fitting"
Hello,

I was just wondering if you'd have the time to include some sort of a progress bar while ellipse  or build ellipse model are running? It is annoying not to know how far it has progressed. Sometimes I notice that for large maxsma (~2000pix) it tends to run very slow and I want to know at least what radius it reached. I think that for masked arrays, e.g. HST images, it tends to run extremely

[2019-07-17 09:26] iskren-y-g opened #893 "Can I fix (not fit) certain parameters of ellipse?"
Hi,

is it possible fix (not fit) the center or ellipticity or PA with Ellipse or ellipse.fit_image? Maybe I missed it, but it is unclear to me from the documentation whether this is possible. In certain cases this is very important.

Thanks,
Iskren

[2019-07-18 15:52] larrybradley commented on #893
@ibusko?

[2019-07-18 18:40] ibusko commented on #893
I am afraid that we don't provide the capability to fix a single parameter, such as the center of the ellipse, or its position angle, or ellipticity. What the code can do is to fix the entire ellipse and just extract the intensity sample and output it.

I believe the reason for not allowing fixing a single parameter was originally that the fit depends on all four parameters at once. When iterating

[2019-07-19 08:56] iskren-y-g commented on #893
It will be great if this can be implemented. The IRAF's ellipse task (stsdas.analysis.isophote) can run ellipse fitting in which you can specify whether you would like to fix certain parameters. This is very useful where for one reason or the other, there might not be a very clear center or you just want to enforce a fixed PA.

[2019-07-23 18:16] mperrin commented on #811
FYI - WebbPSF PR https://github.com/spacetelescope/webbpsf/pull/311 updates the behavior of the create psf grid function in WebbPSF to output models that are consistent with the normalization as expected by `photutils.GriddedPSFModel`.  (i.e. we added the normalization to `oversampling**2`).

I think since no change is needed in photutils, this issue can be closed, unless @larrybradley you want to

[2019-07-26 10:25] astromancer opened #901 "disallowing all zero SegmentationImage seems prohibitively restrictive"
I've been happily inheriting from `SegmentationImage` for some time now [here](https://github.com/astromancer/obstools/blob/c54cdb6aff4eea34c1c5ee247bdf9eee68c256c3/phot/segmentation.py#L861) (this code is in development for a new pipeline for the SALTICAM  instrument of SALT as part of my Phd). However, [this](https://github.com/astropy/photutils/commit/a845d83cbbc36d9236d8b2060bb3f1ed96b04386#di

[2019-07-29 16:16] astromancer commented on #901
#836

[2019-07-29 17:26] astromancer opened #904 "`make_source_mask` fails with AttributeError for all zero data"
Related to recent API changes in #836.  Since `detect_sources` no longer always returns a `SegmentationImage`, the assumption in the [final line](https://github.com/astropy/photutils/blob/b079c3908eb436a531d31a02a8c252ee0c101cf1/photutils/segmentation/detect.py#L270) of `make_source_mask` that it does is no longer correct.

To reproduce:
[code]
Traceback:
[code]

[2019-07-29 19:05] #728 closed

[2019-08-01 15:52] davidjsetton opened #911 "linear=True is not implemented photutils.isophote.ellipse.fit_image()"
I am trying to fit isophotes to an image with constant spacing between them using the procedure outlined here (https://photutils.readthedocs.io/en/stable/isophote.html). However, the linear keyword does not appear to be having any effect on the table that is outputted; regardless of how it is set, the same grid of sma are given for the step that I choose.

"
from photutils.isophote import EllipseG

[2019-08-01 16:00] larrybradley commented on #911
@ibusko?

[2019-08-01 16:41] ibusko commented on #911
The code in module `geometry.py` has the linear mode handling in lines 507-510. I will check if it is indeed being used, or not.

[2019-08-01 18:13] ibusko commented on #911
There is an error in the logic that controls the linear mode. I am working on fixing this. I will submit a PR when done.

[2019-08-01 21:15] ibusko commented on #911
@davidjsetton as a stopgap measure, you can force linear stepping by using the following sequence:

ellipse = Ellipse(data)
ellipse._geometry.linear_growth = True
ellipse._geometry.astep = 5.      # the step value in this case is in image pixels.
isolist = ellipse.fit_image()

In case you want to re-use the Ellipse instance, don't forget that it's now set to do linear stepping. You can reset the p

[2019-08-01 21:29] ibusko commented on #911
@davidjsetton as a stopgap measure, you can force linear stepping by using the following sequence:

ellipse = Ellipse(data)
ellipse._geometry.linear_growth = True
isolist = ellipse.fit_image(step=2.)   # step expressed in pixels

Note that the step for linear mode is in pixels, hence we have to re-define it to an appropriate value every time we switch from linear to relative mode.
If you intend to

[2019-08-02 15:35] #911 closed

[2019-08-02 15:36] larrybradley commented on #911
@davidjsetton Many thanks for reporting this issue.  It's been fixed in #912 on master and will appear in the upcoming 0.7 release.

[2019-08-05 14:48] ibusko commented on #823
@larrybradley are you cool with this? I have some available time for coding now, and I could add back the verbose feature as an optional keyword parameter with minimal work.

[2019-08-05 14:50] ibusko commented on #893
@iskren-y-g I will run some experiments to see how it performs. In case it works fine, we can put in the ability to fix parameters.

[2019-08-05 14:54] moustakas commented on #823
This is a separate issue, but another related feature request would be to (optionally) speed up the `fit_image` method using the `multiprocessing` module, assuming each semimajor axis can be fitted independently.

[2019-08-05 17:54] larrybradley commented on #823
@ibusko Reporting progress is fine with me, but please leave the final output in an Astropy Table.  Thanks.

[2019-08-05 17:55] larrybradley commented on #823
@moustakas Can you please open a new issue with your feature request so it doesn't get lost (i.e. when this issue is closed)?

[2019-08-05 18:17] ibusko commented on #823
@larrybradley sure. I envision 'verbose' mode as just help for more tricky situations. The main output will still be the astropy Table that's already there. 'verbose' by default will be off as well, so it won't affect existing user scripts and the like.

[2019-08-06 15:29] iskren-y-g commented on #893
Great, that sounds excellent! And it is important in certain cases ... Thanks for looking into this!

[2019-08-06 18:42] moustakas opened #913 "consider using multiprocessing module to speed up Ellipse.fit_image() method"
Spinning off from #823, consider using the `multiprocessing` module to (optionally) speed up the `Ellipse.fit_image()` method.

One approach would be to fit each semi-major axis "step" independently, although perhaps these are not independent.

Alternatively, perhaps some of the parameter optimization routines lend themselves to parallelization.

[2019-08-07 18:45] #904 closed

[2019-08-07 18:47] larrybradley commented on #904
@astromancer Many thanks for reporting this bug!   It's fixed in #917.

[2019-08-08 13:15] shivangeerathi opened #920 "WARNING: No meaningful fit was possible. [photutils.isophote.ellipse]"
Hello,
I am new to photutils.
I am trying to measure surface brightness profile of a dwarf elliptical galaxy (see image below). Using ellipse.fit_image(), I either get an empty isophote list (using default fit_image() parameters) or the following error (using parameters used in @larrybradley 's [notebook 4)](https://github.com/astropy/photutils-datasets/blob/master/notebooks/isophote/isophote_exam

[2019-08-08 14:10] eteq opened #921 "Fix epsf tests for changes in modeling"
Travis is failing on the development version of astropy. The actual error can be seen here:
https://travis-ci.org/astropy/photutils/jobs/569054120

This is a bit weird because I know the branch that that CI merge is from was *passing* in its last commit prior to the merge. My hunch is that the big astropy.modeling PR was merged in the interim, and based on where the tests are failing it seems like

[2019-08-08 15:04] Onoddil commented on #921
Yeah I would likely agree it's `astropy.modeling` related, as [this astropy function](https://github.com/astropy/astropy/blob/b1526627afe6806f357ca72b5a34d973a3cdaed0/astropy/modeling/core.py#L3890-L3930) is the part where the test calls over, specifically line 3920 `outputs = self.evaluate(*chain(inputs, parameters))`. Digging through the recent commits I found [this](https://github.com/astropy/a

[2019-08-08 15:13] larrybradley commented on #921
It's something specific to #817 (and related to modeling).  `astropy-dev` was passing fine before #817.

[2019-08-09 03:31] larrybradley commented on #893
Added in #922.

[2019-08-09 03:31] #893 closed

[2019-08-09 09:57] shivangeerathi commented on #920
Hi,
As a test, I tried [this example](https://photutils.readthedocs.io/en/stable/isophote.html), with small data values (~1e-11) and I get the same error.

[2019-08-09 14:19] larrybradley commented on #920
@shivangeerathi Actually @ibusko wrote that notebook and most of the isophote-fitting code.  He is the original author of the IRAF ellipse task.

@ibusko Can you take a look?

[2019-08-09 14:21] ibusko commented on #920
@shivangeerathi , @larrybradley yes, sure. I will take a look and report back here.

[2019-08-09 19:23] ibusko commented on #920
@shivangeerathi after some investigation, I found that the cause of this behavior is that the radial gradient computation seems to lose precision when the pixel values are too small, as in the case of your image. The algorithm has a stopping criterion that is triggered by the relative error in the gradient. When this error is larger than a pre-set amount, it stops to iterate. In the case of images

[2019-08-10 12:20] shivangeerathi commented on #920
@ibusko Yes, I have tried that. The algorithm seemed to work fine when I multiplied the image with 1e12 (thus making pixel values lie between -2 and 618). But multiplying with smaller values (such as 1e10, 1e11) gives an empty list of isophotes.

Also, I do not know if it is useful, but I get decent fit when using 'ellipse' task in IRAF on the original image with extremely small (~1e-12) pixel val

[2019-08-10 16:28] ibusko commented on #920
@shivangeerathi @larrybradley the ultimate cause of the gradient error problem is that the code has a hard-coded hidden assumption about the order of magnitude of the data values stored in the input image array. With low values such as in this case, that assumption causes the calculation to be skipped, with the result that the algorithm acts as if a fit is not possible.

I removed the assumption a

[2019-08-11 15:05] shivangeerathi commented on #920
Thanks for the update!
Since the results from the fixed version of the code differ only slightly from the previous version of the code, I think it makes more sense to deploy the latest version of the code. Plus, it will be good for the future development of the code.

[2019-08-11 15:26] moustakas commented on #920
I think this is a clear-cut case when breaking backwards compatibility is
justified. The change log can articulate the origin of any minor
differences and anyone wanting the previous version of the code (albeit
without all the latest improvements) can simply use an older tag.

On Sun, Aug 11, 2019, 11:05 AM shivangeerathi <notifications@github.com>
wrote:

[2019-08-12 14:37] larrybradley commented on #920
@ibusko Arguably this is a bug fix, so in this case I think breaking backwards compatibility is fine.  Please be sure to add a change log entry.

[2019-08-13 01:59] bsipocz commented on #921
#931 has fixed this.

[2019-08-13 01:59] #921 closed

[2019-08-13 02:01] bsipocz commented on #921
Trick is to never trust a month old CI status, but have a rebased version rerun. A similar situation  bite us in astropy core, too right before v3.2.

[2019-08-13 02:09] bsipocz commented on #789
My take that `packagename.utils` is most of the time contains stuff that is developer focused. And indeed, we don't have narrative docs nor examples for those tools for photutils, only the API docs, so users won't come across those functionality.

Most of our packages has that subpackage, so at this point it would be more confusing to call it something else just for the sake of avoiding "utils". S

[2019-08-13 02:09] #789 closed

[2019-08-13 02:10] bsipocz commented on #720
It looks to me a solution has been reached here. If there is anything else we can do on the photutils side, feel free to reopen.

[2019-08-13 02:10] #720 closed

[2019-08-13 02:38] bsipocz commented on #631
fyi: the `tbl = phot(data, init_guesses=init_tbl)` step from that notebook hasn't got quicker using post modeling refactor (though the PR linked above hasn't been merged).

versions used:
[code]

[2019-08-13 02:44] bsipocz commented on #75
https://photutils.readthedocs.io/en/stable/datasets.html now exists along with API docs, so I go ahead and close this. While adding a `fetch_all` or similar hasn't been implemented, it didn't proved to be a real blocker either.

If anyone would use such a function, please feel free to reopen this or even better, add a PR for it.

[2019-08-13 02:44] #75 closed

[2019-08-13 02:46] bsipocz commented on #18
The exact geometries are being moved to regions, so I suggest to close this issue here. If it's still relevant, then please @astrofrog move it over to region and reopen.

[2019-08-13 02:46] #18 closed

[2019-08-13 03:00] bsipocz commented on #558
Actually I'm going ahead and close this one and reopen the duplicate #845 as that one has a copy paste-able minimal failing example that enormously helps testing.

[2019-08-13 03:00] #558 closed

[2019-08-13 03:01] bsipocz commented on #845
See https://github.com/astropy/photutils/issues/558 for more discussion, but I suggest to keep this one because of the complete example here.

[2019-08-13 03:03] bsipocz commented on #67
Realistically speaking this is not likely to happen. I'm not against to keep the issue, but we could also just close it.

[2019-08-13 03:28] kbarbary commented on #67
Agreed! :+1:

[2019-08-13 03:28] #67 closed

[2019-08-13 03:34] #765 closed

[2019-08-13 14:50] larrybradley commented on #920
Fixed in #934.

[2019-08-13 14:50] #920 closed

[2019-08-13 15:07] pllim commented on #631
@bsipocz , did you try to profile it? Is the bottleneck at least different now, after refactoring by @perrygreenfield ?

[2019-08-13 18:29] bsipocz commented on #631
nope, I didn't dig deep enough (neither saved the reports), but with a quick glance prun output looked very similar to what I got with 3.2.1. Master run for ~17s while 3.2.1 ~16s.

[2019-08-13 20:31] #612 closed

[2019-08-14 15:01] ibusko commented on #823
This relates to #891

[2019-08-14 15:02] ibusko commented on #891
This relates to #823

[2019-08-14 15:05] ibusko commented on #891
Indeed, for masked arrays it runs significantly slower than for non-masked arrays. This has to do with the intrinsic non-regular pixel addressing that is necessary to fetch pixel values from the image array, when building an elliptical sample. The speed-up achievable with numpy operators can't be used.
This might be lessened with future work on #913

[2019-08-14 15:23] Onoddil opened #941 "Revert changes to EPSFModel Parameters with potential upstream fix?"
With a potential fix to the issues surrounding `astropy.modeling` `Parameter`s in the 4.0 release under astropy/astropy#9123, should the (temporary?) fix in #931 be reverted (once the fix is in, of course!)? I believe we could put everything back to how it was previously, but I also think the current version also works, so the question is do we want the flexibility and code readability of two inde

[2019-08-15 18:04] eteq opened #944 "pep8speaks.yml being ignored by bot?"
I admit I don't fully understand how pep8speaks picks its linter, but it seems to me like the pep8speaks.yml at the time of this writing (https://github.com/astropy/photutils/blob/c9a969df4df135ff67107632c2dac488a3a576b3/.pep8speaks.yml) is supposed to be setting the line length limit to 120.  However in this issue, the bot was complaining about lines being too long that are 80-some characters:
ht

[2019-08-15 18:05] pllim commented on #944
Ops... maybe `flake8` is a staunch Unix terminal fan. Lemme see...

[2019-08-15 18:17] eteq opened #945 "Consider re-working how psf photometry class methods are re-used"
This is a bit vague of an issue, but has come up in a few contexts (most recently in #740 and #745), so this is a prompt for someone (probably @Onoddil as part of some follow-on PRs already planned?) to look into.

The gist is this: currently the psf photometry classes (`BasicPSFPhotometry`, `IterativelySubtractedPSFPhotometry`, and `DAOPhotPSFPhotometry`) re-use some functionality, but there's a

[2019-08-15 18:25] bsipocz commented on #944
PR is merged, but I keep this open until we're sure it indeed worked.

[2019-08-15 18:27] bsipocz commented on #944
btw the 120 character is inherited from astroquery where we're much relaxed (due to the occasionally longer url strings), I would leave it to Larry to set the preferences here.

[2019-08-15 18:40] eteq commented on #944
FWIW, I am strongly opposed to a strict 80 char limit.  But I could be talked down to 100 :wink:

[2019-08-15 18:44] bsipocz commented on #944
hmm, well, it's up to Larry 🙊
(there are only a mare 38lines that are longer than 80, so that's a totally fine choice here tbh)

[2019-08-15 18:46] bsipocz commented on #944
Closing as it now indeed works, didn't complain about the 84 char long lines in #947

[2019-08-15 18:46] #944 closed

[2019-08-15 18:47] pllim commented on #944
Phew!

[2019-08-16 16:45] larrybradley commented on #631
CC: @Onoddil

[2019-08-16 16:53] larrybradley commented on #941
The `Parameter` definitions were exactly the same in the subclass.  There's no need to override the parent class with identical definitions.

[2019-08-16 17:11] Onoddil commented on #941
Fair enough, I suspected that would be your response, I just figured I'd open the ticket to see if the change should be put back "as was", but if it revealed unnecessary lines of code then we can leave it as _is_. I'll close the issue now then.

[2019-08-16 17:11] #941 closed

[2019-08-16 20:48] #680 closed

[2019-08-16 21:36] eteq opened #950 "Consistently pass table columns through the various psf stages"
This issue is a follow-on from #745 (in particular https://github.com/astropy/photutils/pull/745#issuecomment-521692910).  #745 added an `extra_output_cols` keyword to the photometry classes, which allows additional information from the finder to be passed to the output of the photometry run.  However, the confusing thing is that it really is only relevant to the finder, because the other parts of

[2019-08-22 19:17] #818 closed

[2019-08-23 03:43] oxno2 opened #951 "How to build ePSF with provided star fits"
I tried to obtain the star PSF for a very large image of HST.  The original image was huge, I tried to obtain the stars first and put them into individual fits. After subtracted the background and masked some contamination sources, I wanted to use the EPSFBuilder to combine these processed stars images and generate an effect native PSF. There were nearby sources around the original stars so I mask

[2019-09-14 18:44] Onoddil opened #957 "Rotation angle definition conflict between source_properties and EllipticalAperture"
`source_properties` (and `SourceProperties`, the class the function calls) has a conflict in its definition of rotation angle `orientation` with `EllipticalAperture`'s `theta`. The [first](https://photutils.readthedocs.io/en/stable/api/photutils.SourceProperties.html?highlight=sourceproperties#photutils.SourceProperties.orientation) defines the `orientation` as being counter-clockwise from the x-a

[2019-09-16 15:20] larrybradley commented on #957
The rotation angle is counter-clockwise for both (and is correctly documented as such in the API docs).  Can you give an example why you think `EllipticalAperture.theta` is clockwise?

One thing to note is that `EllipticalAperture.theta` takes a float in radians (as do all astropy models).  The output `orientation` value is a `Quantity` in degrees, so need `theta` would need to be set to `orient.t

[2019-09-16 15:22] larrybradley commented on #957
Also, when plotting with `plt.imshow` be sure to use the `origin='lower'` keyword, otherwise the image will be flipped -- which may lead you to think the angle is clockwise.

[2019-09-16 15:24] Onoddil commented on #957
Ahhhh yes I missed the `origin='lower'` keyword not being in the `imshow`, thanks. You are also correct that I cannot read the documentation; but I also failed to read the plotting function to spot the mistake wasn't ours. Thanks for solving the mystery!

[2019-09-16 15:24] #957 closed

[2019-09-22 20:08] cloud182 commented on #951
I was successfully using EPSFBuilder with photutils v0.6 to build the PSF for some WFI images. Now with the v0.7 I am obtaining similar results to @oxno2 even on images where the previous version worked.

[2019-09-23 18:52] eteq commented on #951
@oxno2 @cloud182 - any chance that either of you can provide the datasets you ran into these problem with?  (I.e., if the WFI images are in some archive @cloud182, or if you can provide the specific HST images you were using to get this, @oxno2 ?)  Having a fully working example that can be tested and debugged would make this a lot easier to investigate.

[2019-09-23 19:01] cloud182 commented on #951
I am afraid the data I am working on is still proprietary and I cannot share them.

[2019-09-23 19:13] Onoddil commented on #951
Hi @cloud182 @oxno2, I am looking into this now and will report back once I have done some digging. Once I think I might have a fix in place, would you be willing to re-run your analyses on the updated master branch to test how the changes affect your results?

[2019-09-23 19:19] cloud182 commented on #951
I think I can do it, even though I cannot assure you how fast I can be on giving back some feedback. But before doing that, I would also need some clarification on the behavior of the oversampling parameter. I don't really understand how it changed from v0.6 and why it is not possible to recover a PSF without oversampling (oversampling = 1).

[2019-10-01 16:17] larrybradley commented on #901
@astromancer A check was added disallowing an all-zero `SegmentationImage` because in that case the `SegmentationImage` does not work properly -- several of its attributes and methods raise errors because an all-zero image was never intended.  For example this could happen in an automated pipeline where no sources were detected, resulting in an all-zero segmentation images, and thus downstream att

[2019-10-01 16:18] #901 closed

[2019-10-02 20:18] larrybradley commented on #860
Ping: @Onoddil

[2019-10-02 22:25] Onoddil commented on #951
Hi @cloud182 @oxno2, apologies for the delay in getting back to you. I had a look into this issue, using some HST calibration data used in the construction of the original, canonical HST ePSFs. I have found a few minor issues which I will be looking to fix in the coming weeks, but overall I am not able to reproduce this effect (i.e., the calibration dataset makes an ePSF which looks convincingly l

[2019-10-03 06:40] mcara commented on #951
@oxno2's image (and possibly @cloud182 issue) suggests to me that the new version has a bug resulting in a diverging algorithm somewhere.

I disagree with the main points in https://github.com/astropy/photutils/issues/951#issuecomment-537707417 about effects of initially poor positions (unless those errors are larger than 1 pixel which should not happen) and importance of dithered observations.

1

[2019-10-03 10:11] thriveth opened #959 "Extremely elongated apertures from deblended segmentation image"
Extracting and deblending galaxy sources from a fairly noisy field, I have a curious problem, where some of the apertures generated as described in the [online documentation](https://photutils.readthedocs.io/en/stable/segmentation.html#image-segmentation) are extremely elongated, all being close to horizontal. The same does not happen when not deblending the sources, but does happen for a variety

[2019-10-03 12:59] cloud182 commented on #951
Hi everyone,

Thanks for your help. To answer the questions from @Onoddil about the instrument, I am talking about the ground-based WFI at the ESO2.2m telescope.
However, regarding the explanation of the error, I think I agree more with @mcara. For a simple reason: the old version of the algorithm worked, and the results were pretty good. If the reason why it is not working was an error on the inp

[2019-10-03 13:53] larrybradley commented on #959
Thanks, @thriveth.  I'll take a look.

[2019-10-03 14:52] Onoddil commented on #951
Hi @mcara, thanks for your comments.

As I said before I have validated the current version of the ePSF framework within photutils, and find I am able to reproduce ePSFs using F160W HST data of Omega Cen, from calibration dataset CAL-13606. I therefore do not believe the is a bug within the algorithm itself, as presumably this dataset would also fail and diverge if the issue lay within the codebas

[2019-10-03 14:53] larrybradley commented on #951
@Onoddil My understanding of the algorithm agrees with @mcara also.  Jay Anderson's method is fundamentally an iterative virtuous cycle improving the star centers and ePSF model at each step.  From working directly with Jay and @mcara on implementing the initial ePSF builder, my understanding is that having dithered images is not required or key.  In fact, we added that feature later (`LinkedEPSFS

[2019-10-03 15:07] larrybradley commented on #951
To be clear, the commonality that I'm seeing in the v0.7 ePSF bug reports and also my simulation above is the ~45 degree diagonal bright/dark banding in the output ePSF.

[2019-10-03 17:01] eteq commented on #951
I think I may have traced at least part of the origin of the disagreement here - see   https://gist.github.com/426614e7b4b1a5973c19ddb8416db0e9 for proof of this: it works in 0.6, breaks in 0.7, but works again in one of @Onoddil's apparently unrelated *fixes*: https://github.com/Onoddil/photutils/commit/9822e3c14d74d313fd78185df0c9331242832235 . So it appears that @Onoddil's https://github.com/On

[2019-10-03 17:09] Onoddil commented on #951
[This](https://github.com/astropy/photutils/files/3687258/test_10_epsf.pdf) is what I get running the v0.7 notebook, albeit running on my "bleeding edge" dev branch of photutils, which should also be the last option of @eteq's link above. Perhaps the largest change being the issue where residuals are nearest neighbour vs everything within a pixel is used; see Figure 5 of Anderson & King (2000). Th

[2019-10-03 21:07] eteq opened #960 "Map out parameter choices where EPSFBuilder fails, document it clearly, and give heuristic warnings"
This is the follow-on issue I promised in https://github.com/astropy/photutils/issues/951#issuecomment-538033961

One of the results to come out of that was that, regardless of whether there's an actual bug in the algorithm, more guidance needs to be available to users about how to set the parameters, how many PSF stars there need to be, etc.  So to rectify this (and provide concrete answers to so

[2019-10-04 17:34] Onoddil commented on #960
Thanks for the summary, @eteq. I have started looking into this in more quantitative detail, using @larrybradley's notebook as the foundation. So far I have extended my parameter space to several Gaussian sigma values (0.5, 1, and 3 pixels, which hopefully represent roughly under, critically, and oversampled PSFs), and different inputs for `norm_radius` and `recentering_maxiters`, to explore at le

[2019-10-04 18:08] larrybradley commented on #959
@thriveth Your jupyter notebook was only for making the cutout image.  I didn't see a `photutils` notebook for the source properties.  I went ahead and made a simple one using the data you provided:

https://nbviewer.jupyter.org/gist/larrybradley/15747921e0d020144ccfa591794aed70

I don't see any extremely-elongated apertures in the result.  If you could send me your `photutils` notebook that would

[2019-10-04 18:21] thriveth commented on #959
@larrybradley  Oh dear, that is ebarrassing!

This should be the right one.

[Github issue MWE.zip](https://github.com/astropy/photutils/files/3691811/Github.issue.MWE.zip)

[2019-10-04 18:29] larrybradley commented on #959
No worries, thanks!

[2019-10-04 18:42] larrybradley commented on #959
Can you also send me the `F275Wcutout.fits` file (which your notebook uses)?  I only have `F225Wcutout.fits`?  Or is that a typo (you give it a variable name of `F225W`)?

[2019-10-04 18:46] larrybradley commented on #959
nvm, I see the elongated sources in the F225W image.

[2019-10-04 18:50] thriveth commented on #959
It was a typo anyway. The F225W is the right image. There's an explanation but it's not interesting.
Apologies for the confusion!

[2019-10-07 18:32] larrybradley commented on #959
Thanks, @thriveth.  Indeed this is a bug that I tracked down to a labeling issue in `deblend_sources`.  I fixed it in #961.  Many thanks for providing the test data and MWE that enabled me to find this bug!  I'm planning to do a `0.7.1` release soon that will have the fix.

[2019-10-07 19:42] thriveth commented on #959
Nice that it is solved!
I wonder why it occurred in my code and not originally yours, though?

[2019-10-07 19:51] larrybradley commented on #959
I think you had a more stringent `contrast` setting in the `deblend_sources`.  That meant some sources were removed after the initial (internal) deblend pass.  When those sources were removed that left gaps in the labeling sequence, and the downstream code depended on there not being any gaps.  That resulted in unrelated sources (separated by a large distance) having the same final label number --

[2019-10-07 19:54] #959 closed

[2019-10-07 19:55] larrybradley commented on #959
#961 is merged now, so feel free to test it by installing the `photutils` dev version.  Instructions here:
https://photutils.readthedocs.io/en/latest/install.html#installing-the-latest-development-version-from-source

[2019-10-07 19:57] thriveth commented on #959
@larrybradley  Ahaaa! That makes sense. Thanks for the explanation! I'll try to find time to install the dev version. Thanks again!

[2019-10-09 19:33] larrybradley commented on #959
Photutils 0.7.1 is now available.

[2019-10-09 19:46] barentsen opened #964 "Cannot `import photutils` in a Google Colab notebook"
It does not appear to be possible to import `photutils` on the Google Colab platform!

I tried the following:
1. Browse to https://colab.research.google.com and click "New Python 3 Notebook"
2. Runtime > Reset all runtimes  (just in case)
3. Execute `!pip install photutils` (this works fine)
4. Execute `import photutils`

Step 4 yields the following exception:
[code]

Screenshot:
![Screenshot from

[2019-10-09 19:48] bsipocz commented on #964
what is your astropy version?

[2019-10-09 19:55] barentsen commented on #964
Google Colab runtimes appear to have Astropy 3.0.5 installed by default.

I confirm that running `!pip install astropy==3.2` fixes the issue and enables photutils to be imported, screenshot:
![Screenshot from 2019-10-09 12-54-13](https://user-images.githubusercontent.com/817669/66515391-ea175300-ea93-11e9-956f-aec88008f256.png)

I would have expected astropy to be updated automatically upon the in

[2019-10-09 19:58] bsipocz commented on #964
that must be some mess in colab, photutils 0.7.1 has a clearly stated requirement of astropy >=3.2 in it's setup file.

[2019-10-09 19:59] bsipocz commented on #964
(maybe their pip is too old? I'm just guessing around)

[2019-10-09 20:05] barentsen commented on #964
I think there is a legitimate packaging bug on the photutils side.  When I run `pip install photutils` in linux I see the message:
[code]

Indeed, downloading the wheel directly from pypi, I find:
[code]

It looks like the `install_requires` information in `setup.cfg` may not be passed on somewhere in the chain?

[2019-10-09 20:07] bsipocz commented on #964
Ohh, you're right. It's 3.2 on the dev branch, rather than on the bugfix branch. We need to get this sorted then.
(I think the solution is that 2.0.x branch is OK, but then it has to be newer, probably on 3.1.x? will investigate)

[2019-10-09 20:08] larrybradley commented on #964
`photutils 0.7.1` (*just* released) should require `astropy >= 2.0`.  That is also what is in `setup.cfg`.  @bsipocz Where did you see that `photutils 0.7.1` requires `astropy >= 3.2`?

[2019-10-09 20:14] larrybradley commented on #964
It also fails with `photutils 0.7` on Google Coab.

@barentsen Did any version of photutils work there with `astropy 3.0.5`?

[2019-10-09 20:18] bsipocz commented on #964
My suspicion is that `astropy.utils` has changed since 3.0.5, and 2.0.x got the backports but not 3.0.x. Can investigate in the weekend (or maybe this evening).

[2019-10-09 20:33] barentsen commented on #964
@larrybradley The latest version that seems to works on Google Colab is 0.4.0.

[2019-10-09 20:51] larrybradley commented on #964
@bsipocz That makes sense.  Thanks!

[2019-10-09 20:52] larrybradley commented on #964
The good news is this doesn't appear to be an issue because something was wrong with the 0.7.1 release.

[2019-10-09 20:56] larrybradley commented on #964
side note:  How do we get Google Coab to install `astropy 3.2.x` as the default?

[2019-10-09 21:15] bsipocz commented on #964
yes, it's interesting. They should either stick with 2.0.x or go to actual latest, 3.2.x

[2019-10-09 21:47] bsipocz commented on #964
OK. So the issue is that `photutils` uses the remove argument feature of the `deprecated_renamed_argument` decorator, that has been added in https://github.com/astropy/astropy/pull/8324, and made available in 2.0.12 and in 3.1.2, so we should really have a requirement of astropy as:

`astropy>=2.0.12,!=3.0.*, !=3.1,!=3.1.1`

[2019-10-09 21:56] larrybradley commented on #964
Thanks for tracking this down.  That's my fault for not checking when `deprecated_renamed_argument` was first available in `astropy`.  The photutils CI tests were probably testing against only astropy `2.0.x`and `>= 3.1.2` when I used it in photutils.

@barentsen Many thanks for reporting this!

[2019-10-09 22:00] bsipocz commented on #964
This was a very rare case for adding a feature in mid release cycle (I really needed it downstream, and didn't think about it hard that it will be picked up by others, too).

But I agree, that we better have a more complete test matrix, e.g. sticking to the first edition of a bugfix branch? e.g. test with astropy 2.0, 3.0, 3.1, 3.2 and dev rather than letting it pick up the latest of each?

cc @as

[2019-10-09 22:00] bsipocz commented on #964
I'm also adding this issue of testing to the coordination meeting's agenda, worth going through the options.

[2019-10-09 23:45] larrybradley commented on #964
#965 should have closed this, but somehow didn't.

[2019-10-09 23:45] #964 closed

[2019-10-10 20:44] Onoddil commented on #960
(See the bottom of this long post for questions I would like clarifications to; everything before that is mostly context, details, and record keeping)

My test suite now is a bit more complex, but also set up to more or less probe any of these issues in any combination now. I hadn't bothered reporting back on any intermediate steps until I was reasonably convinced of where the issue could lie, and

[2019-10-11 18:55] Onoddil commented on #960
After a quick chat to @eteq it appears this is a case of missing history of the code project resulting in some unforeseen bugs that got past review.

I reduced the number of recentering combinations to 3 by assuming that _PSF evaluation_ recenterings should always have a final recenter (because it doesn't make much sense that they don't, unlike the _sampling shift_ recenter), which reduced the tes

[2019-10-18 11:11] astrofrog opened #966 "Make extract_stars recognize different conventions for x/y positions"
I am using the ``DAOStarFinder`` to find stars and would like to use this table directly in ``extract_stars`` - it would be nice to be able to do this without having to recreate a new table or rename the columns to ``x``/``y``. Could ``extract_stars`` include some heuristics to recognize e.g. ``xcentroid``/``ycentroid``, as well as ``xcenter``/``ycenter`` and ``x_peak``/``y_peak``, which are all c

[2019-10-18 11:13] astrofrog opened #967 "Make extract_stars able to take plain Numpy arrays"
It would be nice to not have to create an NDData object just for ``extract_stars`` - other parts of photutils support plain Numpy arrays. Maybe ``extract_stars`` could include the ``@support_nddata`` decorator:

http://docs.astropy.org/en/stable/api/astropy.nddata.support_nddata.html

[2019-10-18 11:24] astrofrog opened #968 "EPSFStars cannot be properly sliced"
Currently, slicing a ``EPSFStars`` returns a list, which means that the sliced ``EPSFStars`` can't be used in the ``EPSFBuilder``. I think slicing a ``EPSFStars`` should probably return a ``EPSFStars`` instance?

[2019-10-18 11:52] astrofrog opened #969 "EPSF gets worse at each iteration"
I am trying to build an EPSF with the ``EPSFBuilder`` class - however I've found that at each iteration the EPSF actually gets worse and worse:

![Screenshot from 2019-10-18 12-49-01](https://user-images.githubusercontent.com/314716/67091897-c8118500-f1a5-11e9-8973-18b8fec4e50f.png)

Here is the full notebook:

https://gist.github.com/astrofrog/7b2c3a8c462547ffe9367f6ab28131ed

Could this indicate

[2019-10-18 12:00] astrofrog opened #970 "BasicPSFPhotometry does not have an ``init_guesses`` keyword"
The documentation at:

https://photutils.readthedocs.io/en/stable/api/photutils.psf.BasicPSFPhotometry.html#photutils.psf.BasicPSFPhotometry

refers to ``init_guesses`` but it doesn't seem to be a valid keyword argument.

If this was removed, what is now the proper way to provide the list of positions if these have already been determined beforehand?

[2019-10-18 12:08] astrofrog commented on #969
Ah it works nicely with photutils v0.6, so presumably this is some kind of regression?

![Screenshot from 2019-10-18 13-08-22](https://user-images.githubusercontent.com/314716/67092934-6e5e8a00-f1a8-11e9-8548-68ac6c9262be.png)

[2019-10-18 12:15] astrofrog opened #971 "Make bkg_estimator keyword optional in BasicPSFPhotometry"
Currently in ``BasicPSFPhotometry`` the ``bkg_estimator`` argument can be ``None``, but since it is a positional argument it *has* to be specified. I think it would make sense to make it (and other following arguments) keyword arguments to avoid having to set it explicitly to ``None``?

[2019-10-18 12:18] astrofrog commented on #970
My bad it's an argument to ``do_photometry`` and ``__call__`` - however I think in the docstring when this is mentioned:

*If finder is None, initial guesses for positions of objects must be provided*

it would be good to specify how. Also later when it's mentioned that ``init_guesses`` is an argument to ``do_photometry``, it would be good to specify ``__call__`` as well?

[2019-10-18 12:19] astrofrog commented on #970
On a related note, the intersphinx link is broken for ``init_guesses``:

![Screenshot from 2019-10-18 13-19-04](https://user-images.githubusercontent.com/314716/67093586-ee392400-f1a9-11e9-978b-17a94a14383a.png)

[2019-10-18 12:21] astrofrog commented on #970
On a somewhat related note, it would be good if init_guesses could be smart about the names for the x/y columns (in a similar vein to https://github.com/astropy/photutils/issues/966). It's difficult to have to always make new tables with different names :-/

[2019-10-18 12:23] astrofrog opened #972 "Warning about unsuccessful fit"
When doing PSF photometry, I sometimes get warnings about the fit being unsuccessful:

![Screenshot from 2019-10-18 13-22-35](https://user-images.githubusercontent.com/314716/67093886-7d463c00-f1aa-11e9-957e-ff4c85bebc4c.png)

However the warning is unhelpful, since it's not clear where to access ``fit_info``.

[2019-10-18 17:40] hcferguson opened #973 "make_gaussian_source_image example docs doesn't add source noise"
The example in the docs on make_gaussian_sources_image is adding Poisson (or Gaussian) noise only to the background. It's not including the Poisson noise of the sources themselves.

https://photutils.readthedocs.io/en/stable/api/photutils.datasets.make_gaussian_sources_image.html

[code]

One way to add the Poisson noise for the sources would be to use the scipy.stats.poisson function (but of cour

[2019-10-21 01:15] Onoddil commented on #973
This is also odd considering the `photutils` function `apply_poisson_noise` function which calls something very similar; could the example use `apply_poisson_noise(image + 5)`, keeping the example "in house"?

[2019-10-21 01:24] Onoddil commented on #972
As I recall users don't actually get access to `fit_info`, do they? If I'm remembering right, this should come out of the `self.fitter` call in `nstars`, at which point we get [this](https://github.com/astropy/astropy/blob/d77c339b553dabe16f2540741f3c94c8e54eca83/astropy/modeling/fitting.py#L890) warning raised, but then don't allow the user access to `self.fitter.fit_info` in any obvious way.

Th

[2019-10-21 01:29] Onoddil commented on #971
I'll leave this one to @larrybradley or @eteq for any reasoning as to why things are the way they are, but one counterargument at least could be the logic of forcing a user to specify their background subtraction explicitly, as you _could_ end up with situations where users didn't think about the `bkg_estimator` keyword and did a bunch of reductions on non-background subtracted images, but this wa

[2019-10-21 01:33] Onoddil commented on #969
Yeah there's a bunch of issues raised with this (cf. #951 and #960) and I've got a fix ready to submit a PR for :). Thanks for the issue -- would you be able to re-run a bunch of stuff on a new dev 0.8 (or 0.7.1, whatever it ends up in)?

[2019-10-21 17:38] larrybradley commented on #968
Yes, I'll add that.  Thanks!

[2019-10-21 18:27] larrybradley commented on #966
Yes, I completely agree!

[2019-10-21 18:33] larrybradley commented on #973
@hcferguson The `apply_poisson_noise` function does what you want.  The `make_noise_image` is intended to create only background noise images.  Its only required input is the output array shape -- it doesn't know anything about your data/sources.  This should be made clearer in the documentation with a link to `apply_poisson_noise`.

[2019-10-27 14:57] franzbinder opened #976 "Can't import Photutils"
I installed photutils on Ubuntu and it rasied no error, but if i try to import it i get :
 this error for python 2 and 3 (different ones):
franz@franz-VirtualBox:~/photutils$ python
Python 2.7.15+ (default, Oct  7 2019, 17:39:04)
[GCC 7.4.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  F

[2019-10-27 15:02] franzbinder commented on #976
Also i get this error when trying to install it :
franz@franz-VirtualBox:~/photutils$ python setup.py install
Traceback (most recent call last):
  File "setup.py", line 4, in <module>
    import builtins
ImportError: No module named builtins

but if i run :

franz@franz-VirtualBox:~/photutils$ pip install photutils
Collecting photutils
Collecting astropy (from photutils)
  Using cached https://fil

[2019-10-27 15:36] franzbinder commented on #976
i fxed the issue by upgrading astropy to 3.2.2

[2019-10-27 15:36] #976 closed

[2019-10-28 19:43] npirzkal opened #978 "photutils.segmentation.source_properties() does not accept filter_kernel option"
The option filter_kernel is not accepted by photutils.segmentation.source_properties() although it is listed in the documentation at https://photutils.readthedocs.io/en/stable/api/photutils.segmentation.source_properties.html

[2019-10-28 19:59] larrybradley commented on #978
The first line of that documentation is generated from the actual function signature, which shows that `filter_kernel` is an optional keyword.  Also, this can be seen in the source code here:
https://photutils.readthedocs.io/en/stable/_modules/photutils/segmentation/properties.html#source_properties

Can you provide a short example showing the problem?  What version of `photutils` are you using?

[2019-10-28 20:01] npirzkal commented on #978
yeah.. utter confusion between source_properties and SourceProperties...

[2019-10-28 20:03] larrybradley commented on #978
In almost all cases you want to be using the `source_properties` function.  It returns a `SourceProperties` instance.

[2019-10-28 20:33] #978 closed

[2019-11-01 22:48] iamasciencer opened #979 "ImportError: cannot import name 'datasets' from 'photutils' (unknown location)"
I have installed the package "photutils" on windows 10 (conda 4.7.12 , astropy 3.2.1).

However, if I  want to run

`from photutils import datasets`

it puts out the error in the title.
I also have tried to uninstall and install it again (even with my conda), but it did not help.

[2019-11-04 09:13] izkgao opened #980 "The parameter `fill_value` in method ApertureMask.multiply"
I thought this parameter was to fill the masked value with `fill_value`, but it turned out not. After reading the source code carefully, I found that `fill_value` is used to deal with the situation that the shape of the mask is larger than of the data. Currently, I use the code below instead to do further statistics.

[code]

Is it possible to add a new parameter related to the above to the method

[2019-11-05 23:34] #979 closed

[2019-11-07 19:55] Johannes-Sahlmann opened #983 "accounting for pixel weights when generating epsf"
I am wondering about the correct way of specifying pixel-level weights when generating an epsf from a sample of stars. Using photutils v0.6, I tried to pass weights as follows
[code]
where `dq` is the pixel data quality map in which non-zero values indicate undesirable data.

The first epsf shown below is WITHOUT weights
[jw01088002001_01201_00002_g2_cal_photutils0.6_weights-False_epsf.pdf](https:

[2019-11-07 20:20] larrybradley commented on #983
If you want to simply use a boolean mask, then you should include it in the `NDData` object:

[code]

Does that give better results?

[2019-11-07 20:36] Johannes-Sahlmann commented on #983
thanks @larrybradley . This improves the results but it looks like not using weights at all is still better:
[jw01088002001_01201_00002_g2_cal_photutils0.6_weights-True_epsf_nddata.pdf](https://github.com/astropy/photutils/files/3821567/jw01088002001_01201_00002_g2_cal_photutils0.6_weights-True_epsf_nddata.pdf)

[2019-11-07 20:57] larrybradley commented on #983
Do you have a lot of pixels with non-zero DQ?  Significantly reducing the number of available pixels will give worse ePSF results (and possibly holes).  Some non-zero DQ pixels may be perfectly fine to keep (e.g. a flagged CR or saturated pixel that was corrected in ramp fitting).

Note that even in the non-masked case, outlier pixels are excluded in the stack of `EPSFStars` cutouts using sigma cl

[2019-11-14 22:30] bsipocz opened #985 "Remove warning from PSF docs page"
Probably the API is stable enough by now to remove the red warning note from the top of the docs page?

https://photutils.readthedocs.io/en/stable/psf.html

[2019-11-15 04:43] #969 closed

[2019-11-15 18:58] eteq commented on #951
@oxno2 and @cloud182 - we *think* #974 should have solved this problem.  Can you give the latest development build of `photutils` a try? (Or if you aren't set up to install from source, try it when 0.7.2 comes out.)  If that addresses your problems here, we can close this issue.

[2019-11-15 19:00] eteq commented on #860
@gkacprzak   - we *think* #974 should have solved the problem.  Can you give the latest development build of `photutils` a try? (Or if you aren't set up to install from source, try it when 0.7.2 comes out.)  If that addresses your problems here, we can close this issue.

@ysBach - it's less clear to me if your problem is the same as what #974 fixed.  Can you give the latest `master` a try and hope

[2019-11-15 19:08] cloud182 commented on #951
Hi,

Yes, I'm not setup to use the development build, but as soon as the 0.7.2
comes out I'll give it a try.

Thanks for your work,
Enrico

Il giorno ven 15 nov 2019 alle ore 15:58 Erik Tollerud <
notifications@github.com> ha scritto:

[2019-11-19 15:44] Onoddil commented on #985
As I understood it the API was to be finalised and/or stabilised with the documentation in PRs #721, #753, #755, #756, and #766, which currently require review (#721 having had one pass but further updates still subject to secondary review; we also don't quite have a roadmap for `SceneMaker` which should probably still have a warning note somewhere once it starts to exist). These were supposed to

[2019-11-20 19:32] Onoddil opened #990 "GriddablePSFModel does not accept 2D oversampling"
Unlike `FittableImageModel`, `GriddablePSFModel` doesn't accept 2D oversampling (in the form of an `(x, y)` tuple). Presumably this should be extended to match the parameters accepted by the base class?

It also appears in the docstring to want an integer oversampling factor, but `FittableImageModel` accepts `float or tuple of two floats`, and `GriddablePSFModel` only checks for `isscalar` for err

[2019-11-20 19:41] Onoddil opened #991 "EPSFModel could do with a 2D wrapper like GriddablePSFModel"
`FittableImageModel` has a wrapper for varying PSFs in `GriddablePSFModel`. It would be good if there were other options available in 2D interpolation form -- primarily one for `EPSFModel`, to match more closely the framework laid out in its corresponding publication (Anderson & King 2000).

Given that `GriddablePSFModel` seems to actually only worry about _what_ underlying model it is an interpol

[2019-11-20 19:51] Onoddil opened #992 "Removing fitshape as a required argument in PSF photometry fitting, allowing default shape?"
Currently `fitshape` is a required input into PSF fitting routines like `BasicPSFPhotometry`. It might be good if this could be relaxed to allow for a `None` parameter, for example, which simply represented "fit the entire image".

Is this a required keyword to avoid accidental huge-image-fitting runtime problems? Perhaps a warning could be raised if `data.shape` is above some sensible size? You'd

[2019-11-20 19:57] Onoddil opened #993 "Remove param_tab from IterativelySubtractedPSFPhotometry._do_photometry"
The >1st iteration function of `IterativelySubtractedPSFPhotometry` -- `_do_photometry` -- has a keyword `param_tab`, which in its docstring is incorrectly referred to as `param_names`, which appears to be unused anywhere in the code.

It is called from `IterativelySubtractedPSFPhotometry.do_photometry` as `output_table = self._do_photometry(['x_0', 'y_0', 'flux_0'])`, or `output_table = self._do_

[2019-11-20 21:31] Onoddil opened #994 "Confirm whether ePSF residual mapping differing from Anderson & King (2000) is correct with regards to how far samplings are drawn per grid point for sigma clipping"
At present, in `EPSFBuilder`, when calculating star residual samplings and sigma clipping multiple samplings to find the robust residual for a given grid point -- used to update the interpolation spline points with more accurate PSF samples -- the current implementation uses a nearest neighbour fitting (`_py2intround`), but the algorithm as detailed in Anderson & King (2000) uses all star sampling

[2019-11-21 15:17] Onoddil opened #995 "Removal of shift_val from EPSFModel and EPSFBuilder"
Currently both `EPSFModel` and `EPSFBuilder` carry the keyword `shift_val`, which is likely unnecessary. `EPSFModel` carries it around for one instance in `EPSFBuilder` where it is passed to a function -- but `EPSFBuilder` _also_ carries what is essentially the _same_ variable (as this is the only place it is used). It should therefore be stripped from `EPSFModel` as an unneeded variable and its c

[2019-11-21 15:21] Onoddil commented on #995
While not strictly necessary, and only tangentially related to the above (hence the separate comment), this could also be a good time to consider more stringent checks on `shift_val` and `oversampling`. Currently, to calculate the integer grid point shift (i.e., how many grid points over from the grid point representing the middle of the detector) at which to compute the asymmetry metric `x_shifti

[2019-11-21 15:23] Onoddil opened #996 "centroid_epsf only uses the x-axis oversampling factor when computing shift values"
There is a typo in `centroid_epsf` where `y_shiftidx` uses `oversampling[0]` rather than `oversampling[1]` in its computation in `np.around`.

[2019-11-21 15:24] Onoddil commented on #995
(Could be merged with #996, while the codebase is being fixed and/or updated)

[2019-11-21 15:43] Onoddil opened #997 "Extend PSF photometry to simultaneous fitting of multiple images, similar to the extract_stars framework?"
Pretty lofty goal, but it seems we're not taking full advantage of the `EPSFStar` vs `LinkedEPSFStar` framework only allowing for fitting of a single image to sources at once. With `constrain_centers` on linked sources, it feels like it should be possible to allow for multiple images to be fit (in parallel or in series), with common knowledge of _position_ of all sources being used to better const

[2019-11-21 16:02] Onoddil opened #998 "Expansion of the NDData uncertainty handling in EPSFStar objects to allow for various uncertainty functions to be passed and used within EPSFBuilder"
I have a super barebones PR (#739) in which I looked at adding something like this previously, but with the updates to astropy's uncertainty handling subsequently (and me having less time to work on photutils in the future) I may as well raise this issue (although close mine if this is duplicating a previous issue, of course) more generally:

Currently when creating an ePSF via `EPSFBuilder`, the

[2019-11-21 17:03] eteq commented on #995
After some out-of-band discussion, @Onoddil and I are thinking now that this should be a class like this:
[code]
Then in the builder, any of the `None`'s get replaced by their correct value for whatever the builder keywords are.  That removes the need to do any validation of the combinations of `oversampling` and `grid_offset` in the builder itself, or the call to the function (which should improv

[2019-11-21 17:20] eteq commented on #995
Also, the `shift_val` in the builder should be deprecated in favor of `det_pix_dist`. This has some subtleties, so here are the user experiences I think we want:
[code]

[2019-11-21 18:27] Onoddil opened #999 "Ability to pass weights through PSF photometry fitting routines for use in self.fitter"
Currently in PSF photometry routines (`BasicPSFPhotometry` etc.) the actual fitting routine (`LevMarLSQFitter` by default) only works with unit weights, as there is no option to pass any uncertainties -- or weights, as is wanted by at least the LevMar fitter -- through as a separate array (or bundled in an `NDData` object, etc.), giving the option of downweighting poor quality data in a star fit.

[2019-11-21 18:53] Onoddil opened #1000 "EPSFModel and/or FittableImageModel et al. could check if x and y are true 1D arrays and propagate to 2D"
Currently the `evaluate` (or `__call__`) functions of `EPSFModel`, `FittableImageModel` etc. require `x` and `y` to be 2D arrays (or at least representative of the coordinate values of a 2D grid), and then return that same 2D grid, evaluating the PSF at those points. However, it would be convenient if evaluate was able to check if these were actually 1D arrays (to save the user having to constantl

[2019-11-26 18:05] samfederman opened #1003 "aperture_photometry Memory error"
I am having an issue with the aperture_photometry function. Basically, I'm starting with a 100x100 pixel array, and once running through photutils it somehow becomes a 15881x15881 element array resulting in a memory error. I have attempted using all 3 methods (exact, center, subpixel) and the problem persists. I am attaching a snapshot of the jupyter notebook page and the error for reference. If y

[2019-11-26 20:41] larrybradley commented on #1003
@samfederman   I suspect that your aperture radius (in pixels) is a huge value, i.e. `(15881 - 1) / 2 = 7490` pixels.  Can you please check your value of `r=(f*6.5)/cell`?  If that's not it, I would need your FITS data to investigate further.

[2019-11-26 20:52] samfederman commented on #1003
@larrybradley it would appear that the aperture radius is the issue here. When I input a radius of 5 for instance, the function operates as normal.

[2019-11-26 20:52] #1003 closed

[2019-11-26 20:59] larrybradley commented on #1003
Thanks for reporting back, @samfederman.  In your example, you can check the radius value after defining `circle` by doing `print(circle.r)`.

Just for reference, creating a `(15881, 15881)` array requires ~2GB of RAM.

[2019-11-27 10:45] shivangeerathi opened #1004 "b4 parameter"
Hi,
I am analysing the b4 parameter from the elliptical isophote fitting. I am getting very different (orders of magnitude higher) values than what I am getting from IRAF task 'ellipse' for very similar geometrical parameters. Does anyone know why does this happen ?

From Jedrzejewski's original paper, it seems that there is some transformation at play:

So, I checked if this is the missing part,

[2019-11-28 11:00] shivangeerathi commented on #1004
From the first look, it seems that there is an error in the 'isophote.py'.
In the `_compute_deviations()` function, it says:
`c = fit_upper_harmonic(residual, sample.values[2], n)`,
where residual is the difference between the true and the modelled intensity as a function of angle phi from the semi-major axis.

However, in the definition of `fit_upper_harmonic()` in the 'harmonics.py', the first a

[2019-12-03 20:59] larrybradley commented on #1004
@ibusko Can you take a look?

[2019-12-04 19:07] ibusko commented on #1004
Yes, I will look into it.

From: Larry Bradley <notifications@github.com>
Reply-To: astropy/photutils <reply@reply.github.com>
Date: Tuesday, December 3, 2019 at 3:59 PM
To: astropy/photutils <photutils@noreply.github.com>
Cc: Ivo Busko <busko@stsci.edu>, Mention <mention@noreply.github.com>
Subject: Re: [astropy/photutils] b4 parameter (#1004)

@ibusko<https://github.com/ibusko> Can you take a lo

[2019-12-05 15:48] ibusko commented on #1004
@larrybradley I will look into this.

[2019-12-05 16:55] ibusko opened #1005 "Installing photutils"
When installing from a local repo cloned from github, or directly with the command
`pip install git+https://github.com/astropy/photutils.git`
I get this error when trying to import:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/busko/Projects/photutils/photutils/__init__.py", line 19, in <module>
    from .aperture import *  # noqa
  File "/Users/busko/Pr

[2019-12-05 17:18] larrybradley commented on #1005
It looks like your installation failed because of a missing C compiler (or `Cython` is missing).  The `geometry` subpackage contains `cython` code that needs to be compiled during installation from source.

[2019-12-05 18:35] ibusko commented on #1005
From the build log, it looks like the C extensions are being properly processed. See the attached log file.
[temp.txt](https://github.com/astropy/photutils/files/3928490/temp.txt)

[2019-12-05 19:00] larrybradley commented on #1005
Yes that looks fine.  Your `python setup.py install`command is installing photutils in your conda environment called `isophote`.
Are you then starting up python and then doing `import photutils` from within the source directory?  If so, the above command will not build the extensions in place.  Instead you need to do a develop install (`python setup.py develop` OR better `pip install -e .`, which

[2019-12-05 19:03] ibusko commented on #1005
Thanks, that did it! Now that you say, I recall having this same problem ages ago. I have to write this down somewhere! :-)

[2019-12-05 19:03] #1005 closed

[2019-12-06 01:51] #996 closed

[2019-12-06 15:26] ibusko commented on #1004
@shivangeerathi indeed, the calculation for the upper harmonics was wrong. I don't know how that happened, but I bet not many users do care for these parameters, and also, we haven't added any specific test to check the calculation. Now we have :-)

Thanks for pointing this out!

[2019-12-06 23:03] #1004 closed

[2019-12-09 08:42] noi26 commented on #654
Hello, having similar issue..
tried to run very basic option of the package on PyCharm:
[code]
After running it i got an error:
`Traceback (most recent call last):
  File "C:/Users/......", line 3, in <module>
    from photutils import datasets
  File "C:\Users\......", line 19, in <module>
    from .aperture import *  # noqa
  File "C:\Users\.........", line 7, in <module>
    from .circle import

[2019-12-09 16:23] larrybradley commented on #654
@noi26 Are you by chance starting python from within a directory containing the `photutils` source code?  If so, that will not work.

[2019-12-10 08:05] noi26 commented on #654
@larrybradley Yes. you right. Thank you

[2019-12-11 14:02] Johannes-Sahlmann commented on #983
tagging @tonysohn who is taking over this work.

[2019-12-12 11:08] shivangeerathi commented on #707
Hi,
I am having the same issue with the latest version of photutils (v0.7.2) on a 64-bit machine with Ubuntu 18.04 LTS. It occurs rather randomly.
Does anyone knows a fix to this ?

[2019-12-12 14:06] ibusko commented on #707
@HSouch @shivangeerathi  could you please provide us with a sample image were the issue manifests itself?

[2019-12-18 12:15] perwin commented on #913
_One approach would be to fit each semi-major axis "step" independently, although perhaps these are not independent._

Unfortunately, they're not independent. The initial-guess parameter values for the fitting of a given semi-major-axis isophote are the best-fit values from the previous isophote fit, stepping outward or inward in semi-major axis.

[2020-01-15 19:25] Johnnyboy183 opened #1010 "ModuleNotFoundError: No module named 'photutils'"
installed using conda install -c astropy photutils. All went well.

However, in spyder, I get the ModuleNotFoundError: No module named 'photutils'

Feel like we've tried everything. Other astropy modules work without issue.

[2020-01-15 23:09] Vb2341 opened #1011 "GriddedPSFModel method to give a "local" FittableImageModel?"
The GriddedPSFModel is very useful for handling spatially variable PSFs.  However, bilinearly interpolating between the different models on the grid is quite slow.  It would be nice to have a method that returns a "local" FittableImageModel, to use when fitting a source that only covers a few pixels, as the evaluating the FittableImageModel is ~10x faster than evaluating the GriddedPSFModel.  This

[2020-01-24 17:04] bnavigator opened #1013 "aperture mask unit test fails due to precision"
On some builds `test_mask_multiply()` and `test_mask_multiply_quantity()` fail because of float machine precision

See for example the current [build log for i586 in the OBS devel package](https://build.opensuse.org/package/live_build_log/devel:languages:python:numeric/python-photutils/openSUSE_Tumbleweed/i586):
[code]

[2020-01-24 23:19] #1013 closed

[2020-01-27 07:46] MukundanK opened #1016 "ellipse fits for barred galaxies"
my aim is to fit ellipses to barred galaxies and use the change in ellipticity to identify bars/ quantify bar length in galaxies. I understand that the ellipse fit algorithm is primarily meant for smooth elliptical light distributions.
A simple ellipse fit with sigma clipping (done according to the examples on photutils-notebooks) gives me the following result:
![plots](https://user-images.githubu

[2020-01-30 15:41] larrybradley commented on #1010
@Johnnyboy183 Thanks for reporting this.  I'm not sure what the issue could be.  I don't have any experience with `spyder`.  Is it using conda for package installs?  The `-c astropy` specifies that conda needs to look in the `astropy` conda channel to find `photutils`.  I'm just guessing that this might be the issue -- is there a way to specify conda channels in spyder?

@bsipocz Do you have any e

[2020-01-30 15:42] larrybradley commented on #1010
@Johnnyboy183 Can you install other astropy coordinated packages in `spyder`, e.g. `specutils` or `ccdproc`?

[2020-01-30 15:43] larrybradley commented on #1016
@ibusko Do you have any suggestions?

[2020-01-30 16:08] ibusko commented on #1016
@larrybradley, I have no simple solution out of the top of my head. Problems like this one are complex and require some trial-and-error with the fit parameters in order to just get a grasp on what is going on. My suggestion would be to try different sampling methods, different ellipse geometry fit parameters (such as the step), and different stopping criteria, to see if it improves anything.

Unfo

[2020-01-30 16:15] larrybradley commented on #1016
Thanks, @ibusko.

[2020-01-30 16:22] Johnnyboy183 commented on #1010
Yes other packages installed. I was able to get astropy photutils working. I uninstalled and reinstalled numpy and that seemed to do the trick.

[2020-01-30 16:30] larrybradley commented on #1010
Glad you got it working.  That's very great to hear that `photutils` was helpful in your project!  I like hearing this kind of feedback. 😄

[2020-01-30 16:30] #1010 closed

[2020-01-30 17:30] MukundanK commented on #1016
Thanks, @ibusko. I will try to play around with more parameters to see if I can improve the fit.

[2020-02-07 23:46] druidowm opened #1017 "Issue with star detection"
Hi all,

I am trying to use PhotUtils to do PSF photometry. I am following one of the examples in the documentation, and am using get_residual_image() to check that the photometry is accurate. It seems to work very well on the stars the code detects. The issue is that the code does not find many of the stars. Strangely, these tend to be the brightest stars in the image. Here is my code:

[code]

I

[2020-02-13 15:33] emirkmo commented on #969
This was not resolved by #974 for me. I still get a diverging ESPF in 0.72 following the above code. A downgrade to v0.6x still works correctly (although Astropy also needs to be pinned to <4.0).

Let me know if an example notebook/data would help.

[2020-02-13 15:44] larrybradley commented on #969
Thanks, @emirkmo.  An example notebook/data would be a big help.

[2020-02-18 15:22] shivangeerathi commented on #707
@ibusko
[Here](https://we.tl/t-b1Aicw29X9) is one of the cases where the error occurs.

[2020-02-18 19:40] ibusko commented on #707
@shivangeerathi I can't make it go into an infinite loop. Instead, it fails at the very beginning with a stop code of -1. Running under a debugger, I can see that this is caused by a positive intensity radial gradient condition. This gradient must be always negative for the algorithm to work (intensity decreases as the radius increases). The cause in this particular image seems to be one (or two)

[2020-02-19 12:12] shivangeerathi commented on #707
This is the input geometry that I had used:
`x0 = 1000, y0 = 1000,  sma = 50,  eps = 0.3,  pa = 135*np.pi/180`
In addition, I had initially restricted the maxsma to 670 px.

[2020-02-20 17:22] larrybradley commented on #1017
@druidowm If you think the issue is with the star detection, have you tried changing the `threshold` and `fwhm` parameters?  I see you have currently set the threshold to 2 times the background level.  Usually one would want to set the threshold to the background value plus a specified sigma above the background noise, e.g. `threshold = bkg + (nsigma * bkg_rms)` where `nsigma` is the desired detec

[2020-02-28 20:04] ibusko commented on #707
@shivangeerathi sorry for the long delay in answering this. I tried to reproduce your problem but couldn't. I am using this script to drive the test case with your parameters:

from ..ellipse import Ellipse
from astropy.io import fits
from astropy.utils.data import download_file

url = 'file:/path_to_filerF31D196_final.fits'
path = download_file(url)
hdu = fits.open(path)
data = hdu[0].data
hdu.cl

[2020-03-04 14:56] gvdsteene opened #1021 "error importing photutils in python3"
python3 astropy and photutils are installed with pip3 and up to date
To test it I go in python3 and try to import photutils to run the test,
but I get an error in the satrapy modelling package.
What is up, please ?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.7/site-packages/photutils/__init__.py", line 36, in <module>
    from .centroids

[2020-03-04 18:41] bsipocz commented on #1021
Could you copy paste what `pip3 freeze` returns to you?

[2020-03-20 03:42] rjavila commented on #1021
I am seeing the same error from the latest astroconda installation.

[2020-03-20 04:31] bsipocz commented on #1021
what versions of astropy, photutils and numpy do you have?

[2020-03-20 14:49] rjavila commented on #1021
Actually, I only thought it was the latest version. I had recently ran a `condo updagrade --all` and thought photutils was up to date, but I had version 0.6. I upgraded to 0.7.2 and things run fine now.

[2020-03-20 17:01] gvdsteene commented on #1021
I am using it on ubuntu, but I have trouble on Mac
on mac 10.15.3
python3:
numpy==1.18.1
astropy==4.0
photutils==0.7.2

On 20/03/2020 05:31, Brigitta Sipőcz wrote:

[2020-03-30 02:07] pmisson opened #1024 "Fails with negative CRVAL1"
aper.to_pixel(wcs) gives wrong pixel locations if CRVAL1 is expressed in negative values.

I solved by changing the format of the image. It looks like is a Photutils problem because astropy does it correctly.

[2020-03-30 17:14] larrybradley commented on #1024
@pmission  `photutils` uses `astropy` to do all WCS transformations (i.e., x, y = wcs.world_to_pixel(skycoord))  Could you please provide a minimal example showing the bug?

[2020-04-06 15:54] PrasannaJayanthi opened #1026 "Source code link error"
I was looking at the tutorials on the photutils website and there is an error in the source code link. There are two slashes instead of one. This is the current link "https://photutils.readthedocs.io/en/stable//background-1.py", it works if the link is this "https://photutils.readthedocs.io/en/stable/background-1.py". I am assuming the issue is the same for all the source code links.

[2020-04-06 16:18] bsipocz commented on #1026
Thanks for the report.

It's an interesting `plot::` directive issue. Interestingly I don't see it in another package, but indeed it's persistently present in photutils.

@larrybradley @pllim - would you think that we can linkcheck for these internal docs links, too?

[2020-04-06 16:20] pllim commented on #1026
I am not familiar with the code here. Where is that code generated?

[2020-04-06 16:29] larrybradley commented on #1026
Those links are dynamically generated by `Sphinx`, specifically the `sphinx.ext.viewcode` extension.  I just noticed that `astropy` turned off showing the source code by setting `plot_html_show_source_link = False` in `docs/conf.py`.

[2020-04-06 16:32] pllim commented on #1026
But where is it generated? Which RST file? 😬

[2020-04-06 16:33] larrybradley commented on #1026
You can pick any of them.  It applies to all `plot::` directives.  @PrasannaJayanthi report specifically refers to https://github.com/astropy/photutils/blob/master/docs/background.rst

[2020-04-06 16:37] larrybradley commented on #1026
It's definitely an upstream issue.  `specutils` has the same issue, e.g. try the "Source code" link above the first plot on this page:  https://specutils.readthedocs.io/en/latest/

[2020-04-06 16:40] pllim commented on #1026
Yeah, definitely, I noticed that in `synphot` as well. 🤔

[2020-04-06 17:03] bsipocz commented on #1026
Yes, it's certainly upstream, but I don't yet see where it's coming from.  Weirdly I don't see it with astroML while messing with the new docs here: https://epyc.astro.washington.edu/~bsipocz/astroml/regression/_build/html/user_guide/regression.html
(while it's annoying there, that I also get the "source code" links for code snippets even though I didn't asked for it.)

[2020-04-06 17:06] larrybradley commented on #1026
Hmm, maybe it's in `sphinx-astropy`?  🤔

[2020-04-06 17:10] bsipocz commented on #1026
Good point, though I don't yet see how, as we don't patch the `plot` directive there.

maybe @astrofrog has insights.

[2020-04-06 21:24] pllim commented on #1026
I don't see how this can add extra slash...

https://github.com/astropy/sphinx-astropy/blob/088f073519a02bd02a9c38dc8b14d81dcc4e69ad/sphinx_astropy/conf/v1.py#L138-L140

[2020-04-07 01:46] bsipocz commented on #1026
oh, that indeed looks like to be it!

Does either of you digging into it, or shall I?

[2020-04-07 14:52] pllim commented on #1026
@bsipocz , I have not gotten to it yet and unlikely this week, so feel free to take it. Thanks! 🙇‍♀

[2020-04-07 15:03] bsipocz commented on #1026
Sounds good,  this will be my rewards project this week then 😅

[2020-04-07 15:15] larrybradley commented on #1026
BTW, on first glance it appeared that was the bug (https://github.com/sphinx-doc/sphinx/blob/f6882d74663438b281a1260684a16e97696ed6d9/sphinx/ext/viewcode.py#L193), but I briefly tried "fixing" it and nothing change.  The bug may be elsewhere.

Also, I noticed that the PNG, PDF, etc. links also have double slashes in the URL (if you look at the HTML source code).  But those links work somehow.

[2020-04-07 15:20] pllim commented on #1026
Still should be avoided regardless. I think it becomes an issue if there is some sort of ambiguity in resolving the server-side contents.

https://stackoverflow.com/questions/20523318/is-a-url-with-in-the-path-section-valid