[2012-06-29 14:34] astrofrog opened #7 "Implement accuracy tests for exact modes"
This is a reminder that accuracy tests are needed for the exact mode circular and elliptical circular and annulus photometry.

[2012-07-31 12:03] keflavich opened #8 "Feature request: Access to pixels in aperture"
I want to do aperture photometry by subtracting out the _median_ within an annulus around my source.  This is a slightly more robust way to compute backgrounds in a crowded field.  To do this, I need access to the pixel values in the background annulus.

[2012-11-14 00:00] wkerzendorf opened #13 "Zoom function"
Hey @astrofrog, @kbarbary

I'm trying to build an IFUutils packages (or maybe just a function) to extract an aperture in a cube. similar to @keflavich I need to get at the pixels to do the median instead of the sum.
But besides the point I found that you wrote your own downsample and I was wondering why you don't use `ndimage.zoom`. Does that not do the required operation?

I opened a notebook to

[2012-12-02 17:17] #7 closed, assigned to astrofrog

[2012-12-02 20:54] astrofrog opened #15 "Fix failing tests on Linux"
I've set up Travis testing for photutils, and in the process uncovered that some tests are failing there (on Linux) whereas they pass on Mac. I'm investigating.

The link to the latest travis build is https://travis-ci.org/astropy/photutils/builds/3464549 - any future pull requests will get tested by Travis.

[2012-12-03 15:27] astrofrog opened #18 "Implement more robust tests for exact aperture photometry"
As demonstrated in #12 and #17, some bugs in the exact algorithms only appear when the aperture has a particular alignment on the grid, i.e. when pixel vertices end up on special locations relative to the aperture, for example on the edge of the aperture. We need to implement more tests for these 'special' positions to ensure that these do not cause any issues.

[2012-12-03 18:30] #15 closed, assigned to nobody

[2012-12-07 11:20] cdeil opened #20 "Add rotate methods to Apertures"
If I add an `Aperture.rotate(x, y, angle)` method for all apertures, would you want it?

Use case: for gamma-ray analysis we need for a given source region "reflected" regions for background estimation around the observation position:
http://www.aanda.org/index.php?option=com_image&format=raw&url=/articles/aa/full/2007/18/aa6674-06/img41.gif

[2013-04-12 12:57] cdeil opened #24 "Register photutils on PyPI"
Could you please register `photutils` on [PyPI](https://pypi.python.org/pypi/)  to avoid someone else making a Python package with that name?

See https://github.com/astropy/package-template/issues/17 .

[2013-04-13 18:49] #24 closed, assigned to nobody

[2014-02-13 12:20] cdeil opened #29 "TypeError from photutils unit tests with numpy 1.8"
I'm getting this `TypeError` when running the `photutils` unit tests:
https://gist.github.com/cdeil/8974062#file-gistfile1-txt-L384

The issue doesn't show up on [travis-ci](https://travis-ci.org/astropy/photutils), maybe the problem appeared in numpy 1.8?

[2014-02-13 12:29] cdeil opened #30 "Add circle-circle intersection area function"
I'm currently integrating PyFACT into gammapy (https://github.com/gammapy/gammapy/pull/68).

There's a function that computes the circle-circle overlap area that I think would fit better in photutils, because it already contains similar functionality:
[circle_circle_intersection](http://pyfact.readthedocs.org/en/latest/_modules/pyfact/tools.html#circle_circle_intersection_a)

This could fit in `ph

[2014-02-13 12:34] cdeil opened #31 "Create geometry sub-package and expose overlap functions"
I find the functions in `photutils.circular_overlap` useful for implementing analysis methods in gammapy (see #30).

Unfortunately they don't show up in the docs (see [here](http://photutils.readthedocs.org/en/latest/search.html?q=circular_overlap_grid&check_keywords=yes&area=default) and the don't have helpful docstrings (i.e. mention what the inputs / outputs are):

[code]

@astrofrog Can these

[2014-02-21 19:41] #13 closed, assigned to nobody

[2014-02-25 11:42] astrofrog opened #34 "Rename annulus functions"
I would like to suggest the following renames:

[code]

I've had comments that the current names are a bit confusing, and it would be better for all the functions that do aperture photometry to start with `aperture`.

An alternative would be to combine `annulus_circular` and `aperture_circular` into a single function that takes an optional `r_in` argument. If not specified, the aperture is cir cul

[2014-02-25 16:16] astrofrog opened #35 "Bug in aperture photometry radius definition"
Shouldn't the following example give pi/4?

[code]

cc @kbarbary @cdeil

I don't have time to investigate today, but if anyone else has a chance, please feel free to!

[2014-02-25 16:33] #35 closed, assigned to nobody

[2014-03-04 09:59] astrofrog opened #36 "Implement bilinear interpolation"
At the moment, the photometry assumes nearest-neighbor interpolation. It would be nice to implement bilinear interpolation as it is flux-conserving and maybe more realistic.

[2014-04-27 16:58] cdeil opened #38 "Integrate findobj in photutils"
@larrybradley has developed findobj [code](https://github.com/larrybradley/findobj/), [docs](http://findobj.readthedocs.org/en/latest/findobj/index.html) and mentioned via email that it should eventually be merged into `photutils`.

We can use this issue to discuss API (which parts fit where in photutils), timeline, ...

[2014-05-09 20:02] indebetouw opened #41 "questions about development directions"
I just wrote a Region class that stores circular or irregular polygon apertures, knows how to expand them to make annular background regions, and is in sky coords and wcs-aware so you give it images and it returns aperture photometry. So
1. are you intending/hoping to make this package wcs-aware, or is the intent to keep things modular and write other things that call this package (I was thinking

[2014-05-14 10:58] cdeil opened #42 "Example how to run photutils on CCDData"
For some aspects of the discussion in https://github.com/astropy/astropy-api/pull/5 I think it would be helpful if someone wrote a short IPython notebook that tries to do photometry on [`ccdproc.CCDData`](http://ccdproc.readthedocs.org/en/latest/api/ccdproc.ccddata.CCDData.html).

If you don't like the current photutils API (e.g. that `gain` is a separate parameter instead of a metadata attribute

[2014-05-14 20:41] cdeil opened #43 "Write PSF photometry docs"
@adonath added PSF photometry methods to photutils in #26.

At the moment no tutorial-style docs are included in the `photutils` repo, but there is an external notebook: http://nbviewer.ipython.org/gist/adonath/6550989/PSFPhotometrySpitzer.ipynb

This or something similar should be integrated into the main `photutils` docs.
(and the link to the external notebook in the `psf_photometry` docstring n

[2014-05-16 17:39] cdeil opened #46 "Introduce PixelCoordinates class"
As discussed in today's photutils hangout (see [minutes](https://docs.google.com/document/d/1j6L0XhQFVQpB8Bc1BQ3j813_mJdjDP4dkbkfgTYOBfY)), we propose to introduce a `PixCoord` class and use it throughout `photutils`.

This is a first step towards a simple and consistent API. Currently e.g. the [aperture_photometry](http://photutils.readthedocs.org/en/latest/api/photutils.aperture_photometry.html)

[2014-05-16 17:54] cdeil opened #47 "Make aperture center coordinate an aperture member"
As discussed in today's photutils hangout  (see [minutes](https://docs.google.com/document/d/1j6L0XhQFVQpB8Bc1BQ3j813_mJdjDP4dkbkfgTYOBfY)), we propose to make the aperture center coordinate a member of the following aperture classes (see [here](http://photutils.readthedocs.org/en/latest/photutils/index.html#classes): `CircularAnnulus`, `CircularAperture`, `EllipticalAnnulus`, `EllipticalAperture`

[2014-05-17 07:46] astrofrog opened #48 "Modeling-related changes to PSF/PRF photometry"
Comments from @eteq, copied from #26:

* First, a few comments about how `astropy.modeling` is used here.  It looks to me like `DiscretePRF` and `GaussianPSF` are the *only* allowed classes, rather than arbitrary models from `astropy.modeling.models`.  This seems to mostly stem from the use of the `fit` method of the PSF/PRF classes.  Why is this necessary?  I can certainly imagine wanting to try

[2014-05-17 07:47] astrofrog opened #49 "Make PSF/PRF fitting robust to NaN values"
As commented in #26:

It may be that we should make sure the fitting is robust to there being NaN values in the PRF. At the end of the day, if the PRF has NaN values, we should just ignore them with the fitting and fit only where there are valid model and data values?

[2014-05-17 07:52] astrofrog opened #50 "Remove convenience functions"
As discussed on the hangout yesterday, we should remove the convenience functions `annulus_elliptical`, `aperture_elliptical`, `aperture_circular`, and `annulus_circular`. The docs will need to be updated accordingly.

Closes #34

[2014-05-18 14:49] cdeil opened #52 "Update docs now that aperture broadcasting is removed"
Aperture broadcasting has been removed in #37.

The docstring and docs need to be updated ... alternative examples should be given of how one can create arrays of apertures and pass those in instead of letting `aperture_photometry` do the broadcasting.

[2014-05-19 05:43] #20 closed, assigned to cdeil

[2014-05-19 07:17] #29 closed, assigned to cdeil

[2014-05-20 01:21] larrybradley opened #57 "Add tests for detection and morphology"
This is a reminder for me to work on the tests.

[2014-05-20 06:47] cdeil opened #59 "readthedocs plot doesn't work"
The plot directive doesn't work for `photutils` on readthedocs.

I tried to fix it in #58, but the error still is the same.

@astrofrog @eteq Any idea how to fix this?

[2014-05-20 14:48] #38 closed, assigned to larrybradley

[2014-05-21 17:32] bsipocz opened #61 "Enabling doctests for photutils"
This is a reminder to enable doctest for the photutils' documentation

[2014-05-21 18:16] bsipocz opened #62 "Make ``Aperture`` objects support arrays of apertures"
This should be simple enough following astropy core examples, e.g. `SkyCoord` or `Time`

[2014-05-21 21:41] cdeil opened #63 "Add more tests for PSF / PRF code"
A few of the PSF / PRF functions are currently untested and tests should be added:
* [fix_prf_nan](https://coveralls.io/files/203817441#L147)
* the `NaN`-handling part in [create_prf](https://coveralls.io/files/203817450#L471)
* [subtract_psf](https://coveralls.io/files/203817450#L490)

cc @adonath

[2014-05-21 21:54] cdeil opened #64 "Add more tests for aperture photometry code"
As can be seen in the [coverage report for aperture.py](https://coveralls.io/files/203817440), there are some important lines that are completely untested.

@bsipocz Can you please add more tests for the aperture photometry code?
(I know you're working on other things already ... I'm just creating this issue as a reminder ... it's completely up to you what you want to do first.)

[2014-05-29 21:31] #57 closed, assigned to larrybradley

[2014-05-29 23:36] kbarbary opened #67 "Use the SEP C library in photutils"
I'm pleased to see that photutils is getting more attention these days! This can only be good.

This is a suggestion that one could gain considerable benefits by implementing more functionality in pure C, and wrapping it using Cython, particularly in the aperture photometry functionality. Note that this is _not_ a comment on API design. One could always build arbitrarily complex APIs on top of the

[2014-05-30 13:30] #59 closed, assigned to cdeil

[2014-05-30 14:04] #50 closed, assigned to bsipocz

[2014-05-30 14:05] #34 closed, assigned to nobody

[2014-05-30 21:30] cdeil opened #69 "Separate high-level and low-level API?"
Currently the photutils API contains high-level functions like [aperture_photometry](http://photutils.readthedocs.org/en/latest/api/photutils.aperture_photometry.html) as well as low-level functions like [centroid_1dg](http://photutils.readthedocs.org/en/latest/api/photutils.detection.morphology.centroid_1dg.html).

I think there is agreement that more low-level functions and classes should be exp

[2014-06-03 23:13] larrybradley opened #73 "Add tests and documentation for downsample and upsample"
This is a reminder.

[2014-06-04 07:40] #42 closed, assigned to nobody

[2014-06-04 09:39] cdeil opened #74 "Add `make_gauss_catalog` and `make_gauss_image` functions"
Once #54 is merged I think we should move the code that generates the example dataset in [photutils/detection/tests/test_findstars.py](https://github.com/astropy/photutils/blob/master/photutils/detection/tests/test_findstars.py) to [photutils/datasets/make.py](https://github.com/cdeil/photutils/blob/issue_54/photutils/datasets/make.py).
This will make it available in other parts of the unit tests

[2014-06-04 09:42] cdeil opened #75 "Add overview of available datasets and fetch_all_remote function"
We should generate an overview table summarising the available datasets (image size, dtype, file size) and add a function that fetches all remote data files into the cache on the user's machine so that after calling it she can use them all offline.

[2014-06-05 12:06] #52 closed, assigned to bsipocz

[2014-06-05 21:43] cdeil opened #80 "Correct coverage measurement for photutils"
In issue #79 @larrybradley mentioned that there are inconsistencies between the coverage as measured on coveralls and the values he gets locally.

Let's use this issue to try to understand what is going on and get "correct" numbers everywhere.

For the latest `photutils` merge commit 75a97e39e5fce455400b8231a8c8e6967cfa1bda we get:
- [coveralls](https://coveralls.io/builds/838802) shows 88.49%, 0.

[2014-06-06 00:19] #80 closed, assigned to larrybradley

[2014-06-06 14:25] bsipocz opened #83 "Aperture, and psf_photometry, and create_psf to accept non-zipped xc and yc coordinate lists"
Currently both the `Aperture` objects, and `psf_photometry`, and `create_psf` accept only zipped x,y coordinate pairs/list of pairs as position. They are expected to accept  `xc` and `yc` lists, similarly to WCS:

[code]

[2014-06-09 08:48] astrofrog opened #86 "Use asv to track performance"
Once the user-facing API has settled, it would be good to set up a series of performance benchmarks using http://spacetelescope.github.io/asv/index.html since it would be interesting to see if any changes introduce any significant slow-downs.

It is also possible to do it before the API settles, but each benchmark test will need to hard-code the different ways of doing the same operation.

[2014-06-09 13:17] bsipocz opened #87 "Failing tests in test_findstars"
I've failing findstars tests, e.g. astropy table `t` from line 214 doesn't seem to be compatible with an np.array.view(np.float).

[code]

Setup output is here:
https://gist.github.com/bsipocz/c298d2f7fb1c88d057a4

[2014-06-09 16:24] mwcraig opened #89 "Import fails when importing from source directory"
In a clean install of photutils (i.e. fresh checkout, new environment) `import photutils` fails in the top-level directory. The import works fine in the other directories I tried.

[code]

[2014-06-09 18:26] #87 closed, assigned to bsipocz

[2014-06-09 18:27] #73 closed, assigned to larrybradley

[2014-06-09 18:29] #74 closed, assigned to larrybradley

[2014-06-09 23:41] #89 closed, assigned to larrybradley

[2014-06-11 08:01] jtlz2 opened #94 "weighted aperture photometry / PSF"
Hi! Do you have any routines to perform weighted aperture photometry (i.e. multiply aperture by a PSF function), and if not is there any chance you might be able to add this on short timescales? Thanks!

[2014-06-16 17:03] cdeil opened #103 "Move sampling functions to scikit-image"
This is a reminder for myself to move the "sampling" functions to `scikit-image as discussed here: https://github.com/astropy/photutils/pull/84#issuecomment-46189989

[2014-06-17 11:31] cdeil opened #104 "PSF / PRF extraction method"
In this issue I'd like to discuss if the current PRF extraction and application method makes sense or whether it can be replaced by an oversampled PSF estimation.

cc @astrofrog @bsipocz @larrybradley @adonath @eteq

### Current method

@adonath implemented as part of his GSoC the [create_prf](http://photutils.readthedocs.org/en/latest/api/photutils.create_prf.html) function, which creates a [Disc

[2014-06-19 10:23] #94 closed, assigned to cdeil

[2014-07-03 08:09] cdeil opened #111 "Update getting started example"
@bsipocz Could you please update the example in the [Getting Started](http://photutils.readthedocs.org/en/latest/photutils/index.html#getting-started) section, following the note there

How about this?
1. cut out the central part of the [example star image](http://photutils.readthedocs.org/en/latest/api/photutils.datasets.load_star_image.html#photutils.datasets.load_star_image)?
2. run one of @lar

[2014-07-08 23:20] bsipocz opened #117 "write unit tests for geometry package"
as mentioned in #99, unit tests are missing for the geometry package . ~~Also check whether `circular_overlap_grid` is faster than `elliptical_overlap_grid`, if not then get rid of it.~~ Checked, and it's indeed significantly faster.

Make the geometry APIs uniform.

[2014-07-15 14:00] bsipocz opened #119 "Move gain to ``ccdproc`` package"
There was a short discussion whether dealing with gain can/should be moved to the `ccdproc` package. If moved, it need to be well documented how to work out the photometry errors in `aperture_photometry`.

cc: @astrofrog, @cdeil, @crawfordsm

[2014-07-18 09:01] cdeil opened #120 "Sphinx build error with Anaconda Python 3.4 on Ubuntu 12.04"
I'm trying out `photutils` master with Anaconda Python 3.4 on Ubuntu 12.04 and Astropy 0.4.

The unit tests pass, but `build_sphinx` has a few issues:
https://gist.github.com/cdeil/d7d484b7f331dbc21e49

@bsipocz I think in this case all that's needed is to type `list(positions)` instead of `positions`:

[code]

This might be an incorrect LaTeX expression or an issue with my LaTeX or Sphinx install

[2014-07-18 10:34] keflavich opened #121 "Projection of apertures along a dimension: photutils->3D spectrum extraction"
This is a feature request for IFU and Spectral Cube purposes.  A wrapper to extract photometry from each channel in a cube (and preserve the relevant WCS information) would be very helpful.

For radio cubes, this is generally trivial (i.e., photutils probably isn't even needed), but for IFUs you often want to weight by the PSF to do "optimal" spectral extraction for stars.

[2014-07-28 18:58] #61 closed, assigned to bsipocz

[2014-07-30 19:50] larrybradley opened #124 "Remove photutils.utils functions"
after https://github.com/astropy/imageutils/pull/11 is merged.

[2014-08-01 20:27] ibackus opened #125 "Dependencies: Cython"
I just found this great looking package, but it appears the documentation is missing a dependency.  I couldn't install photutils until I had installed Cython.  It took me a while to figure that out, since it wasn't clear from the error messages I got when running a sudo ./setup.py build

[2014-08-04 11:19] #125 closed, assigned to nobody

[2014-08-04 19:53] #31 closed, assigned to bsipocz

[2014-08-04 20:13] bsipocz opened #129 "aperture_photometry got slower between PRs 118 and 108: find the reason and fix it"
Benchmark results are here for #118 #108 and #107:

https://gist.github.com/bsipocz/07398ec587b740c31a5f

[2014-08-06 10:43] bsipocz opened #131 "List of aperture_photometry's additional future features."
These are optional todos/new features for aperture_photometry. I'll update the list based on the comments, etc.:
- [x] add rectangular_annulus, see #149
- [ ] add polygon aperture class and do_polygon_photometry function
- [x] accept non pixel unit for radius etc. when the wcs is provided, see #138

[2014-08-07 21:26] larrybradley opened #135 "travis-ci failures due to astropy_helpers"
Travis-ci is currently failing because of an apparent issue with `astropy-helpers` (https://travis-ci.org/astropy/photutils/jobs/31948652#L198):

[code]

I see `astropy` master is also failing on travis-ci.  Anyone know what's going on?

cc: @astrofrog, @eteq, @embray

[2014-08-08 13:20] #135 closed, assigned to nobody

[2014-08-09 15:02] #124 closed, assigned to larrybradley

[2014-08-11 16:57] bsipocz opened #137 "Add datasets example with wcs header"
It would be nice to get a hdu object which has wcs header information when using  `datasets.load_star_image()`.

This can either be done by adding a wcs header to the current 'M67' example, or to change it to a different file.

[2014-08-15 16:01] #137 closed, assigned to nobody

[2014-08-15 20:08] #119 closed, assigned to bsipocz

[2014-08-18 19:53] #46 closed, assigned to bsipocz

[2014-08-18 19:54] #47 closed, assigned to bsipocz

[2014-08-18 19:54] #111 closed, assigned to bsipocz

[2014-08-18 19:56] #64 closed, assigned to bsipocz

[2014-08-21 18:48] larrybradley opened #141 "Return positions as single-dimensional columns?"
Currently, positions are returned as multidimensional columns, e.g.:

[code]

If the table is saved to ascii text and then re-read later, then the pixel positions are no longer accessible as arrays.  They become strings (e.g., `'30.0 .. 30.0'`):

[code]

Is there a reason why we are using multidimensional columns instead of single-dimensional columns (e.g., `x`, `y`, `RA`, `Dec`)?  It seems like s

[2014-08-27 16:47] hamogu opened #144 "mask not used in PSFPhotometry"
I wanted to use the mask feature to mask out some missing values in my image due to saturated pixels. There should be enough information in the surrounding pixels to do PSF fit, however, I discovered that `psf_photometry` accepts as `mask` keyword, but never uses it in the code:
https://github.com/astropy/photutils/blob/master/photutils/psf.py#L327

Is that a bug or a feature to be implemented in

[2014-09-01 08:26] cdeil opened #150 "Add docstring for CircularAperture.plot"
The docs for the [CircularAperture](http://photutils.readthedocs.org/en/latest/api/photutils.CircularAperture.html) class don't show the `plot` method, because it has no docstring defined ... a docstring should be added.

[2014-09-01 12:40] bsipocz opened #152 "sphinx docs api link warnings for "Bases""
There are loads of warnings coming from the docs build as many of the classes have base  classes that have their api docs one level higher than their full name. This very same issue was solved in the astropy core, but now I can't find how.

[code]

[2014-09-01 12:43] #150 closed, assigned to nobody

[2014-09-05 13:20] StuartLittlefair opened #155 "aperture_photometry fails when using CircularAnnulus and an error image"
In [68]: annulus_apertures = phot.CircularAnnulus(positions, r_in=sky_in, r_out=sky_out)

In [69]: bkgflux_table = phot.aperture_photometry(image, annulus_apertures, error=err_im)

ValueError                                Traceback (most recent call last)
<ipython-input-69-3bff9fb494d6> in <module>()
----> 1 bkgflux_table = phot.aperture_photometry(image, annulus_apertures, error=err_im)

/Users/

[2014-09-05 15:20] #155 closed, assigned to larrybradley

[2014-09-07 15:24] astrofrog opened #161 "Feature request - return pixel values instead of sum"
### Suggestion

I would like to suggest that we add either a new function (or a new option to `aperture_photometry`) that would basically return two 2-d arrays with shape `(n_sources, n_pix)` - the first array would contain in each row the pixels contained in the aperture, and the second array would contain the weights to apply to each pixel.
### Motivation

There have been discussions in a few pl

[2014-09-11 07:50] astrofrog opened #163 "Implement elliptical_overlap_grid similar to circular_overlap_grid"
We currently have cythonized the subpixel mode for the circular aperture, but not for the elliptical aperture photometry. This is just a reminder that this should be done for consistency and performance.

[2014-09-11 07:51] astrofrog opened #164 "Simplify do_circular_photometry by getting rid of center mode internally"
In do_circular_photometry, we treat the center and subpixel mode separately, but center can be treated as subpixel=1. Since the subpixel code is written in Cython, it would be worth checking whether performance-wise we should simply call `circular_overlap_grid` with subpixel=1 rather than doing `meshgrid` and so on.

[2014-09-12 16:57] #164 closed, assigned to nobody

[2014-09-13 20:21] #86 closed, assigned to nobody

[2014-09-15 06:47] #163 closed, assigned to nobody

[2014-09-16 10:54] astrofrog opened #170 "Make aperture_funcs.py into a Cython file"
Inspired by https://github.com/astropy/photutils/pull/169, I think we can maybe do a lot of optimization in aperture_funcs by having the loop over positions be cythonized. As https://github.com/astropy/photutils/pull/169 also showed, this has to be done carefully to actually see benefits. This is low priority, but could be a fun project at some point.

[2014-09-16 19:39] #129 closed, assigned to nobody

[2014-09-17 11:59] #120 closed, assigned to nobody

[2014-09-18 21:08] eteq opened #173 "Have datasets use Quantity with units, or at least test that this works"
While looking at the notebook @larrybradley made in #160 I noticed the `photutils.datasets` subpackage.  I also noticed that this package does not seem to be using units at all.

I think it would be extremely valuable if the units of the output images at least had the option of appropriate units.  E.g., a `flux` input should actually _be_ units of flux (or at least something that astronomers recog

[2014-09-23 19:49] larrybradley opened #177 "New Masking API"
A possible API change for masking came up in https://github.com/astropy/photutils/pull/160.  This affects all photometry routines and would involve:
1. Requiring the input `mask` to be _only_ for pixels to be excluded/ignored.
2. Removing the `mask_method` parameter.
3. Provide a separate function (e.g., `interpolate_masked_data`) to allow the user to interpolate over the bad/masked pixels in thei

[2014-09-23 20:22] larrybradley opened #178 "Error/gain API"
In the discussion of https://github.com/astropy/photutils/pull/160, @cdeil suggests removing the `gain` parameter.  In the photometry routines, `gain` is currently used with a background-only `error` to compute the total `error`, including the Poisson noise of the sources:

`error_tot = np.sqrt(error_b**2 + (data / gain))`

where `error_b` is the "background" error (really all sources of error exc

[2014-09-30 15:00] #177 closed, assigned to larrybradley

[2014-10-08 14:23] larrybradley opened #180 "0.1 release"
I think the API is stable enough now (yes?) that it would be good to put out a 0.1 release in the near term (within a couple weeks?, end of the month?) so we can get more feedback.  I am happy to do the release.  There are currently 8 issues tagged with the 0.1 milestone: https://github.com/astropy/photutils/milestones/0.1.  Can everyone look over those issue, especially those for which you are th

[2014-10-10 18:58] #103 closed, assigned to cdeil

[2014-10-10 19:14] #69 closed, assigned to bsipocz

[2014-10-11 02:15] hamogu opened #183 "Cannot install current master"
I cannot compile the current master of photutils.
Given that it passes on Travis, that must mean that something on my configuration is missing...
But what?
@astrofrog

[code]

I am using system python on Ubuntu with the following versions:

[code]

[2014-10-11 20:54] #183 closed, assigned to nobody

[2014-10-23 16:19] pllim opened #186 "Question for Larry"
@larrybradley , how do I update the following `photutils` usage from your `segment_phot` branch to the current version?

[code]

[code]

[2014-10-24 20:21] larrybradley opened #189 "Allow PSF photometry to accept a 2xN array of positions (i.e. non-zipped)"
Split off from https://github.com/astropy/photutils/issues/83 for a later milestone.

[2014-10-25 09:51] #152 closed, assigned to nobody

[2014-10-27 15:48] #141 closed, assigned to nobody

[2014-10-27 15:49] larrybradley opened #190 "Remove lacosmic prior to 0.1 release"
reminder

[2014-10-27 15:50] #186 closed, assigned to larrybradley

[2014-10-30 20:54] #190 closed, assigned to larrybradley

[2014-10-30 20:55] #83 closed, assigned to bsipocz

[2014-11-20 16:26] larrybradley opened #193 "Source deblending"
A high-priority feature for `photutils` is source deblending.  `detect_sources` creates a segmentation map, but it does not deblend overlapping sources.  Instead of writing this from scratch, I'd like to possibly use @kbarbary's `sep`, but with a slightly different API that keeps the "detection" and "deblending" as separate steps.  Specifically, I'd like a function that takes the data and segmenta

[2014-11-20 16:40] larrybradley opened #194 "Kron (and Petrosian) photometry"
Again, it would probably be nice to use a modified version @kbarbary's `sep` library for speed.  `sep.kronrad` currently returns the Kron radius and a flag array, but one really needs something like a masked array of the pixels within the ellipitical Kron aperture where the mask is `True` for pixels that are also located within other Kron apertures (from overlapping or neighboring sources).  As in

[2014-12-10 05:09] larrybradley opened #197 "Travis-CI failure"
`travis-ci` is currently failing because `apt-get` is not finding graphviz:
https://travis-ci.org/astropy/photutils/jobs/43556019#L211

It's looking for http://security.ubuntu.com/ubuntu/pool/main/g/graphviz/graphviz_2.26.3-10ubuntu1.1_amd64.deb (which doesn't exist).  It appears that `graphviz` was updated today (2014-12-09) to `graphviz_2.26.3-10ubuntu1.2_amd64.deb`.  I don't think there anythin

[2014-12-10 12:19] #197 closed, assigned to larrybradley

[2014-12-12 20:30] cdeil opened #200 "Add tests for photutils/utils/wcs_helpers.py"
As can be seen here unit test coverage for the `photutils/wcsutils.py` module is only at 42%:
https://coveralls.io/files/389247265

If someone has time to add tests for some of the methods that do computations before the 0.1 release next week, that would be great (but if not, this should not hold up the release).

[2014-12-12 20:32] cdeil opened #201 "Add unit tests for photutils/aper_core.py"
As can be seen here unit test coverage for the `photutils/aper_core.py` module is only at 49%:
https://coveralls.io/files/389247253

If someone has time to add tests for some of the methods that do computations before the 0.1 release next week, that would be great (but if not, this should not hold up the release).

@bsipocz ?

[2014-12-15 11:02] astrofrog opened #206 "Use SEP internally"
This is a reminder that we should try and see how easy it is to use SEP internally. To start with we can see what happens if we use SEP as an external dependency, and if it works we can worry about whether we bundle it.

cc @kbarbary @cdeil @bsipocz

[2014-12-15 13:06] #206 closed, assigned to nobody

[2014-12-15 17:53] cdeil opened #208 "Incorrect mask_to_mirrored_num call in create_prf"
The static code analysis in PyCharm shows a warning for this call to `mask_to_mirrored_num` in `create_prf`:
https://github.com/astropy/photutils/blame/master/photutils/psf.py#L498

@adonath I think this is a bug?
Do you have time to fix it this week and add a simple test that covers this line?
(if no I'll try to have a look or we'll re-schedule for 0.2)

[2014-12-16 11:07] cdeil opened #210 "Fix documentation PDF output on readthedocs"
Currently the documentation PDF build on readthedocs is broken.

* https://readthedocs.org/builds/photutils/2008877/

I didn't look yet what is wrong.
We should try and fix this before the release ... having a PDF e.g. for offline reading can be useful to some people.

Currently the whole content of the PDF is this:
* https://media.readthedocs.org/pdf/photutils/latest/photutils.pdf
![screen shot 2

[2014-12-16 21:18] #208 closed, assigned to adonath

[2014-12-17 14:45] bsipocz opened #212 "Unit of position doesn't return from aperture_photometry for singe positions"
This should be fix before 0.1

The units of `pixel` gets forgotten along the way if the position has only one element:

[code]

while it's working well for multiple positions...

[code]

@cdeil - this can be assigned to me

[2014-12-18 21:47] bsipocz opened #215 "Aperture radius is not a fixed value, but depends on the mean pixelscale at (x,y) positions"
I think the SkyApertures aren't working as they should be. E.g. https://gist.github.com/bsipocz/82afbf783f888230946e#file-test_skycircularaperture-py returns with different photometric fluxes, depending on the number of positions in the image.
This is due to the reason of taking the mean of the pixel scale values at the different position in https://github.com/astropy/photutils/blob/master/photuti

[2014-12-20 02:27] #215 closed, assigned to nobody

[2014-12-20 02:52] #212 closed, assigned to bsipocz

[2014-12-20 09:47] cdeil opened #220 "Enable AppVeyor Windows CI testing"
We should enable Windows testing on AppVeyor now that this is active in Astropy:
https://github.com/astropy/astropy/pull/2755

I'm putting this for the 0.2 milestone because it might not be trivial to configure and could turn up Windows-specific issues that will take some time to fix.

[2014-12-20 16:41] bsipocz opened #221 "Local doctest failures in detection.rst"
Doctest passes on Travis, however I have these two failures locally:

[code]

cc: @larrybradley

[2014-12-21 18:05] #221 closed, assigned to larrybradley

[2014-12-21 18:21] #201 closed, assigned to nobody

[2014-12-21 23:31] #200 closed, assigned to cdeil

[2014-12-22 04:33] #180 closed, assigned to larrybradley

[2014-12-26 00:20] bsipocz opened #228 "Recent changes in NDData and/or Quantity causes test failuere in test_aperture_photometry"
This should be trivial to fix, I'll deal with it in the next couple of days.

[code]

[2015-01-05 11:47] #228 closed

[2015-01-05 12:16] cdeil commented on #41
@indebetouw - If you haven't had a look at photutils in a while, check out what's there now: http://photutils.readthedocs.org/

I think it's best to close old issues like this one "questions about development directions" that discuss a bunch of things (polygon apertures, WCS handling, statistic argument).

@indebetouw - If that's OK with you, could you please close this issue and create new issues

[2015-01-10 20:37] astrofrog commented on #220
If anyone wants to do this, it should be simple: copy over the following three files:

* ``.install-miniconda.ps1``
* ``appveyor.yml``
* ``.appveyor_windows_sdk.cmd``

Then adjust the dependencies in ``appveyor.yml``. I've already enabled appveyor on their side but it will only work once there is an ``appveyor.yml`` file here.

[2015-01-12 21:03] astrojohnlewis opened #233 "returned table columns are incorrect"
when plotting the table returned by aperture_photometry, the x and y columns seem flipped.
I have to use
[code]
to display the images, where file contains the image and tab is the returned photometry table

[2015-01-12 21:40] cdeil commented on #233
The [getting started example](http://photutils.readthedocs.org/en/latest/photutils/getting_started.html) shows that at least internally to `photutils` it follows our [coordinate convention](http://photutils.readthedocs.org/en/latest/photutils/overview.html#coordinate-conventions) and gives correct results.

Can you try to create a self-contained example we can run?
Then it'll be clear if there's a

[2015-01-13 01:14] astrojohnlewis commented on #233
[This](https://github.com/astrojohnlewis/JJPHATS/blob/master/Photometry.py) shows the code I am using to semi-automate my photometry.
[Here](http://nbviewer.ipython.org/gist/astrojohnlewis/63bf3ede2a669f5fc865) is an IPython notebook showing the implementation of the program.

[2015-01-13 19:17] larrybradley commented on #233
@astrojohnlewis, thanks for your scripts.  `find_peaks()` returns a `Nx2` array of coordinates in `(y, x)` order (see http://photutils.readthedocs.org/en/latest/api/photutils.detection.find_peaks.html#photutils.detection.find_peaks).  You then use the returned `(y, x)` coordinates as input to `CircularAperture`, which requires coordinates to be in `(x, y)` order.  Thus, you need to change line 35:

[2015-01-13 19:47] astrojohnlewis commented on #233
Thanks!

[2015-01-14 19:46] pllim commented on #186
@larrybradley , going back to your example above... If I already have X and Y position I want to measure, is it possible to create `segm_img` by passing in `(X,Y)` instead of running source detection?

[2015-01-14 19:52] larrybradley commented on #186
It's not currently possible in `photutils`.  Let me think about if this is possible (e.g. creating a source segment by recursively searching connected pixels that exceed the threshold).

[2015-01-15 12:34] cdeil opened #235 "Sub-pixel precision peak finder and image value lookup"
@adonath and I need functions that find peaks and lookup image values with sub-pixel precision (because our images are very slow to compute at high resolution, see example [here](http://nbviewer.ipython.org/github/gammapy/gammapy-extra/blob/master/notebooks/ts_map_computation.ipynb))

@larrybradley already implemented [photutils.morphology.centroid_2dg](http://photutils.readthedocs.org/en/latest/a

[2015-01-16 09:28] cdeil opened #236 "build_sphinx doesn't work on Python 3"
For me this doesn't work with Python 3.4 and Astropy master:
[code]
(see full traceback [here](https://gist.github.com/cdeil/99c717f807e0017246a9#file-gistfile1-txt-L83).)

Can someone confirm this issue?
I'll try running the sphinx build with Python 3 on travis-ci and then update the `astropy-helpers` pointer to the latest 0.4.4 release (see [astropy-helpers on pypi](https://pypi.python.org/pypi/

[2015-01-16 10:41] cdeil opened #237 "doctest fail in segmentation.rst"
Looks like there's a doctest fail in `segmentation.rst` now:
https://travis-ci.org/astropy/photutils/jobs/47222670#L2015

[code]

@larrybradley Can you reproduce and fix this one?
If the table formatting changed we'll probably just have to skip this as long as we support Astropy 0.4?

[2015-01-16 11:03] cdeil commented on #237
Looks like this is an intermittent fail ... the next build with the same config passes, although there were no changes to that build:
https://travis-ci.org/astropy/photutils/builds/47228838

!?

[2015-01-16 18:34] larrybradley commented on #237
I can't reproduce this doctest fail.

[2015-01-16 18:40] larrybradley commented on #235
@cdeil  I was planning to add a feature exactly like that for `subpixel` peak finding, so I'll go ahead with that implementation.

I'm not sure exactly what you want for the look up function, but my guess is that is probably better as a separate function?

[2015-01-16 19:51] cdeil commented on #235
@larrybradley - Yes, `lookup_image_value` should be a separate function.

[2015-01-16 20:11] cdeil commented on #237
Closing this now ... if someone can reproduce it locally in the future please comment here and we'll re-open.

[2015-01-16 20:48] cdeil commented on #233
I presume the positions are returned as `(y, x)` because that's what [skimage.feature.peak_local_max](http://scikit-image.org/docs/dev/api/skimage.feature.html#peak-local-max) does and they do it because that can be used directly to index into numpy arrays?

What do you think about returning an `astropy.table.Table` instead with `x` and `y` columns and providing a separate `lookup_image_values` fu

[2015-01-16 21:45] larrybradley commented on #237
It just showed up again on `travis-ci`:
https://travis-ci.org/astropy/photutils/jobs/47286568

Very odd.

[2015-01-16 21:49] larrybradley commented on #237
I truncated the long astropy table to included the first and last 5 rows.  From the error diff, it appears that the doctest truncates the table using the first and last **10** rows.  I have no idea though why the doctest  fails intermittently.

[2015-01-16 22:07] cdeil commented on #237
I don't understand this either, but there was a recent change in table formatting:
https://github.com/astropy/astropy/pull/3239

Maybe we should skip this doctest and add the exact same example as a unit test and a comments linking the two? Or is there a better way to have the docs tested, but not rely on the exact output?

[2015-01-20 20:46] larrybradley commented on #233
@cdeil Yes, I will change it to return a `Table` to make it fool proof.  I understand why it's used, but the numpy axis order is a bit unfortunate.  `photutils` functions use `(x, y)` input, but direct array access uses `(y, x)`.  So the general question becomes what order should functions return?  A `Table` will make this unambiguous.

[2015-01-20 20:56] larrybradley commented on #237
The test fails because astropy/astropy#3239 prints the table length at the end of the table if the table isn't completely shown (e.g. this line https://travis-ci.org/astropy/photutils/jobs/47286568#L2053).  There is not an option to turn off this behavior (I'll submit a PR for that).  The doctest will need to be skipped until we require `astropy >= 1.0` (implemented in #238).

[2015-01-23 01:29] larrybradley commented on #220
This was implemented in #232.

[2015-01-23 01:29] #220 closed

[2015-01-23 01:32] larrybradley commented on #233
`find_peaks()` now returns a `Table` (#240).

[2015-01-23 01:32] #233 closed

[2015-01-23 01:32] #237 closed

[2015-01-26 22:38] sergiopasra opened #242 "Some tests in photutils/tests/test_aperture_photometry.py fail in linux i386"
Hi, some tests in photutils/tests/test_aperture_photometry.py fail in linux i386, but no in x86_64
More details here:

https://kojipkgs.fedoraproject.org//work/tasks/9826/8719826/build.log

The tests are:
______________ TestElliptical.test_scalar_error_no_effective_gain ______________
____________ TestElliptical.test_scalar_error_scalar_effective_gain ____________
____________ TestElliptical.test_

[2015-01-26 23:39] bsipocz commented on #242
I'll check tomorrow whether I can find a running i386 Python somewhere, and
will fix these.
On Jan 26, 2015 10:38 PM, "Sergio Pascual" <notifications@github.com> wrote:

[2015-01-27 05:10] cdeil commented on #242
@sergiopasra Thanks for testing!

@astrofrog @larrybradley @bsipocz Do you think we should support 32-bit machines for photutils?

I'm -1 because it's extremely rare these days and we don't have developers / continuous integration using 32-bit, so it's annoying to support.

I've been bitten many times where I accidentally used 32-bit images and got (sometimes completely, sometimes slightly) incorr

[2015-01-27 10:55] bsipocz commented on #242
It would nice to support 32bit IF we could get a testing system up and
running. Testing and developing on an archaic a gateway server or on the
grandparents desktop (these are the only ones I've found), is definitely
not a good solution.
To be honest I'm not surprised that those test fail...
On Jan 27, 2015 5:10 AM, "Christoph Deil" <notifications@github.com> wrote:

[2015-01-27 11:02] astrofrog commented on #242
Just to make sure I understand, are 32-bit systems incapable of using ``np.float64`` or is it just that the default is ``np.float32``? If the latter then we can still support those systems by casting any input to ``np.float64``, right?

[2015-01-27 11:07] cdeil commented on #242
@sergiopasra Please correct me if I'm wrong, but I think 32-bit systems do now support 64-bit floats like `np.float64`. I'm not sure what happens ... but `np.float128` definitely doesn't give me 128 bit float precision on my 64-bit machine (that would be nice).

@bsipocz It wouldn't be super-hard to create a VM or Docker container with a Linux 32-bit OS (see e.g. instructions [here](https://github

[2015-01-27 11:08] astrofrog commented on #242
I think what we do need to make sure of is that photutils works with 32-bit images and arrays (even if it converts to 64-bit internally). Some FITS files return 32-bit. So if we make sure it can work regardless of the input, I think we may implicitly manage to support 32-bit systems.

[2015-01-27 12:09] cdeil commented on #242
@astrofrog - I only briefly looked at the test failures, but I think the issue is not that photutils doesn't work with 32-bit inputs, it's that accumulating results in 32-bit gives inaccurate results if you sum e.g. for lots of pixels. We could (and maybe should) change to use 64-bit accumulators in all `np.sum` etc. calls, so that users on 64-bit machines get good results even if they pass 32-bit

[2015-01-27 12:18] bsipocz commented on #242
I'm afraid this uncovered a real a bug somewhere deeper. The result of the following summing of np.ones depends on whether it was run on a 64 or 32bit system (90 or 92 respectively). Insensitive to the dtype of ``data``, but sensitive to the position.

[code]

[2015-01-27 13:02] sergiopasra commented on #242
@cdeil Numpy in i386 supports np.float64. I get the following in a Fedora 20 i386 virtual machine, numpy is 1.8.2

[code]

There is a very long thread about numeric precision of ``np.mean`` in the numpy list.
http://mail.scipy.org/pipermail/numpy-discussion/2014-July/070740.html
I think it can be relevant

[2015-01-27 13:07] astrofrog commented on #242
@bsipocz - can you rerun your example but with ``np.float64`` instead of ``np.float``? (not sure if the two are equivalent on 32-bit systems?)

[2015-01-27 14:03] bsipocz commented on #242
Yes, no difference. The bug is in ``EllipticalAperture``, in case when
``a==b`` is should return the same as ``CircularAperture``. Maybe this is
related to #198.

[code]

On 27 January 2015 at 13:07, Thomas Robitaille <notifications@github.com>
wrote:

[2015-01-27 18:13] bsipocz commented on #242
The difference is due to the different functions used in the cython code to
figure out the overlap, whether a centre of a pixel is within the aperture.
I think this can be traced back to the float precision in the corresponding
c code, and not sure it's worth tempering with. It's happening in only a
small fraction of the corner cases when the aperture goes through the
centre. The maximum differenc

[2015-01-28 15:37] bsipocz commented on #242
@cdeil, @astrofrog, @larrybradley -
#245 adjust the tests to pass on 32bit, but it doesn't change the cython code.

[2015-01-28 15:53] cdeil commented on #242
So the problem with results changing for 32-bit or 64-bit occurs when pixel centers are located on aperture edges?
Hmmm ... I guess this is hard to avoid when adding / changing tests in the future ... is it possible to find a solution to prevent this issue coming up again in the future?

The only idea I have is a `CHECK_STABLE=True/False` option at the top that changes the aperture extensions by +

[2015-01-28 16:31] bsipocz commented on #242
Yes, I guess that's the source of the problem.
However this the discrepancy is only present in about half the cases. (e.g. radius 4, 5, 8, 11 work (with the centre position on a grid point), however 3, 6, 7, 12 don't).

#245 uses this 'feature', and thus the tests pass, so I think in that case your suggestion of ``CHECK_STABLE`` is unnecessary. Ever more straightforward would be to use none a frac

[2015-01-28 16:57] cdeil commented on #242
Even with a fractional pixel size as aperture radius you can come arbitrary close to pixel centers ... I don't have a good suggestion for how to handle this testing issue better, so +1 to committing your fix now (maybe adding a comment explaining the issue with one sentence and linking to this issue) and see if someone else gets such errors in the future.

[2015-01-28 20:54] bsipocz commented on #242
@sergiopasra - Could you please check whether the tests pass now that #245 is merged?

[2015-01-29 08:25] cdeil opened #246 "Drop Astropy 0.4 support?"
@larrybradley asked at https://github.com/astropy/photutils/pull/244#issuecomment-71912476 whether we should drop Astropy 0.4 support in `photutils` and then make a photutils 0.2 release in the coming months with Astropy 1.0 as a requirement.

I'm +1, there's some things in `modeling`, `nddata` and `table` and `visualization` that are nice to have and I think it would be good to have less old vers

[2015-01-29 09:48] astrofrog commented on #246
+1

[2015-01-29 10:21] sergiopasra commented on #242
@bsipocz No, I still get  errors. I have tested in  a i386 VM with numpy 1.8.2 and scipy 0.12.1

Full output of pytest
http://guaix.fis.ucm.es/~spr/github/photutils-242-pytest1.text

[2015-01-29 11:49] bsipocz commented on #246
+1. It's hard to imagine that anyone able to upgrade to 0.2 won't be able
to upgrade their astropy....
On Jan 29, 2015 8:25 AM, "Christoph Deil" <notifications@github.com> wrote:

[2015-01-29 12:31] cdeil commented on #246
OK, then it's settled ... @larrybradley would you prefer to do this now and temporarily point travis-ci to the release candidate https://pypi.python.org/pypi/astropy/1.0rc1 or let #244 sit until 0.1 is out?
Let me know if you want me to attach a commit that does this here or prefer to do it yourself ...

[2015-01-29 14:57] larrybradley commented on #246
I don't think the `1.0` is going to be much different than `1.0rc1`, so I'd suggesting going ahead and moving to `1.0rc1` now.  Please go ahead with the commit (or let me know if you want me to do it).

[2015-01-30 00:18] kpardeshi opened #247 "ImageNormalize returns TypeError: must be type, not classobj"

[2015-01-30 07:51] cdeil commented on #247
@kpardeshi - We need more information to see if this is a problem in your script or a bug in `photutils`.

The best would be if you can produce a standalone script that results in this error and post it here with the traceback (i.e. the full error message from the console) you get.
If this is too time-consuming because you only get this error under certain circumstances when running a large script

[2015-01-30 08:28] kpardeshi commented on #247
From the 'Background and Background Noise Estimation' section of the documentation:

from photutils.datasets import make_100gaussians_image
data = make_100gaussians_image()

from photutils.extern.imageutils.visualization import SqrtStretch
from photutils.extern.imageutils.visualization.mpl_normalize import ImageNormalize
import matplotlib.pylab as plt
norm = ImageNormalize(stretch=SqrtStretch())
p

[2015-01-30 08:34] astrofrog commented on #247
@kpardeshi just for future, you can include the traceback inside triple quotes:

[code]

and it makes it more readable (I added this to your comment)

[2015-01-30 08:55] cdeil commented on #247
Hmmm ... this works for me with matplotlib 1.4.2 ... what version of matplotlib do you have?
You can use this command to find out:
[code]

The [ImageNormalize](http://astropy.readthedocs.org/en/latest/api/astropy.visualization.mpl_normalize.ImageNormalize.html) class is now available in Astropy core and in #246 I'll change the imports to use that version. This might resolve the issue or it might n

[2015-01-30 17:44] bsipocz commented on #242
@sergiopasra - sadly I cannot reproduce the error, even with the same numpy and scipy. And these ones are most probably not related to the  float precision, as the actual value for ``'aperture_sum'`` seems to be a factor of 3 larger than expected.

[code]

[2015-01-30 17:47] larrybradley commented on #247
This works fine for me too (also with `matplotlib 1.4.2`).

This exception is raised when using `super()` with old-style classes.  There are no old-style classes in `photutils`.  However, `ImageNormalize` is a subclass of `matplotlib.colors.Normalize`.  So I suspect that this is due to an old version of `matplotlib`.

[2015-01-30 18:27] astrofrog commented on #247
In that case, we could consider getting rid of super and just doing ``Normalize.__init__(self, ...)``.

[2015-01-31 12:02] kpardeshi commented on #247
Unfortunately I still get the error with matplotlib version 1.6.2:

[code]
When I run photutils.test(); along with the error in ImageNormalize I get the following error in 'test_aperture_plots[aperture_class4-params4]'
[code]
They may be related because this also requires matplotlib. I also get an error in 'test_centroids_withmask' but it has to do with numpy so I will post it in another thread.

[2015-01-31 13:30] astrofrog commented on #247
@kpardeshi - just to double check, what do you get if you run:

[code]

?

[2015-01-31 13:41] astrofrog commented on #247
This can't be right:

[code]

The latest stable version of matplotlib is 1.4.2 - not sure what could be going on there!

In any case, I've reproduced the bug here with matplotlib < 1.1 because indeed ``Normalize`` used to be an old-style class. I'll open a PR to Astropy to fix this before 1.0 final.

[2015-01-31 13:55] astrofrog commented on #247
I've opened a fix for Astropy: https://github.com/astropy/astropy/pull/3413 - this should make 1.0

[2015-02-02 09:41] sergiopasra commented on #242
@bsipocz Let me try with a different VM

[2015-02-03 20:47] #247 closed

[2015-02-04 22:05] pllim commented on #161
I was just looking for this functionality, because I want to generate various background statistics for pixels in an annulus. It is unfortunate that it is not yet implemented.

[2015-02-05 10:56] sergiopasra commented on #242
@bsipocz I still get the errors. I have installed a debian 8 VM and the errors apper in the same places. I have used astropy and photutils from master.

[code]
https://gist.github.com/sergiopasra/23975871668fe83b93d4

[2015-02-05 18:39] bsipocz commented on #242
@cdeil, @astrofrog, @larrybradley - I'm at my wit's end with this.  I tried to reproduce it on two different setups with no success. However it is quite suspicious to be a bug as there is a factor of 3 difference between the expected and actual values.

[2015-02-05 22:29] cdeil commented on #242
It's suspicious that the sum in the elliptical aperture is exactly a factor 3 higher after calling `aperture_photometry` 3 times (but only for the elliptical aperture) ... I was looking through the code a bit for possible modification of the input `data` but don't see anything that would lead to it changing.

@sergiopasra Do numpy and Astropy unit tests pass on that machine? Is there a simple way

[2015-02-06 13:27] sergiopasra commented on #242
@cdeil I'm just testing in Fedora 20, Fedora 21 and Debian 8 VM under QEMU/KVM Fedora 21, I installed them with a Live CD, nothing esoteric

I have debugged this a little bit. The problem seems to be this test

[code]
But only when `theta` is `+-np.pi / 4` and method is `exact`. If I change the angle to, say, 0.1, then the test passes.

The number of calls to `aperture_photometry` doesn't affect t

[2015-02-06 13:34] bsipocz commented on #242
@sergiopasra what is the version combination for the libc/gcc in these setups?

[2015-02-06 15:40] sergiopasra commented on #242
@bsipocz In debian 8 gcc 4.9.1, fedora 21 has gcc 4.9.2 and Fedora 20 gcc 4.8.3

[2015-02-06 15:55] sergiopasra commented on #242
@cdeil I'm now looking inside `overlap_area_triangle_unit_circle`
In the wrong pixels, one of the two triangles has its vertex `x1`, `y1` **on** the circle (`d1` = 1)

The routine determines which vertices are inside and which are on the circle.

[code]
For `x1, y1` both are true. Later there are several choices

[code]
Notice that there isn't a check for `on1`. But if `on1` is true, the triangle

[2015-02-06 19:15] cdeil commented on #242
@sergiopasra Thanks for taking the time to debug and fix this issue!

[2015-02-06 23:59] rmjc commented on #183
I believe I'm having a similar issue, except I'm running Cython 0.21.2. When I try to install photultils via pip install --no-deps photutils, I get the following Cpython error:

    Downloading/unpacking photutils
    Running setup.py egg_info for package photutils
    Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1

    Instal

[2015-02-07 20:51] cdeil commented on #183
@rmjc That looks like an issue with your Python / Numpy / Cython installation (not exactly sure what the issue is though), I don't think there's anything in Astropy / Photutils we can change to fix this.

EPD 7.3 is a few years old ... you could try to get help with this issue from Enthought, but if at all possible my suggestion would be you install a new Python and all the packages you like using

[2015-02-13 09:50] keatonb commented on #161
I'm glad to see that you all are already thinking about adding this functionality.  I just ran up against the problem of stars in the sky annulus increasing the calculated mean that I interpret as my background.  I would ideally subtract a more robust median.  Will try to come up with a workaround for now.

Thanks for putting the good work into photutils!

[2015-02-16 15:32] larrybradley commented on #235
Implemented in #244.

[2015-02-16 15:32] #235 closed

[2015-02-24 21:29] hamogu commented on #189
This may or may not the addressed in the context of #159.

[2015-03-04 19:58] hamogu opened #254 "PSF classes should have a "flux" attribute"
We currently offer one class as a PSF, the `GaussianPSF`. The fitted parameters are sigma, amplitude and (x,y) position. In the end, we don't care about the amplitude, only about the total flux (given by the integral and depending on amplitude and sigma).
I have a feeling that there must be an analytic expression for this, but I'm right now a little confused by the fact that the docs https://githu

[2015-03-04 20:04] hamogu commented on #254
Note that the value of `psf/psf.max()` also depends on `x_0, y_0`. If the center of the PSF shifts, then the pixel boundaries will fall differently and thus the evaluated numbers in the PSF will change, which will cause `psf.max()` to be different. Is that intentional? It might be right, I just cannot wrap my head around it right now.

[2015-03-04 21:56] adonath commented on #254
If I remember correctly, the parameter used to be the total integrated flux (that's how I implemented it). I just noticed that  @larrybradley changed the definition of the parameter in #218 to the peak amplitude, maybe because I called it `amplitude` in the docs? (Which was a misnomer...sorry) I think it should be changed back. @larrybradley What do you think?

Concerning the normalization factor:

[2015-03-05 00:30] larrybradley commented on #254
@adonath, yes I completely agree that it should be changed back (when I was doing #218 I mentioned that `flux` seemed better than `amplitude`, but nonetheless I continued your PR before the 0.1 release).

[2015-03-10 08:22] cdeil opened #255 "Docs build on RTD broken"
The `photutils` docs build on RTD is broken:
https://readthedocs.org/builds/photutils/2413314/

The issue is that `pip install scikit-image` fails and then `pip install astropy` isn't executed and `python setup.py build_sphinx` fails with an `ImportError` for `from astropy.extern import six`.

I tried fixins this in https://github.com/astropy/photutils/commit/8d879d5d479344704093eaa52545972e3cee98

[2015-03-10 21:50] astrofrog opened #256 "Fix appveyor.yml to use astropy 1.0.1"
The appveyor file should be updated to install astropy from the astropy-ci-extras channel and to install ``astropy=1.0`` (which will pick up the most recent ``astropy=1.0.x`` release)

[2015-03-11 18:51] larrybradley commented on #256
Fixed in #257.

[2015-03-11 18:51] #256 closed

[2015-03-16 21:42] gongenhao commented on #255
same here

[2015-03-16 22:12] astrofrog commented on #255
Can you try adding ``networkx>=1.8`` to the pip requirements file?

[2015-03-17 07:51] cdeil commented on #255
@astrofrog – I did add `networkx` to the pip requirement file in https://github.com/astropy/photutils/commit/8d879d5d479344704093eaa52545972e3cee98fa . If you look at the output above, it says:
[code]
but doesn't say that it's running `setup.py` from `networkx` so I guess it didn't install it!???

I don't think adding `>=1.8` for `networkx` would help ... just putting `networkx` in the pip require

[2015-03-17 07:54] astrofrog commented on #255
@cdeil - this may be a case again of the fact that pip requires all packages to be able to run ``setup.py egg_info`` without any dependencies being installed. Can you try creating an empty python environment and then running ``python setup.py egg_info`` in the expanded tar file for ``scikit-image``? If it gives the same error it's a ``scikit-image`` bug.

[2015-03-17 08:05] cdeil commented on #255
@astrofrog – Looks like there might be a fix for this coming soon in `scikit-image` (see https://github.com/scikit-image/scikit-image/pull/1426#issuecomment-82192746) ... let's just wait a bit, OK?

[2015-03-17 08:23] astrofrog commented on #255
@cdeil - ok, sounds good. If you want to test that fix, basically you need to make sure ``python setup.py egg_info`` runs with no dependencies installed.

[2015-03-30 15:33] keflavich opened #259 "Feature request - masks from apertures"
This may be better thought of as a pyregion issue, but it is relevant to the existing photutils setup and highlights some of the overlap between the two packages.

I would like to be able to return a 2D mask from an image given an input aperture (either Sky or pixel).  Both a boolean mask (containing all overlap or all contained pixels) and a floating-point fractional pixel mask could be useful de

[2015-03-31 14:32] larrybradley commented on #259
@keflavich This is a good suggestion and it was actually how I thought about approaching #161.  I've been a bit swamped lately, but I hope to get to this soon.

[2015-04-01 14:38] cdeil commented on #255
Today a bugfix release for scikit-image was made (see https://github.com/scikit-image/scikit-image/issues/1067#issuecomment-88397648) and the Sphinx build for the latest version of photutils on readthedocs works again (see https://readthedocs.org/builds/photutils/2518642/).

The Sphinx build for the stable photutils 0.1 version still fails (see https://readthedocs.org/builds/photutils/2518690/). I

[2015-04-07 20:36] larrybradley commented on #255
The stable docs built fine today on RTDs:
https://readthedocs.org/builds/photutils/2545719/

[2015-04-07 23:41] larrybradley opened #262 "photutils 0.2"
I was asked to give a tutorial on `photutils` at the upcoming User Training in JWST Data Analysis meeting (http://www.stsci.edu/institute/conference/ut_jwst_da/).  They will need to establish the software dependencies for the participants in next couple of weeks.  I'd like to have a `photutils 0.2` release ready that incorporates the additions/changes since `0.1` and perhaps a few more additions,

[2015-04-08 06:58] cdeil commented on #262
:+1:

[2015-04-22 08:42] bsipocz commented on #255
I close this as both devel and stable version are OK on RTD at the moment.

[2015-04-22 08:42] #255 closed

[2015-04-24 08:23] astronomeralex opened #264 "adding parsing for galfit output files"
I have a little module for parsing galfit output files into python objects (https://github.com/astronomeralex/galfit-python-parser). @cdeil mentioned that photutils would be a good place so this has more community visibility. Where shall I put it? I will need to clean up the code and document it better. Never imagined other people would find this useful...

[2015-04-24 11:58] cdeil commented on #264
I think having convenience functions to work with `galfit`, `sextractor`, `psfex`, IRAF ... input or output files would be nice to have in photutils, both for developers to compare results to `photutils` and for end-users. A lot of astronomers have written such scripts, but they're scattered and hard to find.

It wouldn't be extra dependencies in any way, just convenience functions like @astronome

[2015-04-24 13:47] bsipocz commented on #264
I think it would be definitely good to have it in somewhere, though I'm not sure it belongs to ``photutils``. E.g. there are readers for ``sextractor`` and ``daophot`` already in ``astropy.io.ascii``. Maybe it would make more sense to have ``galfit`` and company there as well?

[2015-04-27 15:31] larrybradley commented on #264
Yes, this would be good to have somewhere.  If the `galfit` output files can be read into an astropy `Table`, then I agree with @bsipocz that it should probably go in `astropy.io`.

[2015-04-29 12:24] bsipocz commented on #262
:+1:

[2015-04-29 12:26] bsipocz commented on #262
Maybe we can also follow the astropy approach of only milestoning issues when they are critical, or we definitely want to solved them before the new release.  Otherwise milestoning after merge.

[2015-04-29 12:35] astrofrog commented on #262
:+1: and also :+1: to @bsipocz's suggestion

[2015-04-29 14:45] larrybradley commented on #262
The workshop is going to use the current dev version of `photutils`, so I didn't need to rush out a `0.2` release.

:+1: to @bsipocz suggestion.  I'll remove the milestones on current issues.

[2015-04-29 15:29] cdeil commented on #262
We have a "future" milestone in photutils (and I think it exists in Astropy, too).

The difference wrt. no milestone set is small.
A new issue or PR that comes in has no milestone set.
Then one of the maintainers looks at it and sets a milestone.
So having a "future" milestone helps a bit to make sure important issues aren't forgotten because no-one set a milestone.

I think it's a bit useful, but

[2015-04-29 19:31] tepickering opened #265 "Masks created with geometry routines are sometimes not normalized"
I'm working on incorporating the ``photutils.geometry`` routines into my code for creating weight matrices.  The routine ``circular_overlap_region`` works fine (i.e. maximum value is 1.0) for both exact and sampled cases.  In the case of ``elliptical_overlap_region``, it works properly when ``exact=1``, but is not properly normalized in the sampled case. ``rectangular_overlap_region`` is likewise

[2015-04-29 22:00] larrybradley commented on #265
@tepickering The maximum in the aperture mask won't always be 1.0 because the aperture can be smaller than a pixel (e.g. in your `rectangular_overlap_grid` example, the size is 0.3 x 2 pixels).  If you change your `circular_overlap_grid` example to use the exact method, then it's max shouldn't be 1.0 either (it should be `np.pi * 0.45**2 = 0.6361725`).

However, I don't think the maximum should ev

[2015-04-30 11:16] bsipocz commented on #262
I'm :+1:  for the "future" milestone, your argument totally makes sense. Also I don't mind if we keep the old system, but it can be an unconscious blocking for new releases to still have so many issues open, and a bad omen to remilestoning them all the time...

[2015-04-30 14:34] larrybradley commented on #262
It doesn't look like `astropy` is using "future" in that way (I don't know how it's actually being used).  Setting things to "future" to note that a maintainer has seen the issue is fine with me.

[2015-05-04 14:00] tepickering commented on #265
sorry, here's the same calculation with the actual numbers filled in:

![screenshot 2015-04-30 10 55 37](https://cloud.githubusercontent.com/assets/2481822/7415532/9feebb9a-ef27-11e4-9b8e-aa76bf2c5003.png)

you're right that the max will be less than one in cases where the aperture is small (e.g. radius < pixel width).  in this case, there are pixels fully contained within the apertures and those

[2015-05-11 16:02] zouhu opened #266 "photutils.test() error"
when running the test, it give the errors as below:

        # check that array contains numbers or long int objects
        if (value.dtype.kind in 'OSU' and
            not (value.dtype.kind == 'O' and
                 isinstance(value.item(() if value.ndim == 0 else 0),
                            numbers.Number))):

                            "Numpy numeric type.")
E           TypeError: The

[2015-05-12 03:01] larrybradley commented on #266
Thanks, @zouhu.  This issue was fixed in https://github.com/astropy/photutils/issues/228.  It only affects `photutils 0.1` in the very specific case of performing aperture photometry with an `astropy.nddata.NDData` object that has `astropy` units.  If you need that specific functionality, then please use the current development version until `0.2` is released.

[2015-05-12 03:01] #266 closed

[2015-05-18 02:04] StarryNate opened #267 "Mask function causes crash in aperture_photometry"
Hello,

My system is running Fedora 21 x86_64.
I'm trying to use aperture photometry with a bad-pixel mask. When I call aperture_photometry and pass it a mask, I get the following error:

/usr/lib64/python2.7/site-packages/photutils/aperture_core.pyc in aperture_photometry(data, apertures, unit, wcs, error, effective_gain, mask, method, subpixels, pixelwise_error)
   1320         # to the aperture

[2015-05-18 03:46] StarryNate commented on #267
OK, I think I diagnosed this one: If I convert the data and error arrays to float64, it no longer crashes. However, some of the resulting aperture_sum_err values are still 'nan', which I think is weird because I specifically masked pixels for which the error array had a value of nan...

[2015-05-19 16:41] larrybradley commented on #267
Thanks, @StarryNate.  It looks like your data array came from a FITS file because its `dtype` is `>f4` (big-endian float32).  Some tools, especially those that use `Cython` behind the scenes, will choke on those files because of the data type (especially on little-endian machines).  When reading FITS data, I convert it to `np.float` to avoid those types of issues, as you discovered.

The issue of

[2015-05-19 19:14] StarryNate commented on #267
Awesome! Thanks for the quick response!

Nathaniel R. Ross
UCLA

On Tue, May 19, 2015 at 9:41 AM, Larry Bradley <notifications@github.com>
wrote:

[2015-05-22 00:16] larrybradley commented on #267
This is merged now.  Thanks again.

[2015-05-22 00:16] #267 closed

[2015-06-08 14:09] larrybradley opened #270 "travis failing because of matplotlib version"
`travis-ci` is currently failing for the `numpy 1.6` and `1.7` tests because those particular `conda` environments are installing an old version of `matplotlib`, `1.1.1`.  The previous `travis-ci` run for those environments installed `matplotlib 1.3.1`, so it appears something changed with `conda`.  Does anyone know what changed recently (within the past two weeks)?

[2015-06-08 14:26] astrofrog commented on #270
Will look into it, have been dealing with Travis issues with some other packages.

[2015-06-14 18:36] cdeil commented on #270
Since today I'm getting this error in Gammapy, this is with matplotlib 1.4.3:
https://travis-ci.org/gammapy/gammapy/jobs/66754236#L1854

It might be completely unrelated to the issue for photutils, but I can't reproduce the Gammapy sphinx build issue locally and photutils seems to be the only other Astropy affiliated package where the travis-ci build is currently broken, so that's how I found this

[2015-06-26 12:43] bsipocz opened #271 "Decorate all doc examples with pytest-mpl"
Change all the `doctest-skip` of the images, and also change the plot tests to check for the content with `pytest-mpl`.
I plan to do this in the next few weeks, thus assigning myself.

[2015-06-26 12:59] astrofrog commented on #271
@bsipocz - just a word of advice - for the plot tests, I highly recommend reducing the default ``figsize`` to a small value that is large enough that you can see what you are testing but no larger (to keep the size of the reference images from being too large). Usually, something like 3x3 inches will be large enough.

[2015-06-30 14:25] bsipocz opened #272 "Should kwarg unit override header BUNIT"
I got a bug report saying that ``aperture_photometry`` fails as the current code requires the ``unit`` kwarg to be the same unit as the header ``BUNIT``. However ``BUNIT`` is ``'JY/BEAM'`` in this case which is unrecognisable by the parser, and thus ``unit`` cannot override it with the correct format.

I cannot find any notes why we chose to have this requirement and not the other way, but propose

[2015-06-30 15:25] larrybradley commented on #272
I would go for the first option because there's no guarantee that `BUNIT` is correct.  But if the units don't  agree, I would recommend issuing a warning.

[2015-07-01 13:08] bsipocz opened #274 "Travis tests fail with stable astropy"
Travis tests failed for #273 when tests were run against astropy stable as it didn't recognize ``UnitConversionError`` (that was fixed in v1.0.3).

The current stable version is 1.0.3, however v1.0.1 is picked up during the travis tests for no obvious reason.

[code]

Any idea what goes wrong?

[2015-07-02 17:02] bsipocz commented on #274
This may affect other affiliated packages that are using ``conda install`` rather than ``pip install`` for the travis runs against astropy stable.

ping @astrofrog, @embray

[2015-07-02 18:26] embray commented on #274
I don't know. I don't have any control over when or how the conda packages get made.

[2015-07-02 18:29] astrofrog commented on #274
Can anyone with a Linux box check if 1.0.3 is the latest version on conda?

[2015-07-03 21:31] bsipocz commented on #274
Weird, very weird. Trying to do my first ever conda install, following what is in ``.travis.yml``,  v1.0.3 gets installed. It's on the usual old RHEL server I run the tests.
I checked the travis runs for astroquery and the same happening there, too, it installs v1.0.1.

[2015-07-04 09:03] astrofrog commented on #274
I've always suspected that Travis may be caching many of the conda packages because the download speeds are usually ridiculous (as in, almost unphysical). So it's possible that this is just that the cache hasn't been updated in a while.

[2015-07-04 20:05] #272 closed

[2015-07-04 23:03] bsipocz commented on #271
@astrofrog, @larrybradley  - Would you prefer to store the plot reference images here in  ``photutils/tests`` or can I put them to ``https://github.com/astropy/photutils-datasets`` and have that either as a test dependency or submodule or similar?

[2015-07-05 06:47] astrofrog commented on #271
@bsipocz - as long as there are <10, just store them in the repository directly. The difficulty with storing them in an external repository is that you need the versions to match very precisely, and it's not worth the hassle.

[2015-07-05 06:47] astrofrog commented on #271
(But it's good to make an effort to minimize the size of each plot by reducing the figure size)

[2015-07-06 19:20] larrybradley commented on #271
I agree that it's better to have them in the repository directly if possible.

[2015-07-07 11:56] bsipocz commented on #270
#275 provides a workaround for this.

[2015-07-07 11:59] bsipocz commented on #274
#275 provides a workaround for this, and I close this as it isn't a photutils issue.
@astrofrog - should I open an issue somewhere else? If yes, where?

[2015-07-07 11:59] #274 closed

[2015-07-07 12:01] astrofrog commented on #274
I think this was due to the fact we haven't produced astropy conda packages for astropy-ci-extras (combinations of astropy + numpy versions not covered by the official astropy package). @mwcraig - is it easy to add astropy v1.0.3 with old numpy versions to astropy-ci-extras?

[2015-07-09 02:58] mwcraig commented on #274
Should be able to do it this weekend, if not before.

[2015-07-11 20:00] tepickering opened #277 "elliptical_overlap_grid generating nan's in some cases"
When setting up regression tests for ``elliptical_overlap_grid``, I ran into a number of failures where the masks were filled with ``nan``. The ones I tracked down all had equal semi-major and semi-minor axis sizes.  An example failure case is:

[code]

Slightly changing one of the axis values yields appropriate numbers:

[code]

Setting ``use_exact`` to 0 also yields correct results in all cases

[2015-07-11 22:19] mwcraig commented on #274
@astrofrog -- this ought to happen every time there is a stable release of astropy, right?

[2015-07-12 02:45] astrofrog commented on #274
@mwcraig - yes, if possible

[2015-07-13 15:09] #242 closed

[2015-07-13 15:09] #265 closed

[2015-08-28 20:18] bsipocz commented on #271
There is a serious issue with this namely that the apertute classes are tested using the ``@pytest.mark.parametrize`` decorator. But the decorator doesn't parametrize the argument of another decorator, so I cannot say:

[code]

Do you know a workaround for this, or should I do the test one by one for the apertures?

[2015-08-30 11:30] bsipocz commented on #277
Closing as this was fixed in #276.

[2015-08-30 11:30] #277 closed

[2015-08-30 11:32] bsipocz commented on #270
Closing, as this is fixed now.

[2015-08-30 11:32] #270 closed

[2015-08-30 15:45] bsipocz opened #283 "Add sphinx plot gallery?"
@larrybradley - Do you think it would make any sense to add a gallery page using sphinx gallery?

[2015-09-01 18:06] bsipocz commented on #131
Actually there is a demand for polygon apertures, so this can be a feature to work on if someone has unused resources. Making the base class should be quite straightforward, but providing a ``method='exact'`` version may need some extra hustle.

[2015-09-02 17:50] larrybradley commented on #283
It could be useful, but we'd need to create several new examples.

[2015-09-07 14:27] astrofrog commented on #271
@bsipocz I'm not sure - could you open an issue in the pytest-mpl repo and I can take a look at it later this week?

[2015-10-07 22:45] bsipocz opened #285 "Doctest failures with new helpers"
This came up when testing against the new helpers, and only in this setup: py2.7, dev astropy, np 1.9.3, astropy-helpers v1.0.5

I can't see at the moment which package is the weak reason for the fail.

[code]

[2015-10-07 23:21] bsipocz commented on #285
It seems that ``astropy-helpers`` triggers it, rebuilding the current master with the latest astropy-dev  and helpers v1.0.3 works fine for the whole travis matrix. https://travis-ci.org/bsipocz/photutils/builds/84202936

cc @embray as he may know the trick, and also this may effect other affiliated packages.

[2015-10-08 13:50] embray commented on #285
Except it looks like you're actually getting some numerical differences in some tests...

[2015-10-08 18:49] larrybradley commented on #285
See https://github.com/astropy/photutils/pull/286 for the fix.

[2015-10-08 20:10] bsipocz commented on #285
Ohh, OK, now I see. Somehow it's a bit confusing why we didn't see these fails with the old helper even though using the same astropy dev master. Also the fact that the rst files are not picked up by the py3 test run added to my confusion, as these apparently fails with py3, too, travis just simply fails to notice it.

[2015-10-08 20:19] larrybradley commented on #285
The doctests don't run with `python 3` yet.  And we don't test `python 2.6` with `astropy dev`.  So, the only failing test was `python 2.7` with `astropy dev`.

Did the old `astropy-helpers` actually run the doctests?

[2015-10-08 20:34] bsipocz commented on #285
Yes, you're right it didn't run the rst tests due to the same testing issue that was raised on the mailing list by Tom A.
Should have identified it, sorry for the extra work.

[2015-10-14 11:46] bsipocz commented on #285
Closing as this got fixed in #286

[2015-10-14 11:46] #285 closed

[2015-10-16 15:32] bsipocz opened #289 "Testing astropy versions"
Since the new stable astropy is coming soon and will overtake 1.0.x in the travis matrix, I wonder whether we want to add a travis test against the LTS version as well as stable and dev?

[2015-10-19 17:16] larrybradley commented on #289
Sounds good to me.

[2015-10-19 20:53] bsipocz commented on #289
OK, then I assign this to myself and will deal with it once 1.1 is out.

[2015-11-25 18:29] sergiopasra opened #293 "Photutils 0.1 tests fail with numpy 1.10"
I'm seeing errors when testing photutils 0.1 with numpy 1.10.1 and numpy 1.10.2rc

The failing tests are:
photutils/datasets/tests/test_make.py::test_make_noise_image_unit
photutils/datasets/tests/test_make.py::test_make_poisson_noise_unit
photutils/datasets/tests/test_make.py::test_make_gaussian_sources_unit
photutils/tests/test_aperture_photometry.py::test_aperture_pixel_positions
photutils/test

[2015-11-25 18:34] sergiopasra commented on #293
The tests in 'master' passes. It's only an issue in the released version

[2015-11-25 21:32] larrybradley commented on #293
Thanks, @sergiopasra.  I hope to release version 0.2 in the coming weeks.

[2015-11-25 21:37] larrybradley commented on #262
Just a quick update that I plan to make a `0.2` release in the coming weeks (before Dec. 18).  I'm currently working on source deblending, which I'd like to include in the new release.

[2015-11-26 12:47] bsipocz opened #294 "appveyor problem with python3.5"
It may be trivial for someone with windows experience (@mwcraig  or @astrofrog), but I run out of ideas, so leave it here in an issue before merging #292 without adding py3.5 to appveyor.

https://ci.appveyor.com/project/Astropy/photutils/build/1.0.153/job/xs87di6qchlworuf
https://ci.appveyor.com/project/Astropy/photutils/build/1.0.154/job/vt999t9pemy8dcqq

[2015-11-28 02:22] mwcraig commented on #294
The problem (I think) is that default compiler on Windows [changed in python 3.5](http://stevedower.id.au/blog/building-for-python-3-5/) but the appveyor setup scripts (`%CMD_IN_ENV%` in particular) configures the compiler to that used in python 3 prior to 3.5.

Will end up resolving this over the weekend for the affiliate builder, I hope, and port the change here (or to the new CI helper package)

[2015-11-28 13:31] astrofrog commented on #294
@mwcraig - it would be great to fix this in the ci-helpers if this applies to all packages with compiled code

[2015-11-29 19:43] bsipocz commented on #294
@astrofrog - And also we have to come up with something to reproduce this error in ``ci-helpers``, as it seems that the py3.5 builds pass there.

[2015-11-30 02:24] mwcraig commented on #294
@bsipocz -- actually, I don't think it is necessary to add a test. Changing the default compiler seems to happen only every ~5+ years, and my understanding is that in the future it will not be necessary to match compiler versions as is necessary now, so the current config should, in principle, be good for a long while. I don't understand all of it, but the current situation is discussed here: http

[2015-12-02 09:30] algerdnazgul opened #297 "Problem generating HTML docs"
After generationg of docs in html format we have some problems included in screenshot.
![bugdoc](https://cloud.githubusercontent.com/assets/13625665/11527194/7f3c63c0-98f0-11e5-8287-1662730efd73.jpg)

[2015-12-02 16:45] larrybradley commented on #297
@algerdnazgul, thanks for your report.  To generate the class inheritance diagram, `Sphinx` requires that `graphviz` (http://www.graphviz.org/) be installed.  `graphviz` is not a python package, but it's available, for example, via `conda`/`anaconda`.

I was able to reproduce your issue by uninstalling `graphviz`.  In that case you should see a warning when generated the docs that `dot` (part of `

[2015-12-02 16:53] bsipocz commented on #297
@larrybradley - You were faster, I was just reinstalling graphviz to confirm this, but fink was super slow, and buggy, too.

Anyway, I'm closing this as it's not an issue within photutils, @algerdnazgul please feel free to reopen and attach the failing build log if installing ``graphviz`` doesn't solve the problem.

[2015-12-02 16:53] #297 closed

[2015-12-03 06:11] algerdnazgul commented on #297
Thanks a lot, i will try it in the shortest time.

[2015-12-10 17:03] larrybradley commented on #210
Fixed in #301.

[2015-12-10 17:03] #210 closed

[2015-12-17 23:04] bsipocz commented on #294
Fixed in #296

[2015-12-17 23:04] #294 closed

[2015-12-18 00:23] #289 closed

[2015-12-21 18:39] larrybradley commented on #262
I have one more PR to complete, after which I will make a `0.2` release.  This will occur sometime next week.

[2015-12-22 23:34] bsipocz commented on #262
Sounds great. I will try to get the aperture phot fixes in by that time.
On Dec 21, 2015 7:39 PM, "Larry Bradley" <notifications@github.com> wrote:

[2015-12-27 19:14] moorepants opened #312 "How did you fix the windows link error?"
Hi,

I found this appveyor build:

https://ci.appveyor.com/project/Astropy/photutils/build/1.0.154/job/vt999t9pemy8dcqq

Which has this error:

`LINK : fatal error LNK1117: syntax error in option 'MANIFEST:EMBED,ID=2'`'

I'm having the same issue here:

https://github.com/pydy/pydy/pull/315

I was wondering what you did to fix that? I'm having trouble figuring it out.

[2015-12-28 02:53] moorepants commented on #312
I figured it out. Thanks.

[2015-12-28 02:53] #312 closed

[2015-12-30 15:09] larrybradley commented on #262
@bsipocz Will your PR be ready today (and btw, what issue is that?)?  I hope to do the release later today.  Thanks!

[2015-12-30 18:29] bsipocz commented on #262
Sorry, it won't happen today, I couldn't work on it during my holidays. I wanted to get #278 merged, and also investigate a bug report/feature request I got via email (not sure which category it will fall into).

Anyway, these are far from being release critical, so please go ahead with releasing 0.2.

[2015-12-31 18:01] larrybradley commented on #293
@sergiopasra, `photutils 0.2` is out now.  Thanks again.

[2015-12-31 18:01] #293 closed

[2015-12-31 18:02] larrybradley commented on #262
0.2 is released now.  Thanks everyone!

[2015-12-31 18:02] #262 closed

[2015-12-31 20:03] larrybradley commented on #193
Added in #314.

[2015-12-31 20:03] #193 closed

[2016-01-08 17:46] hover2pi opened #316 "photutils import failing on background.py import"
Getting this error after running `python setup.py test`:

[code]

[2016-01-08 18:04] hover2pi commented on #316
Upgraded Anaconda from 1.8.0 to 2.4.1 and it works!

[2016-01-08 18:04] #316 closed

[2016-02-04 12:07] olebole opened #322 "test failure on i386 (and other architectures)"
The `aperture_photometry` DocTest fails on a number of platforms when building for Debian:

[code]

This happens on [i386](https://buildd.debian.org/status/fetch.php?pkg=photutils&arch=i386&ver=0.2.1-1&stamp=1454584160), [arm64](https://buildd.debian.org/status/fetch.php?pkg=photutils&arch=arm64&ver=0.2.1-1&stamp=1454584212), [powerpc](https://buildd.debian.org/status/fetch.php?pkg=photutils&arch=

[2016-02-04 15:31] bsipocz commented on #322
Thank @olebole for the report and the logs. I'll try to figure out what's going on.

[2016-02-05 15:18] hamogu commented on #48
Reply to @larrybradley (a few comment above at https://github.com/astropy/photutils/issues/48#issuecomment-43771581 ): opened https://github.com/astropy/astropy/issues/4572 for that.

[2016-02-13 00:15] mirca opened #325 "Error in loading dataset image"
I'm getting the following error when trying to execute this [example](http://photutils.readthedocs.org/en/latest/photutils/getting_started.html)
``>>> hdu = datasets.load_star_image()``

![capture d ecran 2016-02-12 a 20 40 56](https://cloud.githubusercontent.com/assets/13077051/13023853/d94b6ea6-d1cb-11e5-80a5-c0cb968d5ef8.png)

I looked for installing ``bsddb``, however it looks like it has been

[2016-02-13 00:19] astrofrog commented on #325
@mirca - what version of astropy are you using?

[2016-02-13 00:20] astrofrog commented on #325
See the suggested fix here:

http://docs.astropy.org/en/stable/known_issues.html#remote-data-utilities-in-astropy-utils-data-fail-on-some-python-distributions

Basically install the bsddb3 package.

[2016-02-13 00:27] mirca commented on #325
Hi @astrofrog, thanks for pointing that out, but I'm still getting the same error.

![capture d ecran 2016-02-12 a 21 26 25](https://cloud.githubusercontent.com/assets/13077051/13024123/75cbf888-d1cf-11e5-9a0e-044d337148d7.png)

[2016-02-13 00:33] mirca commented on #325
Maybe this is an issue with ``shelve`` and not with ``astropy`` and ``photutils``?

[2016-02-13 01:20] mirca commented on #325
Interestingly, I'm not getting this error in ``python3.5``.

[2016-02-13 01:50] mirca commented on #325
Solved. I used the following workaround in the function ``_open_shelve`` from ``astropy/utils/data.py``
[code]
Thanks to https://bugs.archlinux.org/task/25058.

Sorry @astrofrog, this was probably only in my ``python2.7`` distribution.

[2016-02-15 18:08] #325 closed

[2016-02-18 16:32] hamogu commented on #178
The point about photometry applies to both aperture photometry and PSF photometry. When this point is addressed, both interfaces need to be adapted and there should be one functions that calculates the error to be used for both of them.

[2016-02-18 17:33] larrybradley commented on #178
@hamogu So are you in favor of my suggestion to:

1.  Remove the `effective_gain` parameter from the current photometry routines (aperture, PSF, segmentation-based isophotal, etc.).
2.  Create a separate function to calculate total error from background error and `effective gain`.

It simplifies the code, but the downside is that it changes the user API a bit.

[2016-02-18 17:34] hamogu commented on #178
Yes, I am in favour. I think we are still in the phase of improving without an explicit promise of a stable API for such advanced features.

[2016-02-18 17:42] larrybradley commented on #178
OK, I'll make these changes.  Yes, we've clearly stated in the docs that we will change the API if something can be done better.

[2016-02-18 17:58] hamogu commented on #178
Maybe give it a day until #159 is merged, which has the changes in the PSF stuff. (@eteq is working on it right now).

[2016-02-19 09:21] stefanocovino opened #326 "PSF photometry - ValueError: 'axis' entry is out of bounds"
Hi all,

I read data from a frame with:

from astropy.io import get data
import numpy
from photutils.psf import create_prf
data = getdata(file)

then I convert to ndarray with:

dt = numpy.asarray(data.data)

and, finally, I try to derive a pdf with:

prf = create_prf(dt,positions=poslist,size=5,mode='median')

but I always get the error message: ValueError: 'axis' entry is out of bounds

Am I doi

[2016-02-19 22:19] #48 closed

[2016-02-19 22:19] #254 closed

[2016-02-19 22:19] #63 closed

[2016-02-19 22:19] #144 closed

[2016-02-19 22:19] #189 closed

[2016-02-19 22:20] eteq commented on #326
There have been some incompatible changes in astropy that caused this, I believe.  we're working on a fix for this as a follow-on to #159...

[2016-02-19 22:22] eteq opened #328 "Fix PSFPhotometrySpitzer notebook to work with new psf changes"
The changes in #159 have led to some subtle issues with the PSFPhotometrySpitzer notebook that may be a sign of problems in the code, or might be quirks of the notebook.  Will need to fix that, and then rename the notebook back to `.ipynb` and add it to the docs.

[2016-02-19 22:23] eteq commented on #104
I'm going to close this as it seems to have been tied more to the specific time it was written. but it can be reopened if need be.

[2016-02-19 22:23] #104 closed

[2016-02-19 22:23] eteq commented on #43
The specific discussion here is outdated due to the #159 changes, so I'm opening a new issue for this.

[2016-02-19 22:23] #43 closed

[2016-02-19 22:24] eteq opened #329 "Update/write psf photometry docs"
Currently the PSF photometry docs are sorely lacking (#43).  But anything that might be in there anyway was probably rendered out-of-date by #159.  So a more readable set of docs are needed in the near future.

(I and/or @hamogu hope to work on this soonish)

[2016-02-19 22:26] eteq opened #330 "Ensure the new notebook-building machinery works on RTD"
#159 added some machinery to auto-build notebooks as part of the sphinx build process.  That machinery may not work fully on ReadTheDocs.  So this issue is a reminder to double-check that and fix any errors that may result.

(It's tough to test/diagnose RTD without the code being on a "real" branch for various reasons.)

[2016-02-20 16:36] eteq commented on #330
Not too surprisingly it didn't work... I will have to dig in to see what went wrong...

[2016-02-23 01:26] eteq commented on #330
Well, I got it building (http://photutils.readthedocs.org/en/test-rtd/notebooks/gaussian_psfs.html), but I did *not* manage to get it to look at all decent.  So I think the best plan for now is to ship the notebooks off to [photutils-datasets](https://github.com/astropy/photutils-datasets), and then plan to adapt at least part of these into narrative docs as part of #328 and #329 .  So I'll do tha

[2016-02-23 01:28] eteq commented on #330
Done in 1cc962c10512f6bfb091379c7aed0f4d87792969

[2016-02-23 01:28] #330 closed

[2016-02-25 16:14] mwcraig commented on #178
fyi, there is also this in astropy: [astropy.stats.signal_to_noise_oir_ccd](http://astropy.readthedocs.org/en/stable/api/astropy.stats.signal_to_noise_oir_ccd.html#astropy.stats.signal_to_noise_oir_ccd)

Not exactly what you need here but might be nice to have all of these sorts of functions in one place (ping @crawfordsm).

[2016-02-25 16:24] larrybradley commented on #178
Thanks, @mwcraig, but that's different.  I actually already added the needed function to `photutils` a while back (http://photutils.readthedocs.org/en/latest/api/photutils.utils.calculate_total_error.html#photutils.utils.calculate_total_error).  It was used internally in some `photutils` functions, but not all.

[2016-03-09 20:38] cheekujodhpur commented on #131
Hi! I am trying to join the AstroPy developer community. I would like to start with this.

Do you think you can assign this to me and help me with more information? I am interested.

[2016-03-09 21:31] cheekujodhpur commented on #131
Hi! I am interested to work on this issue. I am one of the people who demand polygon apertures, and also I would like to start with my contribution to the astropy community.

Do you think you can assign me this?

[2016-03-09 21:42] hamogu commented on #131
Leaving your comment here is enough. No need to assign in addition to that.

[2016-03-10 02:35] cheekujodhpur commented on #131
I was unable to use `do_photometry`, and we lack an example in apertures.rst
My `data` for test purposes is `np.zeros(100,100)`
but the `do_circular_photometry` code has this line of code

`flux = u.Quantity(np.zeros(len(positions), dtype=np.float), unit=data.unit)`
Now, naturally `data` has no attribute called `unit`. What kind of object do you expect data to be here?

[2016-03-10 03:43] cheekujodhpur commented on #131
Nevermind a few comments before. I had some queries which I figured out by myself now.
Before I start working on the PolygonAperture, I wanted to discuss if it is a good idea to define TriangleAperture first and treat a polygon as sum of triangles?

[2016-03-13 21:27] eteq opened #334 "Use astropy.convolution.discretize_model to implement PRFAdapter"
The `PRFAdapter` class currently does a quick-and-dirty integration to integrate over pixels.  The `astropy.convolution.discretize_model` is a much more featureful version of this.  So `PRFAdapter` should be changed to use that instead.

[2016-03-16 11:24] stbnps commented on #334
Do you mean something like #336 ?

[2016-03-16 21:34] cdeil opened #337 "PSF homogenisation"
I'm looking for some Python code to do PSF homogenisation.

I'm not aware of good references, a short description is here:
http://adsabs.harvard.edu/abs/2011ASPC..442..435B

The use case we have in [Gammapy](https://github.com/gammapy/gammapy) is Fermi-LAT images in energy bands, and the Fermi-LAT PSF varies by almost two orders of magnitude from the lowest to the highest energies (see [here](http

[2016-03-16 21:54] mirca commented on #337
I would like to tackle this! =)

[2016-03-16 22:24] cdeil commented on #337
@mirca - Great!

Here's a quick outline how I would do this:
* Use [TablePSF](https://gammapy.readthedocs.org/en/latest/api/gammapy.irf.TablePSF.html) to represent both the input PSFs and the computed output homogenisation kernels.
* To test, use  [gammapy.irf.TablePSF.from_shape](https://gammapy.readthedocs.org/en/latest/api/gammapy.irf.TablePSF.html#gammapy.irf.TablePSF.from_shape) to create tes

[2016-03-17 13:21] larrybradley commented on #337
@cdeil  I think this is completely appropriate for `photutils` -- performing photometry on PSF-matched images is a common use case.

When working with multiple bandpasses in UV/O/IR data with different PSF widths, the typical procedure is to blur all of the (n-1) images to the image with the widest (worst) PSF, which is usually the reddest band.  To do this, "matching" kernels are needed to go fro

[2016-03-17 16:03] eteq commented on #337
I 100% agree this is a good thing to have in `photutils` - I've been asked mutliple times about `psfmatch` equivalents.

That said, I don't think `TablePSF` is the way to go, as it's not a part of `photutils`.  The `photutils.psf` module now has machinery fully compatible with the `astropy.modeling` framework, so it's better for `psfmatch`-like functionality in photutils to follow the patterns the

[2016-03-18 03:28] pkrskr commented on #326
Hi! I'm new to Astropy and trying to contribute. Is there anything I can do to fix this?

[2016-03-18 03:36] pkrskr commented on #49
Hi!
I wish to be of some help here. Please provide me with any relevant pointers if possible.

[2016-03-21 04:28] pllim opened #338 "imcopy equivalent?"
Is the cutout image functionality in `photutils` equivalent to IRAF `imcopy`? If so, could you please give an example on how to replace the following IRAF command? The key here is to preserve the cutout WCS.

[code]
Thanks.

[2016-03-21 12:36] larrybradley commented on #338
The equivalent cutout functionality is `astropy.utils.Cutout2D` [1].  It operates on arrays in memory, so you would need to write a command-line tool to parse the array slice and operate on FITS files.

[1] http://docs.astropy.org/en/stable/api/astropy.nddata.utils.Cutout2D.html

[2016-03-21 14:38] pllim commented on #338
Thanks, @larrybradley . But I still have some questions, please see example below.

In IRAF:
[code]

[code]

[2016-03-21 15:14] larrybradley commented on #338
None of the above.  `position` is zero-indexed (as all python is), but it is the *center* of the cutout, not one of the corners.  And yes, sigh, position is `(x, y)` order, but `size` is in `(ny, nx)` order.  I don't like it either, but `size` (or `shape`) keywords in scipy/numpy are always axis order.  On the other hand, image `position` is usually in `(x, y)` order.

In your example, assuming th

[2016-03-21 18:29] pkrskr commented on #337
Hi,

I am interested in contributing to Astropy for GSoC 2016. I was originally planning to work on an idea involving PSF photometry for fitting multiple overlapping objects with variable PSFs and spans. However, I see that there have already been two applications for the same project.

While looking for open issues to solve, I stumbled upon this issue of PSF homogenisation. While it has been clas

[2016-03-21 20:42] pllim commented on #338
@larrybradley , thanks but can you please be more specific? Can I pass the cutout object directly into a HDU? If not, how to I pass in the original header info before able to modify the CRPIXn values?

[2016-03-21 21:12] larrybradley commented on #338
@pllim You would need to replace the HDU data with the cutout data and update the CRPIX header keywords.  Here's a complete example:

[code]

[2016-03-21 21:35] pllim commented on #338
@larrybradley , that's just what I need. However, I have one last request -- can you please change

[code]

to

[code]

?

This is such that in the future, people who revisit this issue would have a correct working example. Thank you!

[2016-03-22 02:41] larrybradley commented on #338
@pllim  My example should work without `mode='update'` since I call `pf.writeto()` with a different FITS filename (i.e. I'm not updating the original FITS file).

[2016-03-22 20:37] pllim commented on #338
@larrybradley , ah okay, you're right!

So, the user was satisfied with your example. I am closing this.

[2016-03-22 20:37] #338 closed

[2016-03-24 14:05] StuartLittlefair opened #341 "deblending a source splits source into two, but produces three sources"
A zip file of the data in the example below can be found here - [pickled_files.zip](https://github.com/astropy/astropy/files/187872/pickled_files.zip).

[code]

Now, we inspect what we have got as a result. First, let's look at the source slice in the original segmented image.

[code]

```phot.deblend._deblend_source``` deblends this into two new sources, but the central pixel in the array above i

[2016-03-24 14:06] StuartLittlefair opened #342 ""deblend_sources" does not update slices in segmented image"
When running ```deblend_sources``` on some data I find that after the routine, the deblended image has 11 labels, but the ```slices``` object of the image only contains 9 slices; the number of labels in the original segmented image.

A zip file of the data in the example below can be found here - [pickled_files.zip](https://github.com/astropy/astropy/files/187872/pickled_files.zip).

[code]

print

[2016-03-24 14:12] larrybradley commented on #341
Thanks for reporting this, @StuartLittlefair!  I will look into this today.

[2016-03-24 14:14] larrybradley commented on #342
Thanks, @StuartLittlefair.  I was rushing to get source deblending in the `0.2` release and unfortunately I left some rough edges.

[2016-03-26 00:10] cdeil opened #345 "Broken links in class inheritance diagram docs."
The links here in the photutils docs are broken:
http://photutils.readthedocs.org/en/latest/photutils/aperture.html#class-inheritance-diagram

E.g. clicking on "CircularAperture" leads to
http://photutils.readthedocs.org/en/api/photutils.aperture_core.CircularAperture.html#photutils.aperture_core.CircularAperture
which results in a page saying "error: doesn't exist".

@bsipocz - A known issue?

[2016-03-26 00:14] bsipocz commented on #345
Ouch, no at least I didn't notice this yet. One more :+1: to finally set up a link checker (though that would be more useful for checking external links).

[2016-03-26 02:00] larrybradley commented on #345
The inheritance diagrams links appear to be broken in `astropy` too, so this is probably an `astropy-helpers` issue.

I also just noticed that in the  `photutils 0.2.1` docs, the inheritance diagrams don't even have links.

[2016-03-27 23:56] bsipocz opened #346 "Possible bug in pixel_to_icrs_coords"
@larrybradley - Why is ``origin=1`` here: https://github.com/astropy/photutils/blob/master/photutils/utils/wcs_helpers.py#L125
We couldn't figure out the reason when copying code to regions, so it may be a bug? https://github.com/astropy/regions/pull/10#discussion-diff-57536568

cc @astrofrog, @keflavich

[2016-03-28 15:23] #342 closed

[2016-03-28 18:10] #341 closed

[2016-03-28 18:11] larrybradley commented on #341
Fixed in #347.

[2016-03-28 18:12] larrybradley commented on #346
I have no idea why that's there.  It's definitely a bug!  Fixing it now, thanks.

[2016-03-28 18:53] #346 closed

[2016-04-01 09:32] SonuTabitha opened #349 "E ImportError: No module named circular_overlap"
I am getting this error after running the photutils test. How to fix it?

[2016-04-01 14:58] larrybradley commented on #349
@SonuTabitha `circular_overlap` is a `Cython` module that needs to be compiled during the package build step.  It appears that your installation of `photutils` failed or possibly that you are running tests from an unbuilt source directory.  Can you please describe the detailed steps you took to install `photutils` (and which version), how you are running the tests, and if you are running the tests

[2016-04-01 15:33] SonuTabitha commented on #349
I have python 2.7.10 installed in my system. I downloaded photutils-0.2.1.tar.gz (md5). I then ran the codes python setup.py build and python setup.py install respectively.

[2016-04-01 15:47] larrybradley commented on #349
Since you are trying to install from a source distribution, I suspect that your `build` or `install` steps are failing.  Note that `Cython (>0.15)` is required to build `photutils` from source.

However, because you are trying to install a *released* version of `photutils (0.2.1)`, I highly recommend that you use either `pip` or `conda`, simply:

`pip install photutils`
or
`conda install -c http:/

[2016-04-01 16:32] SonuTabitha commented on #349
I did
`pip install photutils`
and i got the output as shown below.
![screen shot 2016-04-01 at 9 58 11 pm](https://cloud.githubusercontent.com/assets/18210111/14213323/01f62b98-f855-11e5-8641-1e1011b3c215.png)

[2016-04-01 16:54] larrybradley commented on #349
Run `pip install photutils --upgrade`, to get fresh installations of those packages.

[2016-04-01 17:06] SonuTabitha commented on #349
I upgraded the packages and ran the photutils test again . There were no errors this time. I got the result as "849 passed, 147 skipped in 38.12 seconds" . Is it okay?

[2016-04-01 17:08] larrybradley commented on #349
Yes, the tests passed.  You have no failures.

[2016-04-01 17:08] #349 closed

[2016-04-01 17:10] SonuTabitha commented on #349
Thanks a lot !

[2016-04-01 18:03] MiraYugario opened #351 "How to create synthetic test images of stars ?"
I have developed a source extraction algorithm and I need to test it. To do so I am planning to create an image with some sources of known fluxes. First, I would like to create the synthetic image with no background and then with some white noise. Can I do it with photutils?

[2016-04-04 11:31] MiraYugario opened #352 "How to create a gaussian psf in IDL? and how to add some background noise to it?"

[2016-04-04 11:47] bsipocz commented on #352
I'm closing this as photutils is a python package and thus this issue is unrelated. I'm sorry but we can't provide any IDL helpdesk support.

Also this is an issue tracker for bugs and features for photutils, for general python / astropy / photutils questions I would suggest to write to either the astropy mailing list [0] or to the Python in Astronomy facebook group [1]. A much larger group of peo

[2016-04-04 11:47] #352 closed

[2016-04-04 11:59] bsipocz commented on #351
``photutils.datasets`` [0] provides some example datasets routines to generate images.

[0] - http://photutils.readthedocs.org/en/latest/photutils/datasets.html

For other non photutils solutions I would suggest to write to either the astropy mailing list, or the Python users in Astronomy facebook group, as there are large group of people on both lists with a wide range of experiences with other t

[2016-04-04 11:59] #351 closed

[2016-04-05 13:25] MiraYugario opened #353 "Error on importing matplotlib. Please help!!"
When I give the command
`  import matplotlib.pyplot as plt`
I  am getting the following error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/matplotlib/__init__.py", line 1131, in <module>
    rcParams = rc_params()
  File "/usr/local/lib/python2.7/site-packages/matplotlib/__init__.py", line 975, in rc_params
    return rc_p

[2016-04-05 13:55] bsipocz commented on #353
@MiraYugario - This is the issue tracker of the photutils package. Please stop posting unrelated issues. Please use the appropriate forums for these, like the Python users in Astronomy fb group, or stackoverflow or google.

E.g. have you tried the solutions that google pops out as the first hit from e.g. stackoverflow or from mpl's issue tracker?

- http://stackoverflow.com/questions/19961239/peli

[2016-04-05 13:55] #353 closed

[2016-04-05 13:59] MiraYugario opened #354 "Not able to load images using Datasets(photoutils.datasets). Kindly help"
I wanted to create some gaussian sources with background noise. So I used photoutils dataset `make_gaussian_sources` . I ran the code but got the following output.
/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This

[2016-04-05 14:34] larrybradley commented on #354
@MiraYugario This is clearly **not** a `photutils` issue.  Please inspect your own error message, which clearly states that your issue is with the `matplotlib` package.  Google is very helpful for solving general problems like this.  We do not provide general help here.

I can only reiterate and emphasize what @bsipocz has already relayed to you.  Please stop posting unrelated issues here and use

[2016-04-05 14:34] #354 closed

[2016-04-23 20:29] bsipocz commented on #345
@cdeil @larrybradley - This was an upstream bug in sphinx. Hopefully https://github.com/sphinx-doc/sphinx/issues/2484 makes it into the next bugfix release.

[2016-04-23 20:30] bsipocz commented on #345
(The bug only affected the svg version of the inheritance diagram, so if we want a workaround until the fix is released, we can switch and use the png version).

[2016-04-25 13:29] larrybradley commented on #345
Thanks for tracking this down, @bsipocz!

[2016-04-27 09:48] bsipocz opened #357 "Recent changes in astropy.stats.sigma_clip brakes the tests"
The changes were introduced in the bugfix PR https://github.com/astropy/astropy/pull/4726

Example log:
https://travis-ci.org/astropy/photutils/jobs/125377151#L789

E.g.

[code]

[2016-04-27 09:59] bsipocz commented on #357
The bug is actually upstream in astropy
https://github.com/astropy/astropy/pull/4726#issuecomment-215035751

[2016-04-27 13:50] pllim commented on #357
astropy/astropy#4808 is merged. FYI.

[2016-04-27 13:52] bsipocz commented on #357
Thanks @saimn and @pllim.

[2016-04-27 13:52] #357 closed

[2016-05-13 03:31] giampaolo commented on #312
I have the same problem. Can you tell me how you fixed it?

[2016-05-13 16:41] moorepants commented on #312
I can't quite remember. Maybe I dropped some python versions. You can see the working files here:

https://github.com/pydy/pydy/pull/315/files

And maybe compare to yours.

[2016-05-13 16:42] moorepants commented on #312
In that PR I wrote:

[2016-05-13 16:46] bsipocz commented on #312
@moorepants @giampaolo - #294 is the relevant issue, and the actual fix was done in ``ci-helpers`` in https://github.com/astropy/ci-helpers/pull/29

Hope it helps.

[2016-05-13 16:51] bsipocz commented on #312
Btw you can use ``ci-helpers``, too if you like, it does take care of these standard setup issues. Usage example is in the ``.travis.yml`` and ``appveyor.yml``, and an example for a bit more complicated matrix can be found in astropy's travis.yml.

[2016-06-13 16:57] pllim opened #371 "Broken examples in background doc"
Change `filter_size` to `filter_shape`:

https://photutils.readthedocs.io/en/latest/photutils/background.html

[2016-06-13 17:00] pllim commented on #371
Turns out API is changed between 0.2.1 (what I have) and master (doc I am looking at). Thanks @larrybradley !

[2016-06-13 17:00] #371 closed

[2016-06-13 17:20] pllim commented on #259
I was just looking for this feature and sad to find that it does not exist...

[2016-06-13 18:17] larrybradley commented on #259
Patience, @pllim.  I'm working on it.

[2016-06-13 18:28] pllim commented on #259
So far, I can get around it by getting the fractions out of the aperture and build a mask off it. But you said you're going to remove the fractions, so please keep me updated. Thanks!

[2016-06-13 19:55] larrybradley commented on #178
Implemented in #368.

[2016-06-13 19:55] #178 closed

[2016-06-15 13:17] pllim opened #374 "Background calculation algorithms can also be reused for source/peak finding?"
@hcferguson mentioned this in the sprint tag-up yesterday, so I am opening an issue here so it is not forgotten.

[2016-06-15 17:27] pllim opened #375 "[WIP] Add ofilter?"
Don't know if this will ever happen, but if it is supposed to happen, I am opening an issue here so it is not forgotten. As part of JWST DADF photometry sprint, I took up the task to convert IRAF `ofilter` algorithm for sky fitting to Python. Here is a [gist of the results](https://gist.github.com/pllim/e14513e2b30425e7d673eac3051aab48).

Should we add [ofiltsky.py](https://github.com/pllim/plaype

[2016-06-15 17:47] larrybradley commented on #375
It would need to be rewritten as a background class (see for example `MeanBackground` in #370) to use the current object-oriented interface.  But it needs to be based off #370, so you should wait until that is merged.

[2016-06-15 17:48] pllim commented on #375
Whether it should really be in the background class or not also depends on #374.

[2016-06-15 19:15] larrybradley commented on #375
@pllim I haven't looked at your function yet, but to be used in centroiding and background estimation, it should be split into two parts.  The first part should be a basic centroiding function, i.e. take in a 1D array and use the algorithm to give me the centroid.  For example, the functions (e.g. DAOPHOT) that use this to calculate 2D centroids, calculate them from the 1D marginal x and y distrib

[2016-06-15 19:16] pllim commented on #375
So, the centroid portion should be in, IDK, `utils` or something?

[2016-06-15 19:19] larrybradley commented on #375
The other centroid algorithms are currently in `morphology.py`, so you can put it there for now.  I want to do some reorganization of that module (probably a new subpackage) at some point in the near future.

[2016-06-16 21:00] pllim commented on #375
As decided during tag up today, it's a no-go.

[2016-06-17 13:33] larrybradley commented on #374
This is specifically for `ofilter`, which is essentially a 1D centroiding algorithm.  The background estimation is "centroiding" the data histogram.  I'm going to close this, but we can add `ofilter` when it's ready, e.g.:
https://github.com/astropy/photutils/issues/375#issuecomment-226290839

[2016-06-17 13:33] #374 closed

[2016-06-17 20:21] pllim commented on #375
Reopened issue based on the request from tag-up today to potentially add it just for its "centroiding algorithm" part.

@larrybradley , the code is in [ofiltsky.py](https://github.com/pllim/playpen/blob/master/ofiltsky.py). Do you mean you only want the `aptopt()` function?

[2016-06-21 15:52] larrybradley opened #381 "0.3 release"
I think it would be nice to have a `0.3` release sometime in the next month.  It's been almost 6 months since the `0.2` release, and we've added a bunch of new features recently (some with new APIs).

I have several things I would like to add still to `0.3`, and I know the `psf` subpackage is undergoing a lot of work.  For the `psf` work, is there a good point to have a release in the next month?

[2016-07-05 18:25] cdeil commented on #381
+1 to cut a photutils release ASAP to get the fix #366 out.

[code]
Currently `pip install photutils` is broken and conda (I think) today updated to 3.5.2, so users will start noticing this.

@larrybradley and @bsipocz  - I don't know if you want to make an 0.2.2 release or just do 0.3 very soon?

[2016-07-05 18:39] bsipocz commented on #381
@cdeil - I think we're save with users, I would be surprised if a large fraction is already switched to python 3.5, let alone to 3.5.2, and yet they can still use their already built version or install from conda.

However maybe it's worth doing a 0.2.2 including only this fix?

[2016-07-05 21:07] hcferguson opened #387 "find_peaks documentation inconsistent"
The documentation on readthedocs says that `find_peaks()` does not do any centroiding (always returns  integer pixel coordinates). However the documentation in the docstring says that it has a `subpixel=True` option that will fit a 2D Gaussian and return the local centroid and peak value.

[2016-07-05 23:36] larrybradley commented on #381
I think we need to fix this.  I'm going to do a `0.2.2` release now for this.

I think we might wait to release `0.3` until after GSoC is completed?  In any case, I'm not ready for `0.3` yet either.

[2016-07-06 03:55] larrybradley commented on #387
Thanks, @hcferguson.  I added the `subpixel` option later and unfortunately didn't update the narrative docs.

[2016-07-07 02:31] larrybradley commented on #381
I just released `0.2.2`.

[2016-07-07 07:13] cdeil commented on #381
Thanks!

`pip install photutils` now works again with Python 3.5.2 for me on Mac.

[2016-07-08 00:36] eteq opened #389 "Update segmentation/threshold detection to OOP interface"
It just occurred to me that the updates @mirca made in #379 perhaps could also be applied to the code described in this section: https://photutils.readthedocs.io/en/latest/photutils/detection.html#source-extraction-using-image-segmentation ... Do you agree, @larrybradley ?  Or do you think this is better left as a function given that it _yields_ an object that requires more thought to operate on (

[2016-07-08 23:12] vterron opened #390 "Generic settings to maximize the number of detected sources"
I would like to get rid of all non-Python dependencies in [our pipeline](https://github.com/vterron/lemon/), and the first one that I'm tackling is SExtractor. I've followed the section of the [photutils documentation on source detection](http://photutils.readthedocs.io/en/v0.2.2/photutils/detection.html), but I'm encountering a little problem: I cannot manage to get it running properly without kn

[2016-07-09 12:12] mirca commented on #390
I think [detect_sources](http://photutils.readthedocs.io/en/v0.2.2/api/photutils.detection.detect_sources.html#photutils.detection.detect_sources) and [find_peaks](http://photutils.readthedocs.io/en/v0.2.2/api/photutils.detection.find_peaks.html#photutils.detection.find_peaks) are the most generalized functions to find sources that we have in ``photutils``.
Could you post the blind settings you us

[2016-07-09 23:05] bsipocz commented on #390
@vterron -  As "blind" initial value you could use the pixel scale from the image header to set the fwhm to the typical (or even best) seeing of the observing site.

[2016-07-10 20:55] vterron commented on #390
@mirca, the SExtractor configuration files are [these](https://github.com/vterron/lemon/tree/master/sextractor).

@bsipocz, that's a very good idea, thanks. I'll try it. The only problem I see with it is that it would require us to ask the user to input the pixel scale, or we would have to make assumptions as to how that information is stored in the FITS header. Another option that I am considerin

[2016-07-10 22:06] bsipocz commented on #390
@vterron - In your gist example you're already using the wcs from the header, so using that you can easily figure out the pixel scale, too.

[2016-07-11 15:45] larrybradley commented on #390
@vterron But your SExtractor configuration file also is assuming a FWHM.  Your kernel is defined as `FILTER_NAME = sextractor.cov` in your `sextractor.sex`.   Just pass that same exact kernel array as the `filter_kernel` keyword input into the `detect_sources` function.

[2016-07-11 15:47] larrybradley commented on #390
@vterron   It appears you are using a 3x3 Gaussian kernel with a FWHM of 2 pixels.

[2016-07-11 21:04] larrybradley commented on #387
Fixed in #391.

[2016-07-11 21:04] #387 closed

[2016-07-14 19:48] larrybradley opened #393 "Sphinx latexpdf docs failing"
This is causing RTD builds to report failure, even though the HTML docs build fine.

It appears this started around the time #379 was merged.

[2016-07-15 11:05] mirca commented on #393
@larrybradley I see those failures. Investigating...

[2016-08-10 16:34] bsipocz commented on #393
astroplan also has similar issues: https://github.com/astropy/astroplan/issues/214

[2016-08-16 21:30] bsipocz commented on #393
This was fixed by #405, thus closing.

[2016-08-16 21:30] #393 closed

[2016-08-18 20:41] eteq opened #406 "Change psf_photometry function to class-based architecture"
This came up in one of the GSoC 2016 hangouts, where I think we came to agreement, but I'm leaving it here as a reminder to actually implement this.

The basic idea is to change the high-level PSF routines to be callable classes, a la the work in #379 and #370 .  So the idea would be to replace the current `psf_photometry` function with a callable class that contains the configurable bits (for `ps

[2016-08-19 18:39] cgosmeyer opened #407 "analogous parameter settings for aperture_photometry and iraf.phot?"
Hi,
Have there been any tests done to compare the ``aperture_photometry`` function to ``iraf.phot``?  Or is there a chart about how to set parameters so that the two get ~matching results?
I have been finding discrepancies in flux counts on the same sources up to 20% or more in circular apertures radii of 3-20pixels (the range I have so far look at) no matter my combination of setting centroiding

[2016-08-19 18:52] larrybradley commented on #407
When doing comparisons between IRAF and python it's important to note that IRAF uses 1-based indices, while Python uses 0-based indices.  That's means you will need to subtract 1 from your IRAF-based `x` and `y` positions when using `photutils`.  Have you done that?

[2016-08-19 19:19] cgosmeyer commented on #407
Yes, I subtracted 1's from the coordinate file I fed iraf.   I think that, regardless of whether I can get the two results to match, there should be documentation available that compares the two routines.

[2016-08-23 14:32] larrybradley commented on #407
OK, glad to hear you shifted the coordinates.

I've never used `iraf.phot` and I doubt any other `photutils` developers have either.  The parameters for `photutils` aperture photometry are very straightforward.  To define a circular aperture the only parameters are `x`, `y`, and `r` (radius).  For the `aperture_photometry` function, the `mask` and `method` (and `subpixels`) keywords are the only p

[2016-08-23 17:23] cgosmeyer commented on #407
Thanks for the feedback!  I also suspect that re-centroiding is a primary culprit, since smaller apertures give the most divergent results.  I will try as you suggest to compare photometry using a simulated source.

[2016-09-01 19:51] larrybradley commented on #407
The conclusion is that IRAF is approximating the aperture using polygons, while the `photutils` default calculates the exact pixel-aperture overlaps.

[2016-09-01 19:51] #407 closed

[2016-09-02 20:19] eteq opened #412 "Add a doc section about "how to choose your PSF""
From a DADF sprint: we should add a doc section dedicated to discussing how to create a PSF that goes into the rest of the machinery.

[2016-09-02 20:20] mirca commented on #412
Basically, how to use ``prepare_psf_model``?

[2016-09-06 20:11] Gabriel-p opened #415 "Cython dependency installing dev version"
When installing the latest dev version of `photutils` as stated [here](https://photutils.readthedocs.io/en/latest/photutils/install.html#building-and-installing-using-pip):

[code]

the `cython` package is needed, otherwise it will fail. Perhaps this dependency should be added as necessary in that sub-section.

[2016-09-06 20:43] larrybradley opened #416 "Duplicate prepare_psf_model functions"
`psf.funcs.prepare_psf_model` is identical to `psf.models.prepare_psf_model`.

[2016-09-06 21:00] larrybradley opened #417 "GroupPSF class defined within the DAOPhotPSFPhotometry class"
I assume this wasn't intentional?
https://github.com/astropy/photutils/blob/master/photutils/psf/photometry.py#L403

Should `GroupPSF` belong in the `groupstars.py` module?

[2016-09-06 21:07] larrybradley commented on #415
The "Installing the latest development version" section begins with a "Prerequisites" subsection that states "Cython" is required to build `photutils` from the source distribution.

http://photutils.readthedocs.io/en/latest/photutils/install.html#prerequisites

That applies to both building manually or using pip.  I'm not sure what is missing.

[2016-09-06 21:12] larrybradley commented on #416
https://github.com/astropy/photutils/blob/master/photutils/psf/funcs.py#L64

https://github.com/astropy/photutils/blob/master/photutils/psf/models.py#L466

Is `psf.models.prepare_psf_model` the one intended to be kept?

[2016-09-06 21:14] Gabriel-p commented on #415
D'oh.

My bad, missed the above section.

[2016-09-06 21:14] #415 closed

[2016-09-07 05:15] mirca commented on #417
@larrybradley that was actually intentional. However, I see the usefulness of putting it in ``groupstars.py`` or even in ``models.py``. @eteq, @hamogu, @bsipocz  thoughts?

[2016-09-07 13:47] larrybradley commented on #417
Also, it's a bit unusual to define a class within a class.  Is the `GroupPSF` class useful *only* to the `DAOPhotPSFPhotometry` class?

[2016-09-08 16:30] eteq commented on #412
@mirca - that would be part of it, but this would be more complicated then that.  It would need (eventually) to account for cases like having multiple exposures of the same field, how to choose the specific stars you want, etc. This is one part that really depends a lot on the science case so it might need to end up a rather sprawling document.

Right now we're missing some of the key funcionality

[2016-09-08 16:32] eteq commented on #416
@mirca - can you confirm this wasn't intentional? (I actually don't remember if you did this or I did it ;)  I think it probably makes more sense to put this in models, as `funcs` I envision as "tasks that don't fit in one of the other places" more-or-less.

[2016-09-08 16:33] eteq commented on #417
I definitely think it should *not* be a class inside a class.  Users should be able to use the grouping machinery independently of the `DAOPhotPSFPhotometry`.

@mirca, can you clarify why it's a class-inside-a-class?  Was that a functionality thing or because it's sort of logically connected to `DAOPhotPSFPhotometry`

[2016-09-08 17:53] eteq commented on #417
Actually, looking more closely, I realized I'm not sure this is necessary at all as it stands.  Will make a PR shortly to illustrate what I'm thinking.

[2016-09-08 18:03] mirca commented on #416
@eteq I'm not sure who did this, haha. It was probably myself. I think ``models`` is the right place too.

[2016-09-08 21:43] #417 closed

[2016-09-09 01:19] #416 closed

[2016-09-09 17:09] bsipocz opened #422 "Make photutils citable"
We get these requests from time to time, so I wonder whether we should at least make a zenodo entry for photutils (unless there are some other ideas in the pipeline).

cc @larrybradley @eteq

[2016-09-09 21:06] eteq commented on #406
Just for the record, following a discussion as part of one of the JWST PSF photometry sprints, we had a re-thinking of the structure here. The idea we came up with will hopefully also resolve the problem of how to replace the existing `psf_photometry` class and a few other issues that have been rolling around in our collective heads.  This is the idea:
* Write a new class called something generic

[2016-09-09 21:09] eteq commented on #422
Definitely should make this possible!  It's a good question whether we want it to tell people to cite a Zenodo entry or try to write a photutils paper (or both), though. The paper is obviously more work, but it provides better "credit" for academics who've worked on it... but I'm not sure.

My instinct is that the best thing for now is to use Zenodo for each version, then down the road *if* we eve

[2016-09-09 21:09] eteq commented on #422
Oh, regardless, whatever we decide we should probably have a note in the docs describing what to do.

[2016-09-09 21:18] larrybradley commented on #422
@eteq  I agree.  I think Zenodo is best for now.  I actually have intentions to write a `photutils` paper at some point, but that's not likely to happen in the immediate future.

[2016-09-15 13:09] mirca commented on #389
@larrybradley Thoughts here? I would be interested in tackling this.

[2016-09-16 15:02] larrybradley commented on #389
@mirca  Thanks, but let's hold off on this.  My initial thoughts are that these are better left as functions because they are part of an interactive workflow -- one may need to do some intermediate operations on returned objects between steps (and in fact I've added tools to do so, e.g. modify a segmentation image).  As @eteq says, I don't think it really fits the "pipeline" or one-function-does-a

[2016-09-19 17:46] eteq commented on #422
@larrybradley - OK, should I just go ahead and do it for 0.2, then?

[2016-09-20 13:55] larrybradley commented on #422
@eteq Sounds good.  `0.3` will probably come near the end of October.

[2016-09-23 14:00] larrybradley opened #429 "Qt4 and SIP mismatch"
CI tests are now failing because of a mismatch with `Qt4` and `SIP`.  A fix will hopefully be available soon (https://github.com/ContinuumIO/anaconda-issues/issues/1090).

[2016-09-24 03:45] #429 closed

[2016-09-24 16:48] russel opened #431 "Odd error message"
Using photutils (0.2.2) with Python 3 (3.5.2) and PIL (1.1.7 via packaging, actually pillow 3.3.1) on Debian Sid, the code:
[code]
(strip down from the person's real code) results in the error:
[code]
This error message is weird: there is no indication what is to be done in the user code to avoid this problem. Unless I am missing something.

[2016-09-26 20:40] eteq commented on #422
Aaand here it is!  Took all of 3 min:

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.155353.svg)](https://doi.org/10.5281/zenodo.155353)

From now on, anytime a "github release" is made, it'll auto-mint the citable DOI.  Because of that I suggest only doing github releases for major version numbers (i.e. the next one should be v0.3, then v0.4 after that) to not dilute citations. Does that so

[2016-09-26 20:45] larrybradley commented on #422
Great, thanks!

Sounds good, but for reference how do I create a PyPI bugfix (minor) release without creating a "github release"?  I think a github release is created automatically whenever a new version tag is created.

[2016-09-26 20:59] Gabriel-p opened #433 "PSF photometry on crowded CCD frames"
Hi there. I occasionally need to perform PSF photometry on crowded fields, and I'm looking to get rid of IRAF as soon as possible. This package seems to be ideal replacement, but for what I can gather `photutils` it is still in a heavy development phase.

Below are the steps needed to complete a full PSF photometry process, and the packages in IRAF used in each step (as described in [A User's Guid

[2016-09-26 21:06] larrybradley commented on #431
@russel  Thanks for your report.  The issue is that `Image.open()` returns a `PIL` object instead of an `numpy.ndarray` and the `PIL` object doesn't have a `shape` attribute.

We usually perform the conversion to an `ndarray` internally, but unfortunately `Background` is missing that feature (it expects `data` to be an ndarray).  It will be fixed in the next release to allow an "array-like" input,

[2016-09-27 12:37] russel commented on #431
@larrybradley Thanks for letting me know.  I tried the code above with the addition of import of NumPy:
[code]
But this leads to:
[code]

[2016-09-27 16:48] larrybradley commented on #431
Ah, one other thing you need to do is "flatten" your image to a 2D ndarray.  PIL will load your JPG image as a 3D N x M x 3 image (for RGB; NxMx4 for RGBA), i.e. one 2D image each in R, G, and B.  `Background` requires a 2D image, but you can convert your RGB image to a 2D grayscale `numpy.ndarray` like this:

[code]

[2016-09-28 10:08] mirca commented on #433
Hi @Gabriel-p!

2.:
I think you may find equivalent python functionalities in [astropy/ccdproc](http://ccdproc.readthedocs.io/en/latest/ccdproc/image_combination.html).

3.:
Photutils has an aperture photometry module, you may check the docs [here](https://photutils.readthedocs.io/en/latest/photutils/aperture.html)

Currently, I'm working on refactoring 5. in photutils. You may check [here](https:

[2016-09-28 13:20] #422 closed

[2016-09-28 19:49] Gabriel-p commented on #433
Thank you for your answer @mirca! One more question if you don't mind. Is `photutils` able to estimate the average FWHM of an observed frame? In IRAF one can obtain it via the `psfmeasure` task for example.

[2016-09-28 21:16] mirca commented on #433
@Gabriel-p I would say that ``photutils`` does not have a direct way to estimate the FWHM of PSFs. It would be a great addition to ``photutils`` to have a ``psfmeasure`` equivalent :D
cc @bsipocz @eteq @hamogu @larrybradley

[2016-09-28 22:29] larrybradley commented on #433
Yes, this would be a nice feature to add to `photutils`.  I'm pinging @SaraOgaz because I think she was working on a python version of `psfmeasure`.

[2016-09-29 14:47] SaraOgaz commented on #433
Hi @Gabriel-p , and all...  we have just started an effort at STScI to get down to the nitty gritty of replacing IRAF tasks still used by the community.  So first of all, this input is MUCH appreciated.  We would like to either have a notebook with python examples for IRAF tasks if they already exist in the python libraries, or if they are still missing, write them.  But we're still in the very ea

[2016-09-30 13:18] Gabriel-p commented on #433
Thank you all. I'll see if I can come up with some (dirty) script to serve as the base for a proper `psfmeasure` task.

I guess this issue can be closed now?

Cheers

[2016-09-30 16:55] larrybradley commented on #337
@cdeil This functionality was added in https://github.com/astropy/photutils/pull/403.  The docs are at http://photutils.readthedocs.io/en/latest/photutils/psf_matching.html.

[2016-09-30 16:55] #337 closed

[2016-09-30 16:57] larrybradley commented on #390
@vterron We haven't heard back, so I'm closing this now.  Please reopen if you still have a question about this.

[2016-09-30 16:57] #390 closed

[2016-09-30 17:09] larrybradley commented on #30
Cleaning up some old issues.....  Intersections of regions is planned as part of the `regions` package.

[2016-09-30 17:09] #30 closed

[2016-10-02 18:46] cdeil commented on #337
@larrybradley - Thank you very much!

Minor suggestion: for http://photutils.readthedocs.io/en/latest/photutils/psf_matching.html : Maybe use `matplotlib.pyplot` instead of `matplotlib.pylab`? It seems to be the common / recommended thing to do (see [here](http://matplotlib.org/faq/usage_faq.html#matplotlib-pyplot-and-pylab-how-are-they-related))

For [photutils.psf.matching.create_matching_kernel

[2016-10-03 19:27] rjavila commented on #259
Oh I could really use this right now.

[2016-10-05 15:24] larrybradley commented on #337
@cdeil  Thanks for noticing the use of `pylab`.  I don't use it either -- I must have blindly copied it from another doc page (it was used in several pages, probably propagating from a single source).  In any case, `pylab` is now gone from all `photutils` docs.  Thanks.

Yes, the window keyword isn't easy to describe in a few words, so I added a link from `create_matching_kernel` back to the narra

[2016-10-05 19:00] Gabriel-p opened #440 "Extract FWHM estimate from psf_model?"
The [DAOPhotPSFPhotometry](https://photutils.readthedocs.io/en/latest/api/photutils.psf.DAOPhotPSFPhotometry.html#daophotpsfphotometry) description says:

Does this mean that one could extract the estimated FWHM for all sources in an image from `psf_model`? If so, how would that work?

(Is this the right place to be asking these questions? Should I start making them somewhere else?)

[2016-10-06 06:35] cdeil commented on #337
@larrybradley - Thank you very much for adding the references for further information.
Printing the paper now ...

[2016-10-06 07:11] saimn commented on #337
There is a code that was recently published and could be of interest : https://github.com/aboucaud/pypher (and https://arxiv.org/abs/1609.02006)

[2016-10-06 07:39] cdeil commented on #337
OK, wow. Maybe for now, just add a link from `photutils.psf.matching` to `pypher` and their paper, and then long-term talk to them about collaboration / avoiding duplication?

[2016-10-07 22:20] mirca commented on #440
Hi @Gabriel-p,

Currently, ``DAOPhotPSFPhotometry`` expects that the user knows _a priori_ the ``fwhm`` (or ``sigma``) to initialize ``psf_model``. ``psf_model`` usually is an astropy ``Fittable2DModel`` like [IntegratedGaussianPRF].(http://photutils.readthedocs.io/en/latest/api/photutils.IntegratedGaussianPRF.html)

I pretty sure this place is appropriate for asking questions, keep them coming :)

[2016-10-08 16:00] Gabriel-p commented on #440
Thanks @mirca!

Couldn't the `sigma` be left as a parameter to fit somehow?

__________________
This questions derives from [this one](https://github.com/astropy/photutils/issues/433#issuecomment-250279508). I'm trying to come up with a way to estimate the FWHM using the tools available in this package (and `astropy`)

[2016-10-09 01:02] Gabriel-p opened #443 "Implement getting of uncertanties in PSF photometry"
I see that the `get_uncertainties()` method for `DAOPhotPSFPhotometry` [currently raises](https://photutils.readthedocs.io/en/latest/_modules/photutils/psf/photometry.html#DAOPhotPSFPhotometry.get_uncertainties) a `NotImplementedError`.

What's the ETA on this?

[2016-10-09 17:15] mirca commented on #443
I'm going to tackle this soon. Everybody needs to compute uncertainties :)

Currently, astropy fitters do not provide a standard way to compute uncertainties of the fitted parameters. For [LevMarLSQFitter](http://docs.astropy.org/en/stable/api/astropy.modeling.fitting.LevMarLSQFitter.html), one can get uncertainties through the ``fit_info`` dictionary, but this is not true for the other astropy fi

[2016-10-09 17:23] mirca commented on #440
@Gabriel-p ``sigma`` could be left as a parameter to be fitted. However, the results on the fitted ``sigma`` wouldn't show up in the output table of ``DAOPhotPSFPhotometry`` because the output table is hardwired to contain only the centroids and fluxes. I'm going to change this behavior in #427

[2016-10-14 19:04] panossk opened #445 "ImportError: No module named DAOStarFinder"
Hi,

i finished installing astropy, photutils, and updating numpy and scipy.
I started testing everything with the examples proposed in http://photutils.readthedocs.io/en/latest/photutils/getting_started.html

Everything works until the import of DAOStarFinder which leads to the error message in the title.
How is that even possible?
It happens both on my laptop, and on my workplace's server which

[2016-10-14 19:47] mirca commented on #445
Hi @panossk, which version of photutils have you installed?

[2016-10-15 13:02] panossk commented on #445
hi mirca, thanks for your attention,
 I'll check as soon as I return to my office.
Photutils was installed using pip, shouldn't it be the most up-to-date, by definition?

[2016-10-15 13:13] mirca commented on #445
``photutils`` version from ``pip`` is ``0.2.2``, which does not has ``DAOStarFinder``. You can look at http://photutils.readthedocs.io/en/stable/index.html for the correspondent docs.

[2016-10-15 14:00] panossk commented on #445
oh, thanks for that info.
It's quite odd. 0.2.2 is the most recent? and doesn't have this module?

[2016-10-15 14:33] bsipocz commented on #445
@panossk - There were quite many reorganization and many new functionality added recently that will be released soon. ``DAOStarFinder`` is one of these new addition.
However the daofind functionality is available in released versions, too, but in a different function form rather than the object oriented form. You can always access the documentation of the latest release under the name "stable": ht

[2016-10-15 14:34] #445 closed

[2016-10-15 15:44] panossk commented on #445
so basically the main thing is a naming issue? dayum.
so that means i was misdirected to that initial link in the start, as I was only looking for simple (user-oriented, not developer) examples... :/

Well,  I hope that that's all there is to it. I'll check it on Monday.
Thanks!

[2016-10-15 15:52] bsipocz commented on #445
@panossk - The main issue was that you were looking at the documentation of a different version than your installed version. There are several versions of the documentation, it's always worth to check and match the versions to use the one that matched the installed package.

You're also welcome to work with the developer version to try out new things not yet available in the release, it can be ins

[2016-10-15 16:06] panossk commented on #445
thanks,
I'm afraid I won't have time for that right away.
It's just that in the aftermath of this it seems frustrating that i found myself on a developer's version instructions, when I am as much of a noob as can be.

[2016-10-20 12:42] jjvh91 commented on #349
Hey,
I'm running into this same problem, but can't seem to figure it out. I installed photutils with pip, also trying the --upgrade you suggest in this topic.

But still it says it cannot find circular_aperture. What could be going wrong?

[2016-10-20 14:41] larrybradley commented on #349
@jjvh91  `circular_aperture` is a `Cython` module that needs to be compiled and that step is failing for you.

Which version of `photutils` are you trying to install?  If you are installing the latest *released* version (0.2.2), you do not need `Cython` and `pip install photutils` should work fine. A recommended alternative is to use `conda install photutils -c astropy`.

If you are trying to inst

[2016-10-21 10:39] jjvh91 commented on #349
When I left the comment I was trying to install the development version -- but mostly because using the latest release version was giving me problems (well, this very problem to be precise.)

I tried it once more (using pip install photutils --user). Could the fact that I am installing it locally with --user be causing any trouble perhaps?

[2016-10-24 16:21] larrybradley commented on #349
You could try uninstalling it completely and starting fresh.  Installing with `--user` shouldn't be causing any trouble.

[2016-10-24 17:56] larrybradley commented on #431
@russel Hopefully this solved your problem, but please re-open this issue if you are still having trouble.

[2016-10-24 17:56] #431 closed

[2016-10-28 18:56] KickFrontFlip opened #447 "cannot import name circular_overlap_grid"
Hello,
I'm surprised  this issue has yet to be reported (this could indicate something on my end). However, when I run the code:

[code]

image_file being the name of my fits file

I am met with the error: "ImportError: cannot import name circular_overlap_grid"
Looking through my directories, and the directories in this website for photutils I cannot find a file named "circular_overlap_grid" is it

[2016-10-28 19:12] larrybradley commented on #447
@KickFrontFlip  Thanks for your report.  `circular_overlap_grid` is located in a `Cython`-generated C module that needs to be compiled during the installation.  This `ImportError` is due to `circular_overlap_grid` not being compiled correctly during installation.

I see you are using `conda`.  Can you please report exactly how you are installing `photutils` using `conda` and if you see any error m

[2016-10-31 17:57] larrybradley commented on #381
Please finalize any PRs in the next day or two that you would like in the `0.3` release.  I plan to make a `0.3` release this week (prior to the JWST workshop).

@mirca, @eteq

[2016-11-06 01:56] larrybradley commented on #8
This feature was added in #453.  See the `ApertureMask` object.

[2016-11-06 01:56] #8 closed

[2016-11-06 01:57] larrybradley commented on #161
This feature was added in #453.  See the `ApertureMask` object.

[2016-11-06 01:57] #161 closed

[2016-11-06 01:58] larrybradley commented on #259
This feature was added in #453.  See the `ApertureMask` object.

[2016-11-06 01:58] #259 closed

[2016-11-07 00:29] larrybradley commented on #381
Version `0.3` has been released.  It's available now on PyPI and soon in the astropy conda channel and AstroConda.  Thanks everyone for your contributions!

[2016-11-07 00:29] #381 closed

[2016-11-07 20:11] Gabriel-p commented on #443
I can not find the `get_uncertainties()` method anymore. Has this functionality been added? Does PSF photometry now also return uncertainty estimates?

[2016-11-07 21:32] mirca commented on #443
@Gabriel-p Unfortunately, not yet.

[2016-11-08 01:12] Gabriel-p commented on #443
I thought that, since the method was not there anymore (at least I couldn't find it?) it might have been added to the new dev version. Thank you @mirca!

[2016-11-08 12:13] bsipocz opened #457 "Changing default rtd from "latest" to "stable""
It happened it the past that users got confused by the difference in the latest documentation and their installed released version.
I suggest to change the RTD default to be the stable version (so ``http://photutils.readthedocs.org/`` will point to stable rather than latest), so maybe there will be a bit fewer such cases in the future.

I can do this after given the green light by @larrybradley an

[2016-11-08 15:23] Gabriel-p opened #458 "What is a reasonable crit_separation value in DAOPhotPSFPhotometry?"
The `DAOPhotPSFPhotometry` class was modified (as far as I can tell), and now it requires a mandatory `crit_separation` value.

It is not clear from the description what would be a resonable value for this parameter. I've noticed that the larger it gets, the longer it takes `DAOPhotPSFPhotometry` to complete but I'm not entirely sure why.

[2016-11-08 16:15] Gabriel-p commented on #458
I just found it here https://photutils.readthedocs.io/en/latest/api/photutils.psf.DAOGroup.html#photutils.psf.DAOGroup

[2016-11-08 16:15] #458 closed

[2016-11-08 16:28] mirca commented on #458
@Gabriel-p
Also refer to the API docs for the three classes for performing photometry: [BasicPSFPhotometry](https://photutils.readthedocs.io/en/latest/api/photutils.psf.BasicPSFPhotometry.html#photutils.psf.BasicPSFPhotometry), [IterativelySubtractedPSFPhotometry](https://photutils.readthedocs.io/en/latest/api/photutils.psf.IterativelySubtractedPSFPhotometry.html#photutils.psf.IterativelySubtracte

[2016-11-08 19:51] larrybradley commented on #457
@bsipocz Sounds good to me, thanks!

[2016-11-08 21:20] Gabriel-p opened #459 "Different results in source detection with DAOStarFinder versus DAOPhotPSFPhotometry"
As far as I understand, the `DAOPhotPSFPhotometry` class uses the `DAOStarFinder` class to search for sources.

I'm seeing rather different results using both classes on the same image:

![figure_1](https://cloud.githubusercontent.com/assets/6054951/20117495/9ebf8d24-a5df-11e6-927c-50981392bdd4.png)

Shouldn't both return the same results if I use the same parameters?

The code is here, if needed

[2016-11-08 22:20] mirca commented on #459
@Gabriel-p Hi Gabriel, I haven't had the chance to look closer into this, but it seems that `hdu_crop` is not background subtracted when used by ``DAOStarFinder``, while ``DAOPhotPSFPhotometry`` always perform background subtraction. See [DAOPhotPSFPhotometry](https://photutils.readthedocs.io/en/latest/api/photutils.psf.DAOPhotPSFPhotometry.html#photutils.psf.DAOPhotPSFPhotometry). More importantl

[2016-11-08 23:26] Gabriel-p commented on #459
@mirca if I understand correctly [cutout_footprint](http://photutils.readthedocs.io/en/latest/api/photutils.utils.cutout_footprint.html?highlight=cutout_footprint) (what I use to produce the crop) does not perform any background subtraction. In either case, the same cropped region (`hdu_crop`) is used by both methods.

The only reason I could think of to explain the differences is the background s

[2016-11-09 12:41] mirca commented on #459
@Gabriel-p Any luck if you use `niters=1` in ``DAOPhotPSFPhotometry``?

[2016-11-09 12:48] Gabriel-p commented on #459
That was it. With `niters=1` the results are identical. Thank you @mirca!

[2016-11-09 12:48] #459 closed

[2016-11-09 12:49] mirca commented on #459
The default is ``niters=3``, but I guess we may change that? @eteq

[2016-11-09 14:29] bsipocz commented on #457
Done.

[2016-11-09 14:29] #457 closed

[2016-11-09 19:18] bsipocz commented on #459
I'm sure @eteq will comment on changing the default, but I would leave it on 3. Checking the images above, it seems that with more iteration more faint sources are found, which is expected, and in a the case of a crowded field, I expect it to lead to a much better result.
(Finding the artefacts around the bright star is an unfortunate, but is also somewhat expected side effect.)

[2016-11-09 19:23] bsipocz commented on #406
I think this can be closed now, can you confirm @eteq, @mirca ?

[2016-11-09 19:28] bsipocz commented on #329
Closing this as the psf module improved a lot since, including the docs.

[2016-11-09 19:28] #329 closed

[2016-11-09 19:31] bsipocz commented on #328
Said notebook had been moved to ``photutils-datasets`` so I'm closing this issue here, and opening a reminder there to double check and make the updates.

[2016-11-09 19:31] #328 closed

[2016-11-09 19:39] bsipocz commented on #264
I'm closing this as the consensus seems to be that astropy.io is a better place for such a parser.

[2016-11-09 19:39] #264 closed

[2016-11-09 19:46] mirca commented on #459
I totally agree with you @bsipocz

[2016-11-09 19:46] mirca commented on #406
Yes @bsipocz :D

[2016-11-09 19:51] bsipocz commented on #326
@stefanocovino - There has been a new v0.3 release for photutils, with most of the psf module worked over. Could you please have a look at it and see whether your issue had been addresses?
While I'm closing this one, feel free to reopen this or open another if you run into further errors.

[2016-11-09 19:51] #326 closed

[2016-11-09 20:08] #406 closed

[2016-11-10 15:52] eteq opened #461 "Write regression test for #460"
We'll probably want to merge #460 ASAP just due to the needs of a workshop that's happening right now, but we (I?) really should write a regression test to make sure the oversampling is actually working right.

[2016-11-10 20:16] eteq commented on #443
I renamed this to be an actual issue that we can track.

Some additional details of what I think we *want* (although @mirca, @Gabriel-p or @hamogu might have other ideas):
* For fitters that support uncertainties, the tables that output the results of PSF fitting should contain a "flux_fit_unc" or maybe "flux_unc" column, which would get the results of the fitting.
* Fitters that don't have uncert

[2016-11-10 20:32] eteq opened #462 "Add quality-of-fit information to the photometry fit outputs"
This overlaps somewhat with #443, but is somewhat distinct - the psf photometry machinery should output quality-of-fit information.  There are two particular things that I think might be relatively easy to do now:

1. A chi (or chi-squared) for the fit.  This could be just a directly computed chi-squared from the model, but *might* be best done to match the ALLSTAR implementation of `chi`... That

[2016-11-10 20:54] eteq commented on #433
@Gabriel-p - a bit more on these steps:

2: can be done with `ccdproc` or just directly on image arrays, *or* for dithered images, you might want to have a look at reproject (http://reproject.readthedocs.io/), which has various ways of putting them all on the same frame without combing.

One extra bit here, though: in fact in many cases you *don't* want to do this at all - the mode we're hoping to

[2016-11-10 20:54] #433 closed

[2016-11-10 21:02] eteq opened #463 "Tools for calibrating photutils outputs"
Prompted by the question in #433 (although this has been discussed in various other places), we should develop some functions to do standard sorts of calibrations given the outputs of `photutil`'s aperture and PSF photometry elements.

The way I imagine this working is basically a set of functions that take tables as they are output from the aperture photometry routines or PSF photometry classes,

[2016-11-10 21:09] eteq opened #464 "Make the <something>_0 and <something>_fit machinery that was in psf_photometry work in the new psf photometry classes"
In the `psf_photometry` function that was in prior to #451 (although never in a release), the function had a feature that if the input table had a column named `<something>_0` and the model had a parameter called `<something>`, the `psf_photometry` function would automatically use that to set the default value for parameter `<something>`.   I'm *pretty* sure this was removed in #451 (i.e., it's no

[2016-11-10 21:24] eteq commented on #440
To clarify/update on this last comment: this functionality overlaps with #464 - @mirca's #427 got merged without this because we wanted it in soon, but indeed it should be possible to fit `sigma` as you say here.

@Gabriel-p  - The one caveat is that you almost never *want* to do this.  For most PSF models, the scale parameter is known to become biased when S/N is very low.  So the typical PSF wor

[2016-11-10 21:25] eteq commented on #440
Oh, and this *also* overlaps with #412 - hopefully at some point the document refernced there will discuss all of this so that you can find out without having to ask in the issue tracker ;)

[2016-11-10 21:32] mirca commented on #464
@eteq 👍

[2016-11-11 14:56] bsipocz commented on #117
Tests were added in #276, and the geometry module is about to be moved to the regions package. Any further issues or requests should be reported there.

[2016-11-11 14:56] #117 closed

[2016-11-15 03:33] #461 closed

[2016-11-23 14:52] larrybradley commented on #170
Closing since `aperture_funcs` no longer exists after the refactors in #446 and #453.

[2016-11-23 14:52] #170 closed

[2016-11-23 14:54] larrybradley commented on #447
@KickFrontFlip  Hopefully that solved your installation issue, but please let us know if not.  Thanks.

[2016-11-23 14:54] #447 closed

[2016-11-23 14:57] larrybradley commented on #131
@bsipocz I'm going to close this an create an new issue specifically about adding a polygon aperture (once `regions` is ready).  Thanks.

[2016-11-23 14:57] #131 closed

[2016-11-23 14:59] larrybradley opened #467 "Add polygon aperture"
This is a reminder to implement a polygon aperture based on a polygon region from the `regions` package.  This will occur when `regions` is ready and we base all `photutils` apertures on `regions`.

[2016-11-23 15:09] larrybradley commented on #121
@keflavich Aperture masks can now be created (added in #453), which you could broadcast along the 3rd dimension.  This is similar to what is now being added to `regions`.

Basic docs:
http://photutils.readthedocs.io/en/stable/photutils/aperture.html#aperture-masks

I need to expand the docs, but essentially there is a `.to_mask()` method on `PixelAperture` objects that returns an `ApertureMask` ob

[2016-11-23 15:09] #121 closed

[2016-11-23 15:40] larrybradley commented on #36
I discussed this issue with @astrofrog to get more context.  The issue arose because a user had a *model* for the data, where the data values could vary *within* a pixel, instead of "real" data where data is assumed to be constant over a pixel (e.g. detectors integrate within a pixel bin).  We decided the best approach in such cases is that users should pre-interpolate their data before doing the

[2016-11-23 15:40] #36 closed

[2016-11-23 15:47] larrybradley commented on #334
@eteq Is this issue still relevant with all of the recent changes to PSF-fitting photometry?

[2016-11-23 18:40] jankansky opened #468 "Doesn't build"
If I run:

git clone https://github.com/astropy/photutils.git
cd photutils
sudo python ./setup.py install

The build fails at:

running build_ext
error: [Errno 2] Could not find C/C++ file photutils/geometry/elliptical_overlap.(c/cpp) for Cython file photutils/geometry/elliptical_overlap.pyx when building extension photutils.geometry.elliptical_overlap. Cython must be installed to build from a git

[2016-11-23 18:51] mirca commented on #468
Could you please provide your astropy, photutils, and numpy versions?

[2016-11-23 18:52] larrybradley commented on #468
@jankansky  To build `Photutils` from the source, you must have `Cython` installed.  According to the warning message, you don't have `Cython` installed.  See the prerequistes here: http://photutils.readthedocs.io/en/latest/photutils/install.html#prerequisites

[2016-11-23 19:24] jankansky commented on #468
Thank you.  Cython was not installed.

[2016-11-23 19:24] #468 closed

[2016-11-23 20:26] larrybradley commented on #49
This was implemented in #159.

[2016-11-23 20:26] #49 closed

[2016-11-24 18:27] Gabriel-p opened #469 "Save cropped fits to file?"
Say I have the following code:

[code]

How can I save the cropped image to a new fits file and conserve the header information?

[2016-11-24 23:15] Gabriel-p commented on #469
BTW, I can't shake the feeling that this is not the place to be asking these questions since they are not issues with the code.

Wouldn't it be better to direct these doubts to stackoverflow? Perhaps even create a `photutils` tag that developers (and users) could follow?

[2016-11-25 09:49] astrofrog opened #470 "Update datasets module to use data.astropy.org"
I copied over most of the data files from photutils-datasets to data.astropy.org:

https://github.com/astropy/astropy-data/pull/17

So at some point we can update the references in the datasets module.

[2016-11-26 18:10] Gabriel-p commented on #469
I found how to do it. I now have the issue that the ra,dec coordinates are apparently not properly conserved.

I'll open a question artSO using the `astropy` tag. I won't be making this kind of questions here, sorry for the noise.

[2016-11-26 18:10] #469 closed

[2016-11-28 18:58] larrybradley commented on #469
@Gabriel-p To make 2D cutouts and update the WCS you should use `astropy.nddata.utils.Cutout2D`:

http://docs.astropy.org/en/stable/api/astropy.nddata.utils.Cutout2D.html

[2016-11-28 19:23] Gabriel-p commented on #469
Thank you @larrybradley, I got an answer mentioning that class here: http://stackoverflow.com/q/40821565/1391441

[2016-11-28 19:29] larrybradley commented on #469
Great.  I wrote `Cutout2D` after `cutout_footprint`.  `Cutout2D` is a more general-purpose function, while `cutout_footprint` is specialized function because of the`footprint` aspect of it.

[2016-11-28 19:42] Gabriel-p commented on #469
I'd make it clear in [cutout_footprint](http://photutils.readthedocs.io/en/latest/api/photutils.utils.cutout_footprint.html) that the `box_size` is in the sense `(y, x)` and *not* `(x, y)` as one would tend to assume by default.

[2016-11-28 19:43] larrybradley commented on #469
Thanks, will do.

[2016-11-28 20:34] larrybradley commented on #469
Done in https://github.com/astropy/photutils/commit/c883e8ef3e3eb6ee3f25890854a155506d195b6b.

[2016-11-29 18:55] larrybradley opened #473 "Add convenience function to estimate local backgrounds"
This would be for aperture photometry using an annulus-type aperture.  The function would perform the background estimation, subtraction from the aperture photometry, and error propagation.

[2016-11-29 18:58] larrybradley commented on #41
@indebetouw I'm going to close this issue.  There are separate issues open about polygon apertures (#467), dependent on the `regions` package, and local background subtraction (#473).  Also, there are now sky-coordinate based apertures in photutils that are WCS-aware.

[2016-11-29 18:58] #41 closed

[2016-11-30 14:01] larrybradley commented on #470
Done in #472.

[2016-11-30 14:01] #470 closed

[2016-12-07 02:44] larrybradley commented on #322
@olebole This appears to be fixed in #475.  The tests now pass on 32-bit machines (see https://circleci.com/gh/larrybradley/photutils/4).  Please re-open this issue if you still find failing tests.

Our 32-bit `CircleCI` testing will become active soon (#476).

[2016-12-07 02:44] #322 closed

[2016-12-13 18:01] mirca opened #478 "[BUG]: output table in PSF Photometry classes"
The indexing of the result table (the one with the fitted estimates) sometimes does not agree with the indexing of the table with the initial guesses (or the first estimates calculated by ``self.finder``).

This was caused by the ``nstar`` method which uses the ``group_by`` method from ``astropy.table.Table`` to group the entries in the initial guess table by their ``group_id`` which is likely to

[2016-12-14 15:30] SiqiLiu-647 opened #480 "Cannot import DAOStarFinder"
Hi, I met a issue like this: ImportError: cannot import name DAOStarFinder.
All the test suites run well (photutils.test()).

[2016-12-14 16:38] larrybradley commented on #480
`DAOStarFinder` was introduced in `photutils` version 0.3.  You can check your version using:

[code]

[2016-12-14 16:50] SiqiLiu-647 commented on #480
Thanks, I later realized that is a version problem. Solved, thanks!

[2016-12-14 16:50] #480 closed

[2016-12-18 21:34] stefanocovino opened #482 "aperture radius in BasicPSFPhotometry"
Apparently setting an aperture radius for PSF photometry by BasicPSFPhotometry has no effect. The photometry is always computed with a radius equal to the adopted FWHM.

Thanks.

[2016-12-18 21:46] mirca commented on #482
Hi @stefanocovino, thanks for reporting! Nevertheless, could you provide an minimal example where this issue arise?
From the examples I quickly tried here, ``aperture_radius`` is correctly set to the value the user provided (if ``None``, it is indeed set to the FWHM of the PSF model).
Thanks again!

[2016-12-19 14:49] stefanocovino commented on #482
Sure.

Here is the script. I have a large frame and I created a subframe to make the computation quicker. By the way, as well as for the aperture photometry, the possibility to provide a local background estimator might help. Essentially, it happens to be interested in deriving the photometry of a few selected objects and deriving a global background map can be a long task.

Thanks,
   Stefano

--

[2016-12-19 15:03] mirca commented on #482
Hi @stefanocovino, thanks for your quick reply :)!

Could you please print the values of rt['flux_0'] as well?

Thanks!

[2016-12-19 15:22] stefanocovino commented on #482
Done.

Aperture 5 pixels:     x_0        y_0         flux_0     id group_id   x_fit      y_fit       flux_fit
---------- ---------- ------------- --- -------- ---------- ---------- -------------
75.1409838 75.3948134 1673.12912819   1        1 75.1409838 75.3948134 2158.77526169
Aperture 7 pixels:     x_0        y_0         flux_0     id group_id   x_fit      y_fit       flux_fit
---------- ------

[2016-12-19 17:06] mirca commented on #482
@stefanocovino thanks! I'm looking into that, but it's definitely strange!

[2016-12-19 21:08] mirca commented on #482
@stefanocovino I got it :). The bug is that ``BasicPSFPhotometry`` is changing your ``pos`` so that it adds a ``flux_0`` column in ``pos`` which shouldn't be added.

I am going to open a pull request for this in the next few days. In the meantime, you can just repeat ``pos = Table(names=['x_0', 'y_0'], data=[[X-np.rint(X)+size],[Y-np.rint(Y)+size]])``, before calling ``rt = photometry(image=image,

[2016-12-19 21:21] stefanocovino commented on #482
Hi,

Thanks a lot!

However, I tried to do as you suggest and actually flux_0 changes, while flux_fit remains always the same value.

Bye,
  Stefano

__________________

Mobilis in mobile

[2016-12-19 21:28] mirca commented on #482
@stefanocovino That's good that ``flux_fit`` does not change :) It means the optimization algorithm is kind of robust to different values of the initial guess ``flux_0``. Also, your parameter space is one dimensional (only ``flux`` is being fitted), that should be pretty easy for ``LevMarLSQFitter`` to find the optimal value :)

[2016-12-19 22:39] stefanocovino commented on #482
Ah, sorry! This is something I indeed misunderstood.
The output is the total integrated flux for the PSF, not the flux within the aperture radius. With DAOPHOT, for instance, typically the flux you get is within the so-called fitting radius. Is there a way to get the fit flux within a given radius and not only to infinite?

For a 2DGaussian or pure analytic PSF the problem is easily solvable with

[2016-12-20 03:42] larrybradley opened #486 "Failing RTD builds"
Currently RTD builds are failing.  The reason is because of the "remote" Zenodo badge image on the main doc page.  Apparently the newest release of `docutils` and `Sphinx` don't get along with respect to "remote" images.  I think the solution is to (temporarily) pin `Sphinx` to an earlier version.  I won't get a chance to fix this until  the new year.  @bsipocz if you have time, perhaps you can ta

[2016-12-20 03:44] larrybradley commented on #486
Reference:  https://github.com/sphinx-doc/sphinx/issues/3212

[2016-12-20 09:20] bsipocz commented on #486
Sure, I'll have a look at it.
For some reason RTD already uses a rather old sphinx (1.3.5), and the 0.12 docutils but the problem indeed looks very similar to that in the sphinx issue.

[2016-12-20 11:34] mirca commented on #482
Hi @stefanocovino, oh yeah, I think I know what you mean. For now, the PSF Photometry classes available do not provide the fitting radius interface that you mention. However, you can adjust how much data is passed to the fitting process (which is what fitting radius does in DAOPHOT, right?) through ``fitshape``. The main difference is that ``fitshape`` takes a rectangular area of the image, while

[2016-12-20 11:44] stefanocovino commented on #482
Very good, of course.

In this specific case I solved the problem since integrating a 2DGaussian with no covariance and equal sigma in both axis is trivial. If I assume, as I guess it is the case, that the flux_fit is within the FWHM radius circle then correction factor for flux within any circle can easily be derived.

Thanks again,

	Stefano

[2016-12-20 22:02] bsipocz commented on #486
The build has been fixed with a072434b12d3850aba9b81afd3ddb663d4b9549f by requiring to have at least sphinx 1.5.1.
Limiting docutils version in the requirement file didn't have any effect, I think it wasn't downgraded from the installed 0.13.1 version. However the upstream bug has been fixed in Sphinx 1.5.1, and requiring to have 1.5.1 as a minimum version is working now.

[2016-12-20 22:02] #486 closed

[2016-12-20 22:21] #482 closed

[2016-12-21 22:28] ttshimiz opened #487 "User-defined PSF models from psf.prepare_psf_model always have submodel_names attribute"
I've ran into some issues using my own PSF model generated from the `psf.prepare_psf_model` function. I want to use a Moffat2D model as my PSF model so I imported that from astropy.modeling.models and set the gamma and alpha values to what's needed for my data. I then ran it through `prepare_psf_model` to convert it and be useable with `DAOPhotPSFPhotometry`. After setting up `DAOPhotPSFPhotometry

[2016-12-22 12:23] mirca commented on #487
Thank you for reporting, @ttshimiz
I will take a look into that soon =)

[2016-12-31 23:34] mirca commented on #487
@ttshimiz I don't have a quick solution for you right now, maybe ``PRFAdapter``, but it looks like it is a bit slow... Anyways, maybe adapting ``prepare_psf_model`` to play with the PSF Photometry should be the way to go...

[2017-01-02 12:41] ttshimiz commented on #487
Thanks for looking into this @mirca! Yeah I think the best solution is to modify ```prepare_psf_model``` to play better the PSF Photometry classes. I'm wondering if within ```prepare_psf_model``` you can just reset the ```submodel_names`` `attribute?

[2017-01-16 11:29] olebole opened #492 "Deprecation warnings with pytest 3.0.5"
On Debian, we currently use pytest 3.0.5 for the test and not the one included in astropy. This leads to a number of warnings:
[code]
While this is not critical in the moment, it will once pytest goes to version 4 when they will switch that off completely. Example log [here](https://buildd.debian.org/status/fetch.php?pkg=photutils&arch=amd64&ver=0.3-2&stamp=1484496969).

[2017-01-16 12:04] olebole commented on #492
OOps, the messages probably came from astropy. Sorry...

[2017-01-16 12:04] #492 closed

[2017-01-24 16:36] bsipocz opened #495 "Broken badges"
For some reason many of the badges on the Readme page appear to be broken. However opening the image links individually in separate tabs works fine.
![screen shot 2017-01-24 at 16 34 53](https://cloud.githubusercontent.com/assets/6788290/22256606/3310cb82-e253-11e6-9ba2-95e33292e181.png)

[2017-01-24 17:02] larrybradley commented on #495
@bsipocz They work for me.  It may have been a temporary glich (I think github caches badge images).

[2017-01-24 17:11] bsipocz commented on #495
Indeed. All but one works for me now. Sorry for the noise, it seemed to be an odd issue from the beginning.

[2017-01-24 17:11] #495 closed

[2017-01-26 17:16] dnfarias opened #496 "Background2D"
A little question; I can't manage to do some background estimation using Background2D keyword  edge_method = 'pad' ('crop' does fine); this is the error (and it's pretty common on numpy arrays):

ValueError: total size of new array must be unchanged

Does anyone know something about this?

[2017-01-26 17:36] bsipocz commented on #496
@dnfarias - Could you provide more info please? E.g. could you paste here the whole snippet of the code that produce this error? What is version of photutils you're using? What is the version of astropy and numpy?

[2017-01-26 17:50] dnfarias commented on #496
hdulist = fits.open(image)
data = np.array(hdulist[0].data)
sigma_clip = SigmaClip(sigma=3., iters=20)
bkg = Background2D(data,box_size=[25,25],edge_method='pad',sigma_clip=sigma_clip)

numpy version: '1.11.2'
astropy version: 1.2.1

Thanks for your quick reply

[2017-01-26 17:51] larrybradley commented on #496
Which version of `photutils` are you using?  Also, what is the shape of your `data` array?

[2017-01-26 17:54] dnfarias commented on #496
photutils version: 0.3.dev2140
data shape: (91, 1676)

[2017-01-26 20:39] dnfarias commented on #496
If you can reproduce the error please let me know; as you can see with box_size=[25x25] I tend to lose some information in the background using 'crop'.

[2017-01-26 23:22] eteq commented on #487
@mira - is @ttshimiz right that the reason for checking that is to see if it's a group?  If that's the case, then maybe the grouper class should add a special attribute specifically for that?  E.g. `model._is_group = True`, and then to check for it, do something like ``getattr(model, '_is_group', True)``?

[2017-01-26 23:31] eteq opened #497 "Add option to set the method for aperture photometry measurements in the PSF photometry loop"
Right now the PSF photometry machinery depends on doing CircularAperture photometry to make initial flux estimates.  That makes sense for many use cases, but there are some situations where you don't want to do that.  E.g., if your model is highly elliptical, or you know the image is very crowded, or you just don't like the default aperture sizes.

So I'd suggest taking the code that currently doe

[2017-01-26 23:45] bsipocz commented on #497
I really like this idea, and if @mirca thinks it makes sense, then I'll make sure it gets into 0.4. Either by bugging the two of you with it or try to implement it myself :)

[2017-01-27 13:19] mirca commented on #497
@eteq @bsipocz It absolutely makes sense! Let the user customize it as much as possible :)
I will prioritize #471, and then I can come to this =D

[2017-01-27 16:46] larrybradley commented on #496
Thanks, @dnfarias, for reporting this.  Indeed it is a bug, which will be fixed when #498 is merged.

[2017-02-01 17:26] dnfarias commented on #496
Hi everyone, I'm sorry for 're-opening' this, but I have a doubt; I updated my version of photutils using:

pip install --no-deps git+https://github.com/astropy/photutils.git

and it fixed the error I had before (and I could run the code with no errores several times with different data shape; (91, 1677) for example). The main issue I have now is that I 'changed' the 'data'  and I added a mask wit

[2017-02-01 17:38] larrybradley commented on #496
Thanks, @dnfarias.  I can reproduce this and I'm looking into it.

[2017-02-01 20:01] tepickering opened #499 "RectangularAperture creating masks that are too large"
I'm trying to use ``photutils.RectangularAperture`` to define apertures in Shack-Hartmann wavefront sensor data.  Rather than do photometry, though, I need to calculate centroids within each aperture.  So I use ``photutils.RectangularAperture.to_mask()`` to  generate the list of masks, loop through that list, and use ``ApertureMask.cutout()`` to generate the sub-image to centroid for each mask.  H

[2017-02-01 20:14] larrybradley commented on #499
Thanks, @tepickering.  Yes, the issue is that the minimal bounding boxes for rectangles aren't currently "minimal".  Currently they are a factor of `sqrt(2)` larger to handle possible rotation (for photometry, the mask array size doesn't really matter, it's only for efficiency to be minimal).  I'll work on generating *actual* minimal bounding boxes.  Thanks.

[2017-02-01 20:18] tepickering commented on #499
ah, that makes sense.  thanks for the quick response.

[2017-02-01 21:31] larrybradley commented on #499
Instead of using `RectangularAperture`, could you use http://docs.astropy.org/en/stable/api/astropy.nddata.utils.Cutout2D.html and then perform a centroid on the cutout?

[2017-02-01 22:07] larrybradley commented on #496
@dnfarias This is fixed now.  Please report back if you find anything else!

[2017-02-01 22:07] #496 closed

[2017-02-02 12:31] mirca commented on #487
@eteq I absolutely agree on having a ``_is_group`` attribute.

[2017-02-07 21:29] tepickering commented on #499
i certainly could do things at a lower level like that.  however, it turns out i actually need to use circular apertures to more properly handle our one wavefront sensor that has hexagonal lenslets.  in that case, ``ApertureMask.cutout()`` does exactly what i want with a cutout of the right size with pixels outside the aperture radius filled to 0.0.  otherwise the corners of the cutouts are contam

[2017-02-20 20:14] larrybradley opened #505 "Use python3 on RTD?"
@bsipocz   Is it OK to switch RTD to `python3` or will this cause problems?

[2017-02-20 20:50] bsipocz commented on #505
I think it should be fine, astropy core has switched already.

[2017-02-20 20:51] larrybradley commented on #505
OK, doing it now.  Thanks!

[2017-02-20 21:06] larrybradley commented on #505
The docs failed to build.  This is the only warning that I see:

copying static files... WARNING: html_static_path entry '/home/docs/checkouts/readthedocs.org/readthedocs/templates/sphinx/_static' does not exist

@bsipocz Have you seen this before?

[2017-02-20 21:14] bsipocz commented on #505
No, I haven't run into this one yet.

[2017-02-21 18:34] #505 closed

[2017-02-23 16:21] larrybradley commented on #499
I implemented a true minimal bounding box in #507.

[2017-02-23 16:21] #499 closed

[2017-02-24 21:08] larrybradley opened #509 "0.3.1 release"
I'd like to put out a 0.3.1 bugfix release early next week.  Anyone working on any open bugs that I should wait for?

[2017-03-02 16:40] larrybradley commented on #509
The release is done.  It's available from PyPI and soon from conda.  Thanks, everyone!

[2017-03-02 16:40] #509 closed

[2017-03-03 18:40] larrybradley commented on #345
This is an upstream issue with `Sphinx` and a duplicate issue is open on astropy (https://github.com/astropy/astropy/issues/4935) so I'm going to close this one.

[2017-03-03 18:40] #345 closed

[2017-03-08 05:14] #464 closed

[2017-03-15 16:34] mirca opened #517 "group stars from different iterations in the PSF Photometry algorithms"
I think it would make sense to put stars which are identified in different iterations, but which overlap each other, in the same group. Further, one could re-fit that group with the correct model (i.e., correct number of stars), instead of treating stars identified in different iterations independently.

So, a pseudo code might be

[code]

[2017-03-15 16:40] larrybradley commented on #517
This sounds reasonable to me.

[2017-03-17 23:21] mirca opened #519 "Rename 'flux' column in tables generated by ``StarFinderBase`` objects"
I think it makes sense to rename the ``flux`` column in tables generated by ``StarFinderBase`` objects to something like ``flux_peak_density``. I'm saying this because the name ``flux`` induces users to use those numbers as the initial guesses for the flux parameter in the PSF photometry code.

P.S.: I myself used ``flux`` from those tables as initial guesses for PSF photometry which end up genera

[2017-03-21 17:54] larrybradley commented on #519
@mirca Yes, I agree with that this will limit confusion.  However, this change should apply only to `DAOStarFinder`.  The output ``flux`` from `IRAFStarFinder` actually is a background-subtracted flux (I think the original `IRAFStarFinder` docs got overwritten when we moved them to the `StarFinderBase` class).  In other words, the `find_stars` documentation needs be different for the two finders.

[2017-03-21 17:56] mirca opened #523 "Allow the fitting region to be circular in PSF Photometry"
Currently the fitting region is defined by the ``fitshape`` parameter which defines a rectangular region around the (initial guess) center of the source.

It would be great to be able to perform the fit in a circular region.

I see this being implemented by allowing ``fitshape`` to be an ``CirclePixelRegion`` (from ``regions``) object which defines the fitting region.

[2017-03-21 18:01] larrybradley commented on #523
Yes, that would be nice.

It may be better (more general) to allow `fitshape` to be a "footprint" array (essentially an array of ones and zeros like a mask).  Such an array can be generated from apertures or regions using the `to_mask()` method.

Here's an example of a `footprint`:
http://photutils.readthedocs.io/en/latest/api/photutils.detection.find_peaks.html?highlight=footprint

[2017-03-21 22:21] migueldvb opened #524 "difference imaging methods"
Are there any plans to support difference imaging in `photutils`? This method is specially useful in some applications such as detection of transient events in crowded stellar fields.

[2017-03-22 13:41] larrybradley commented on #524
I'm not planning to work on that, but perhaps someone else is?  Of course PRs are welcome!

[2017-04-04 11:45] Gabriel-p commented on #443
Hi guys, sorry to be a bother. Just checking to see if any improvements were made on this issue. This is the only thing keeping me from using `photutils` to process publishable data, since I can't present photometry with no assigned uncertainties.

[2017-04-04 14:08] larrybradley commented on #443
@Gabriel-p There is an open PR (#516) that will hopefully be merged soon.

[2017-04-12 20:38] bjd2385 opened #533 "ModuleNotFoundError: No module named 'photutils.geometry.circular_overlap'"
Successfully installed photutils by cloning this repo, but then on import I get the following traceback:
[code]
Any suggestions for circumventing this issue?

[2017-04-12 20:44] #533 closed

[2017-04-13 14:46] pllim opened #534 "AttributeError: 'loggerclass' object has no attribute 'isatty'"
**Forwarded from STScI Help Desk**

I need to use the photutils package for may routine in python so I followed the instruction on this link to install it:  http://photutils.readthedocs.io/en/stable/photutils/install.html

basically this is what I did: `conda install -c astropy photutils`

but now, when I ran the routine, I get an error that has nothing to do with photutils. The point is that the

[2017-04-13 15:31] pllim commented on #534
False alarm. Problem solved with IPython update from 5.0 to 5.3.

[2017-04-13 15:31] #534 closed

[2017-04-18 08:44] philastrophist opened #535 "Unit errors with calc_total_error"
Why is the source variance calculated as the maximum of `data * data.unit / effective_gain.value`? Surely we need the unit of the effective gain as well for correct conversion?

[code]

[code]

[2017-04-18 17:00] Gabriel-p opened #536 "Return instrumental magnitude along with aperture sum"
The [aperture_photometry](https://photutils.readthedocs.io/en/stable/api/photutils.aperture_photometry.html) function currently returns just the sum of the flux within the aperture. Since the [instrumental magnitude](http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?phot) can be obtained with:

    mag = -2.5 * log10((aperture_sum - bckg) / itime)

where `bckg` is the sky value estimate and `itime` is t

[2017-04-19 21:10] larrybradley commented on #535
@philastrophist The calculation in `calc_total_errors` assumes that `data` and `bkg_error` have the same units.  This is required to do the addition with `Quantity` objects and to ensure the output total `error` array has the same units as the input `data`.  Sorry that wasn't documented or checked within the code.  I submitted a fix in #537 to explicitly require this and document it.

For your spe

[2017-04-19 21:25] larrybradley commented on #536
Thanks, @Gabriel-p.  This is encompassed in #463.

BTW, I'm not sure why you have `itime` in your equation.  That must assume that the input `data` are in some specific units, which we definitely don't require.

[2017-04-19 21:25] #536 closed

[2017-04-20 01:08] Gabriel-p commented on #536
Thank you @larrybradley.

The exposure (or integration) time `itime` is used by the [IRAF task](http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?phot) `phot` to calculate the instrumental magnitude.

![captura realizada el 2017-04-19 20 51 42](https://cloud.githubusercontent.com/assets/6054951/25208563/eb49b3a4-254b-11e7-98e6-2354ef92b876.png)

As far as I understand it is used to bring frames of diffe

[2017-04-30 15:49] ysBach opened #539 "Question on snr in make_source_mask and detect_threshold"
I was looking at `make_source_mask` documentation and the [source code](https://photutils.readthedocs.io/en/stable/_modules/photutils/segmentation/detect.html#make_source_mask) and became curious about the term `snr`. Maybe I am misunderstanding some concepts. If you find I'm wrong with something, comments will be very helpful.

-----

Usually the roughly estimated signal to noise ratio, or the SN

[2017-04-30 16:18] ysBach commented on #539
As a very primitive manner, I have made the following code for check:

[code]

and used it as
[code]
Following figures are the results from `snr=3` and `snr=5`, respectively.
In the overplotted image, **yellow-ish overplot** = *new function detected while the original did not*.
![anr3](https://cloud.githubusercontent.com/assets/17214293/25565934/d675c1e8-2e0b-11e7-93f2-5229a8a2e6c2.png)
![snr5](ht

[2017-05-01 23:13] Gabriel-p opened #540 "Better center coordinates given initial values"
The [phot IRAF task](http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?phot.hlp) computes accurate center coordinates given initial approximate values. Is there some function in `photutils` that can do this?

This is a rough sketch I made using [cutout_footprint](http://photutils.readthedocs.io/en/stable/api/photutils.utils.cutout_footprint.html) and [centroid_2dg](http://photutils.readthedocs.io/en/sta

[2017-05-02 18:28] mirca opened #541 "Use of subtract_psf in the nstar method"
The user should be able to control ``sub_shape`` parameter passed to ``subtract_psf`` inside the ``nstar`` method.

[2017-05-10 13:40] ysBach opened #543 "Background2D "exclude_mesh_method" does not seem to work"
As in the following code, I made a fake image.

As far as I understand, the `bkg1` and `bkg2` must give different results in the following case, since `exclude_mesh_method` differs a lot. At least at the central mesh, `mesh_nmasked` gives 144, so I thought that mesh is neglected for background estimation in `bkg2`. But the figure I drew, the ratio between the two backgrounds, is a constant map of

[2017-05-12 20:13] larrybradley commented on #543
@ysBach, thanks for your report.  In your examples, changing `exclude_mesh_percentile` indeed has no effect because the mesh rejection applies only to pixels in the input `mask` array, not any additional masked pixels resulting from sigma clipping.  This is stated in the documentation for the `exclude_mesh_method` keyword.

I just submitted a PR (#544) that will change this behavior to also includ

[2017-05-12 20:13] #543 closed

[2017-05-18 14:40] bsipocz opened #545 "Doctest failures due to updates to astropy.stats.biweight_midvariance"
Changes in https://github.com/astropy/astropy/pull/5991 broke some of the doctests in photutils.
The examples should either be reworked or skipped until photutils requires astropy v2.0+

[code]

[2017-05-18 14:47] bsipocz commented on #545
Also I have noticed that the recent changes are not propagated over here to ``photutils.extern.stats``.
I can open a PR for that if that was just an oversight, or do you prefer to track released versions only?

[2017-05-23 20:11] Gabriel-p opened #546 "Help reproducing fitparams task"
Disclaimer: _This is not an issue with `photutils`. I'm just out of ideas and I don't where else to turn for help. I will therefore understand completely if this is closed on the spot. That said, I will really appreciate any help you could give me, since I've been trying to figure this out for weeks now._

--------------------------------------------------------------------------
I'm trying to rep

[2017-05-30 15:35] larrybradley commented on #545
This was fixed in #547.

[2017-05-30 15:35] #545 closed

[2017-05-31 14:49] larrybradley commented on #546
@Gabriel-p I left this open for a week hoping someone could answer, but apparently not -- so I'm closing this now.  Even though this is not a python question, you could try to ping the "Python users in Astronomy" Facebook group, which has a wider audience of over 2300 members.  Ultimately, you may need to decipher the code (unless you can find the original author).  If it helps, the language is ca

[2017-05-31 14:49] #546 closed

[2017-05-31 15:21] Gabriel-p commented on #546
Thanks @larrybradley. I knew it was a long shot asking here, but I had to try. I know the FB group you mention. I sent a request for joining months ago, but it is still pending.

[2017-05-31 15:53] mirca commented on #546
@Gabriel-p I think I can add you to the FB group, but you need to be my friend first (:

[2017-05-31 17:16] bsipocz commented on #546
@kelle is one of the admins there (I'm not sure who else), they can add you as a member.

[2017-05-31 17:44] kelle commented on #546
@Gabriel-p I've just approved your request to join the FB group.

[2017-05-31 18:16] Gabriel-p commented on #546
Thank you all!

[2017-06-09 12:36] Gabriel-p opened #551 "Obtain proper mean magnitude value"
Is there a function in photutils to correctly average several magnitude values for the same source, obtained from different observed frames?

I'm thinking of what the DAOMASTER code does when estimating mean magnitudes for observations using different exposures.

[2017-06-19 14:58] larrybradley opened #552 "0.4 release"
Shortly after the official astropy 2.0 release, I'd like to release 0.4.  For this release, I think it would be good to drop support for the astropy 1.x and 1.0.x LTS and make astropy >= 2.0 as the dependency.  Any objections to requiring astropy >= 2.0?

[2017-06-19 15:06] bsipocz commented on #552
Obviously astropy-helpers v2.0 should be included in the release to support newer sphinx.

[2017-06-19 15:08] larrybradley commented on #552
Yes.  I assume astropy-helpers v2.0 will come out with astropy 2.0?

[2017-06-19 15:10] bsipocz commented on #552
Yes. Originally I planned to have a v1.3.2 that had that fix, but now it's more and more pointless so will go straight with 2.0.

[2017-06-27 22:36] virajpandya commented on #535
Building on this question, I noticed that `calc_total_erors` *divides* `data` by the `effective_gain`. Since `effective_gain` is assumed to have units of electrons/image_units, wouldn't you want to *multiply* `data` by ``effective_gain`? Basically I think `calc_total_errors` isn't actually doing the calculation that @larrybradley said in the message above: `error = np.sqrt(data * gain + bkg_err**2

[2017-06-27 22:55] larrybradley commented on #535
@virajpandya It is doing the correct calculation.  `calc_total_error` requires the `data` and `bkg_error` inputs to have the same units (as described above) and the output is also returned in the same units, **not** electrons.

This is the total error in *electrons* (assuming `data` and `bkg_error` have the same units):
The first term is the image Poisson statistics, which require the actual count

[2017-06-27 22:56] #535 closed

[2017-07-05 20:02] saimn opened #557 "Photometry notebooks are outdated"
The PSF Photometry [notebooks](http://photutils.readthedocs.io/en/stable/photutils/psf.html#example-notebooks-online) "PSF photometry on artificial Gaussian stars" and "PSF/PRF Photometry on Spitzer Data" use a `psf_photometry` function that has apparently been removed. Maybe better to remove these notebooks, because it's quite frustrating to read the notebooks and find that it's not possible to d

[2017-07-05 20:08] saimn opened #558 "Using a Moffat PSF"
Using `IterativelySubtractedPSFPhotometry` with a `Moffat2D` from Astropy (master) does not work:
[code]
Maybe related to https://github.com/astropy/astropy/pull/6027 which added a `fwhm` attribute which is a scalar (so no `.value` attribute) ?

[2017-07-05 20:10] saimn commented on #558
I also tested with `Gaussian2D` from Astropy, just to see, and get another (different) failure. Is it required to use a photutils-specific PSF object ?

[2017-07-05 20:25] panossk opened #559 "plotting the RectangularAperture results in TypeError"
Hi,
I'm working on a photometry measuring script for which I will ultimately need to make rectangular apertures. My script works fine with circular ones, but once I switched to rectangular ones,
the script fails in the plotting part, regardless of the fact that the photometry seems to be measured ok.

So i define my aperture:

apertures = RectangularAperture(pix_coords, w= 20, h= 20, theta= 0)

an

[2017-07-05 21:45] larrybradley commented on #559
@panossk I cannot reproduce this error.  What version of `photutils` are you using?

[code]

![download](https://user-images.githubusercontent.com/4992897/27886326-92d2efde-61a9-11e7-9f36-c0107e100c1f.png)

[2017-07-06 15:15] charlotteolsen opened #560 "Attribute error for multiple positions"
I'm getting an attribute error when trying to create a phot_table for multiple positions.
Here is what happens when I try to run  the example for multiple elliptical apertures.
<
**positions = [(30., 30.), (40., 40.)]

a = [5., 6., 7.]
b = [3., 4., 5.]
theta = np.pi / 4.
apertures = [EllipticalAperture(positions, a=ai, b=bi, theta=theta)
              for (ai, bi) in zip(a, b)]
phot_table = apertu

[2017-07-06 15:27] larrybradley commented on #560
@charlotteolsen Your example works fine for me.  It appears that you are using an older version of `photutils` that does not support multiple apertures.  That feature was introduced in v0.3.

What version are you using?  Here's how you can check:

[code]

[2017-07-06 16:21] mirca commented on #558
@saimn This can be solved by initializing ``aperture_radius`` with a positive float value when creating a ``IterativelySubtractedPSFPhotometry`` object.

In principle, no. ``psf_model`` should be any ``astropy.modeling.Fittable2DModel`` which meets the criterion of having ``x_0``, ``y_0``, and ``flux`` as parameters.

[2017-07-06 16:23] mirca commented on #558
@saimn

I guess so, ``fwhm`` has been added as a property which indeed does not have ``value`` as attribute.

[2017-07-06 16:42] charlotteolsen commented on #560
Aha! That looks like it's the problem. It appears I'm running version 0.2.2

I will update!

Thank you so much!

On Thu, Jul 6, 2017 at 11:27 AM, Larry Bradley <notifications@github.com>
wrote:

[2017-07-06 16:54] #560 closed

[2017-07-06 21:52] saimn commented on #558
@mirca - indeed, setting `aperture_radius` allows to bypass the first issue. But then I get almost the same error as with `Gaussian2D`:
[code]

[2017-07-06 22:19] mirca commented on #558
@saimn That's because ``Gaussian2D`` does not have a parameter name called ``flux`` (or ``x_0`` and ``y_0``). Check [this](https://photutils.readthedocs.io/en/stable/api/photutils.psf.prepare_psf_model.html#photutils.psf.prepare_psf_model) out for a function which converts a ``Fittable2DModel`` into a "valid" PSF model.

[2017-07-07 18:42] panossk commented on #559
Hi Larry, thanks for answering.

I noticed I was on 0.2.2, and upgraded to 0.3.2.
That doesn't seem to solve my problem though. I executed your bit of script, and it resulted in the same error:

`>>> import matplotlib.pylab as plt

and the result was:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib64/python2.7/site-packages/photutils/aperture/rectangle.py

[2017-07-07 18:47] bsipocz commented on #559
@panossk - I wonder whether the matplotlib versions differ on the two computers?

[2017-07-07 18:48] larrybradley commented on #559
That suggests that `matplotlib` is the culprit.  Line 205 of `rectangle.py` (from your traceback) is a call to `matplotlib.mpatches.Rectangle`.

[2017-07-07 18:49] panossk commented on #559
thanks, Brigitta and Larry for pointing this out, I will check it right away, and get back to you.

[2017-07-07 18:59] bsipocz commented on #559
@larrybradley - maybe we should state a minimum mpl somewhere in the docs?

[2017-07-07 19:01] larrybradley commented on #559
@bsipocz - yep, it's already there in the installation docs: `matplotlib > 1.3` (http://photutils.readthedocs.io/en/latest/photutils/install.html)

[2017-07-07 19:05] panossk commented on #559
ok, so indeed, on my workstation it was version 1.2.0, whereas on my laptop 1.3.1.

I just updated it to the latest (2.0.something), and it seems to handle it worse.
Now the error message is many lines long.

I tried to install v1.3.1 specifically but pip fails this particular task, for yet another reason I can't understand.

So right now I'm without functional matplotlib.

[2017-07-07 19:13] larrybradley commented on #559
@panossk I'm using the latest`matplotlib` (2.0.2), so perhaps something happened with your installation.  If you are using pip, you could try uninstalling first (`pip uninstall matplotlib`; perhaps run this more than once to be sure) and then `pip install matplotlib` (v2.0.2) (or `pip intstall matplotlib==1.3.1`).

[2017-07-07 19:19] panossk commented on #559
If I use version 2.0.2 of mpl, I can't even import mpl without an error saying I'm missing the module called Tkinter.
If I google this rapidly, it seems related to python3.
Now the last thing I'd want to mess with is python versions beyond 2.7 (if I understand what I'm seeing well).

I did what you suggested, but demanding the specific version (also 1.4, which i tried randomly), results in a pip e

[2017-07-07 19:25] larrybradley commented on #559
If `pip` is giving you trouble, you can always directly download the source tarball for whichever version you want (from https://github.com/matplotlib/matplotlib/releases).

Unpack the tarball, cd to the matplotlib directory, and then run `python install setup.py`.

In case your not aware of it, I'd also suggest you look into Anaconda/Conda (https://www.continuum.io/downloads; https://conda.io/doc

[2017-07-07 19:42] panossk commented on #559
I must be doing something very wrong.

I tried installing it as you suggested ( i suppose you meant `python setup.py install`, right? because with "install" first, it looks for a file called install), and nothing happens.

I downloaded v1.3.1 from the link you provided, unpacked, went into the directory with setup.py, executed the command, it shows some text starting with "==========" and some par

[2017-07-07 19:52] larrybradley commented on #559
@panossk Sorry, yes, `python setup.py install`.  I'm not sure what else to suggest other than trying Anaconda/Miniconda.  Any ideas, @bsipocz?

[2017-07-07 19:53] panossk commented on #559
As far as version 2.0.2 goes, my issue is this module called "tkinter", which I can't understand what it is about.

I'm trying Anaconda as we speak.

[2017-07-07 19:56] larrybradley commented on #559
Have you tried to install `tkinter`:  `pip install tkinter`?

[2017-07-07 19:57] panossk commented on #559
yes, it is not a "package" so pip doesn't find it.

[2017-07-07 20:00] panossk commented on #559
Anaconda seems to be re-installing the whole python distribution. I hope that's not a problem.

[2017-07-07 20:07] panossk commented on #559
**Update**:

ok so with Anaconda it seems the python distrib was re-installed or something like this.
Matplotlib is available (2.0.2) but photutils is gone. That should be easy to re-install too, so I might be close to the end of the tunnel.

[2017-07-07 20:10] panossk commented on #559
Ok, I guess I'm not going to be lucky any time soon.

Photutils is installed but python now can't "see" it and acts like it's not.

I already uninstalled it and re-installed it but to no avail.

[2017-07-07 20:11] larrybradley commented on #559
`photutils` isn't included with Anaconda, but you can easily install it from the astropy channel:

`conda install photutils -c astropy`

[2017-07-07 20:11] larrybradley commented on #559
Does it show up in `conda list`?

[2017-07-07 20:17] bsipocz commented on #559
Locally I have 2.0.0 and 2.0.2 for python2.7 and python3.5 using pip. I've never run into this tkinter issue (it seems to be the python interface to tcl/tk, I have the installed by fink). So without digging into the specifics of your system, the easiest I can suggest is indeed to go with conda.

All the astropy affiliates are available in the ``astropy`` channel, you can specify it with ``-c astro

[2017-07-07 20:19] bsipocz commented on #559
Oh, one more thing. If it was your desktop, probably you've used the system package manager to install the python packages, rather than pip? (e.g. apt-get, dpkg, etc). If that's the case, you may want to try them to install mpl, as pip could mess up those cases...

[2017-07-07 20:31] panossk commented on #559
@larrybradley
thanks for the command line, I started looking for it and it seemed not obvious to find (most fora pointed to Windows for some reason...).

Ok so now photutils is installed, everything seems correctly imported in my python (it also installed ipython, which for some reason I could not before, and I find it quite more handy when working interactively), and my script worked! I can final

[2017-07-07 20:36] larrybradley commented on #559
@panossk Glad to hear to you got it working!

[2017-07-07 20:36] #559 closed

[2017-07-23 16:57] karpov-sv opened #563 ""deblend_sources" properly deblends only the first blend it encounters"
The deblending code in `deblend_sources` now properly deblends only the first blend it encounters, as it re-writes the reference to original `data` and therefore passes wrong image data to underlying `_deblend_source` function after first successful deblending. The following simple patch fixes it:

[code]

[2017-07-25 09:45] Mahyaaa opened #564 "Defining a custom aperture"
Is there the possibility to define a ds9 region (any kind of polygon) and do the photometry inside the region? Since I should measure the flux for the filaments, the regular shapes of apertures can not be used. Therefore, I need to define a custom aperture in a shape of an arbitrary polygon.

[2017-07-25 19:45] larrybradley commented on #564
@Mahyaaa  Not yet.  There are plans to add polygon regions to the astropy regions package (http://astropy-regions.readthedocs.io/en/stable/), but they are not defined yet.  Once added there, they could be used to perform photometry.

[2017-07-25 19:46] #564 closed

[2017-07-25 22:37] bsipocz commented on #564
For the record, there is already an issue about it #467

[2017-07-28 22:37] larrybradley commented on #563
@karpov-sv Thank you for reporting this issue!  PR https://github.com/astropy/photutils/pull/572 fixes this bug.

[2017-07-29 00:40] #563 closed

[2017-08-02 13:03] saimn commented on #558
I tried with `prepare_psf_model` but still no luck. First, it sets attributes `xname`, `yname`, but `_extract_psf_fitting_names` looks for `psf_xname` and `psf_yname`. Then, if I fix `_extract_psf_fitting_names` (seems the most obvious solution), I end up with this:
[code]